[2020-10-19 17:09] yash2189 commented on #4000
Thanks @justinegeffen I have started and will raise a PR shortly

[2020-10-19 17:26] yash2189 commented on #4000
Hi @grundleborg @justinegeffen Please review my PR  #4011  and let me know if there are any changes.

[2020-10-19 17:41] justinegeffen commented on #4000
Hi @yash2189. I'll take a look shortly.

You can disregard the deploy error, as it relates to our preview server build which unfortunately doesn't apply to forked repos. The CLA error can be remedied by signing the CLA - the steps are provided in the PR just beneath your commit message. :)

[2020-10-19 18:06] yash2189 commented on #4000
@justinegeffen I have made the changes , please review the same.
Thanks

[2020-10-19 21:08] #4000 closed

[2020-10-19 21:09] justinegeffen commented on #3974
We are participating in Hacktoberfest, and when you submit a PR you need to sign the CLA. The information around the CLA is posted when you submit your PR. :) @jasonblais can confirm that your PR would be included as a Hacktoberfest contribution.

[2020-10-19 21:17] jasonblais commented on #3974
@kichloo Yes, we are participating in Hacktoberfest and your PR would count towards the event. Thanks for your interest in contributing!

[2020-10-20 02:29] kichloo commented on #3974
@justinegeffen Now, I have started the translation. And wanted to know that should the software names such as Ubuntu be written in English/ Hindi, whichever seems good with the organization.

[2020-10-20 11:00] justinegeffen commented on #3974
Thanks, @kichloo. We don't currently have a preference as the translations have primarily been in-product. We're very open to working with the community to put together a standard for translating the documentation which would include naming conventions. One option is to raise this in the i18n channel as there are very experienced community members who may have considered this previously and have f

[2020-10-20 14:40] kichloo commented on #3974
@justinegeffen No problem. First will make the PR. Then, will make the suggested changes, if any.

[2020-10-20 15:11] #3962 closed

[2020-10-20 15:14] jwilander commented on #3992
@justinegeffen any guidance you can give @akshitadixit ?

[2020-10-20 15:59] esethna opened #4020 "Theme examples page has themes that are not compatible with newer versions of the server"
We need to update the sharable theme codes on this page since they are out of date and some are not compatible anymore.

https://docs.mattermost.com/help/settings/theme-colors.html

Example issue with incompatibility: https://mattermost.atlassian.net/browse/MM-29631

[2020-10-20 23:42] wget commented on #3974
@jasonblais I see the others PR are ready to get merged for a long time and I have been quite a blocker here since I was disagreeing at that time with you to translate these guides /outside/ any translation tool.

Since I changed my mind about this, please revive the other 2 PRs o that they get can pass the test and be finally merged ;)

I'm in a catchup period right now and I see the CI build fai

[2020-10-20 23:50] jasonblais commented on #3974
Hi @wget, there is in fact some work left to fully support translated documentation, so the other two PRs haven't yet been merged. But @justinegeffen is actively working on it.

[2020-10-20 23:53] wget commented on #3974
Ah ok ;) I'll mute these PRs for now then ;) Note: I won't be receiving any new notification unless if you mention me there explicitly ;)

[2020-10-21 07:58] justinegeffen commented on #3992
Thanks, @jwilander!

Hi @akshitadixit. Thank you for offering to help with this issue. I recommend confirming with @sadohert as to the changes that need to be made in this document https://docs.mattermost.com/deployment/elasticsearch.html.

As you're a first-time contributor I recommend reading the docs [README.md](https://github.com/mattermost/docs) which contains some background and guidelines f

[2020-10-21 08:16] justinegeffen commented on #3974
Hi @wget! I've also been a blocker for this and am going to be reviving them as Jason mentioned. I've moved my comments to [this thread](https://community.mattermost.com/core/pl/r7syteuic7bm5e5bgia44q4kcw) for visibility.

[2020-10-21 09:08] yash2189 commented on #3992
Hello can I work on this if it's available? If yes , is it possible to guide me related to the same.
Thanks.

[2020-10-21 09:12] yash2189 commented on #3927
Hello can I work on this if it's available ? I would like to contribute to `mattermost/docs`
Thanks.

[2020-10-21 09:16] yash2189 commented on #3872
Hello is this issue still available to work on ? As I am new to opensource and I would like to contribute to the documentation part of `mattermost/docs`.
Thanks

[2020-10-21 09:21] yash2189 commented on #3948
Hello @grundleborg Can you please tell me what needs to be done for this issue. I would like to contribute.

[2020-10-21 09:30] #3797 closed

[2020-10-21 09:31] justinegeffen commented on #4020
Thanks, @esethna! Would you be open to updating the docs and submitting a PR? Happy to review it once it's ready. :)

[2020-10-21 09:32] justinegeffen commented on #3927
Thanks, @yash2189!

@malakar-swastik, are you currently working on this? :)

[2020-10-21 09:51] justinegeffen commented on #3872
Hi @yash2189. Thanks for your offer! @Lorem703, are you currently working on this? :)

[2020-10-21 11:55] justinegeffen commented on #3948
Hi @yash2189. I believe the content that needs to be updated is this: **https://docs.mattermost.com/administration/config-settings.html#index-prefix**. The content does exist but it looks like this is an enhancement to further explain the usage of the setting.

@grundleborg, is that accurate?

[2020-10-21 12:04] yash2189 commented on #3948
So will this issue be resolved by adding a note below the `Index Prefix`?

[2020-10-21 12:21] justinegeffen commented on #3948
Yes, I think the suggested content would be appended to the current content. A note could work or just a line break with a new sentence. It's completely up to you - whatever option you take can be discussed in the PR and changed if needed. :)

[2020-10-21 13:27] yash2189 commented on #3948
sure @justinegeffen I'll add the suggested content. Can this be taken under Hacktoberfest or is the label removed?

[2020-10-21 14:13] justinegeffen commented on #3948
Thanks, @yash2189. Would you be open to sharing the PR link here so we can link the issue and the PR? Thank you!

[2020-10-21 14:23] yash2189 commented on #3948
Sure I am working on the same @justinegeffen.

[2020-10-21 14:28] kichloo commented on #3974
@justinegeffen @jasonblais Kindly check the PR

[2020-10-21 14:55] yash2189 commented on #3948
@justinegeffen Can you please review my PR #4021

[2020-10-21 17:51] esethna commented on #4020
@justinegeffen done

[2020-10-21 20:24] #4020 closed

[2020-10-22 16:06] yash2189 commented on #3992
@justinegeffen can I work on this?

[2020-10-22 16:07] yash2189 commented on #3857
@justinegeffen Can I work on this if it's available?

[2020-10-22 16:07] justinegeffen commented on #3992
Hi @yash2189. It looks like @akshitadixit has offered to work on this ticket but I'm not sure whether any work has been started or help is needed.

[2020-10-22 16:08] justinegeffen commented on #3857
Thanks, @yash2189! I assigned it to @puranjaymohan as requested but am not sure of the current status. @puranjaymohan, would you be open to sharing where you are with this and whether you need any help? :)

[2020-10-22 18:52] yash2189 commented on #3992
Hi @justinegeffen , is it fine that I could work on the same since there has not been any response yet?

[2020-10-22 18:55] yash2189 commented on #3927
@justinegeffen any updates whether I can work on this issue?

[2020-10-22 19:10] yash2189 commented on #3630
@justinegeffen is this issue available?

[2020-10-22 19:10] justinegeffen commented on #3630
It is, @yash2189! You're welcome to take it. :)

[2020-10-22 19:14] yash2189 commented on #3630
@justinegeffen one of my PR in mattermost-docs is yet to be reviewed , since I can't delete my existing repository is it fine if I raise a PR from the same repository?

[2020-10-22 19:34] yash2189 commented on #3630
@justinegeffen can you please review my PR #4027 ?
Thanks.

[2020-10-22 20:25] justinegeffen commented on #3630
There shouldn't be any issues with opening a new PR from your forked repo as it's a separate file, although I stand corrected on that. The PR you previously submitted is awaiting review which may take a day or so but it has had an editorial review already. And I have reviewed your most recent PR as well. Thank you for your contributions and enthusiasm! :)

[2020-10-22 20:27] yash2189 commented on #3630
Thanks @justinegeffen for providing the opportunity :)

[2020-10-22 20:29] justinegeffen commented on #3943
Thanks, @DavidePrincipi! Would you be open to updating the Mattermost docs with your feedback? :)

[2020-10-22 20:31] justinegeffen commented on #3626
Hi @pulkownik1803. I wanted to follow up on this and confirm whether it's been resolved.

[2020-10-22 20:32] #3572 closed

[2020-10-22 20:33] justinegeffen commented on #3527
Hi @MirceaAndreiAlbu. I wanted to follow up on this and find out whether you've been able to resolve your query. :)

[2020-10-22 20:34] #3461 closed

[2020-10-22 20:37] justinegeffen commented on #3992
I'd like to propose allowing @akshitadixit some time to get back to this and in the meantime if you'd be open to some of the other issues that are up for grabs that would be great. I've removed that label from issues that are currently taken so you shouldn't have any blockers.

[2020-10-23 01:25] akshitadixit commented on #3992
Hey @justinegeffen thank you for the consideration. I am on it!

[2020-10-23 06:25] #3630 closed

[2020-10-23 06:41] yash2189 commented on #3725
hi @justinegeffen can you please tell me what needs to be done for this issue?

[2020-10-23 06:47] justinegeffen commented on #3725
Hi @yash2189! The [PR](https://github.com/mattermost/mattermost-webapp/pull/4993) contains the history of the change and screenshots. However, as you will see in my last comment, I am waiting additional confirmation on the changes made. I have not yet received that feedback but I believe @hanzei is a great resource and may be able to guide you in terms of what needs to be updated on the [relevant

[2020-10-23 06:50] MirceaAndreiAlbu commented on #3527
We updated to a new version and everything is fine now. Thanks

[2020-10-23 06:50] #3527 closed

[2020-10-23 07:03] yash2189 commented on #3725
Thanks @justinegeffen . @hanzei Can you please tell me what needs to be updated on the page?

[2020-10-23 11:50] hanzei commented on #3725
https://github.com/mattermost/mattermost-webapp/pull/4993 did add support for different styles to message buttons. This should be reflected in a new section in https://docs.mattermost.com/developer/interactive-messages.html that explains with a screenshots the different supported styles. The PR does contain a list of all of these.

Let me know if that helps you get started.

[2020-10-23 12:10] yash2189 commented on #3725
Sure @hanzei ,thanks I'll have a read on the content provided by you and will get back once I'm done with my reading.

[2020-10-24 10:50] #3979 closed

[2020-10-26 06:30] bradybus opened #4034 "Gitlab requires at least one scope when creating application"
https://github.com/mattermost/docs/blob/master/source/deployment/sso-gitlab.rst states to not select any options under Scopes. However, when creating a new application, Gitlab requires a value in the Scopes section.

I am running a self-hosted environment with gitlab-ce 13.5.1. I am not sure if the same restriction applies to an account on the main gitlab.com.

[2020-10-26 21:29] galihmelon commented on #3280
CMIIW, but it seems that the change needs to be done in [a different repo](https://github.com/mattermost/mattermost-plugin-jira).
It's because [the relevant page on docs.mattermost.com](https://docs.mattermost.com/integrations/jira.html) says that it's moving to [gitbook](https://mattermost.gitbook.io/plugin-jira/admininstrator-guide/troubleshooting), which uses the other repo as the content sourc

[2020-10-27 07:52] #3948 closed

[2020-10-27 14:02] hack3r-0m commented on #3220
I want to work on this issue, can anyone guide me regarding what all things to include? and it must be placed in docs/source/install/?

[2020-10-27 14:56] justinegeffen commented on #3220
Hi @hack3r-0m! Thank you, that would be excellent. You can find the contribution guidelines [here](https://github.com/mattermost/docs).

I believe [this](https://docs.mattermost.com/install/desktop-msi-gpo.html) is the documentation that needs to be updated, but @esethna can confirm that. :)

[2020-10-27 15:01] esethna commented on #3220
Yes, we should add another section to that doc after the "Installation Guide" section that is the "Silent Installation Guide"

[2020-10-28 15:05] yash2189 commented on #3872
@justinegeffen Is this issue resolved or can it be taken?

[2020-10-28 15:06] yash2189 commented on #3318
@justinegeffen Can you please tell me what needs to be done for this issue?
Thanks

[2020-10-28 15:10] yash2189 commented on #3725
@hanzei I read the content , so is it just like a small section that needs to be added for Message buttons only?

[2020-10-28 15:10] justinegeffen commented on #3872
Hi @yash2189. It has not yet been resolved so I am happy to reassign it to you and take it off @Lorem703's plate. @Lorem703, thank you for your offer to take this on. Looking forward to working with you in the future! :)

[2020-10-28 15:11] justinegeffen commented on #3318
Hi @yash2189. Have you been able to view the original post? It should provide some additional context. Additionally, @sadohert should be able to provide some guidance as well. :)

[2020-10-28 18:23] yash2189 commented on #3318
hello @justinegeffen ,yes I will see the same tomorrow and update you if that's fine? I wish to contribute to the docs even after the Hacktoberfest ends if that is fine?

[2020-10-29 13:19] nizarmah commented on #2733
@jespino Apparently this issue is still relevant today. I tried cherry picking @icelander's fix but the fix did not work.

Therefore, I added some print medias in the PR shown above.

Before:

[2020-10-29 13:52] #2733 closed

[2020-10-30 19:01] trishitapingolia commented on #3205
What changes do you want? Can you explain !
@amyblais image names are below the images, where else do you want them to be or should they be removed?

[2020-10-30 19:04] amyblais commented on #3205
@trishitapingolia I was thinking the image names could be removed if there is a way to do it.

[2020-10-30 20:05] trishitapingolia commented on #3205
@amyblais can you review my pr !
So that I can do it for other files too.

[2020-10-30 21:12] yash2189 commented on #3872
@justinegeffen I wish to contribute to this issue beyond Hacktoberfest if that is fine?

[2020-11-01 21:10] #3205 closed

[2020-11-03 10:47] hanzei commented on #3725
Yes, there should be a new section for style of message buttons with screenshots.

[2020-11-03 11:41] yash2189 commented on #3725
@hanzei As for the screenshots do I need to setup the local environment?

[2020-11-03 12:13] hanzei commented on #3725
Either that or you use the one from https://github.com/mattermost/mattermost-webapp/pull/4993

[2020-11-04 17:09] matterdoc opened #4086 "Request for Documentation: add some notes or forum post about saml idp with okta"
Mattermost user `sven.huester` from https://community-daily.mattermost.com has requested the following be documented:

[code]

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-11-06 08:37] #3983 closed

[2020-11-06 12:04] #3974 closed

[2020-11-10 16:25] nigelhorne opened #4101 "Document how to work with SELinux in enforcing mode"
This line is missing from [https://docs.mattermost.com/install/install-rhel-8.html](url):

`sudo restorecon -R /opt/mattermost/`

It should come after the line saying

`sudo chmod -R g+w /opt/mattermost`

[2020-11-10 16:28] nigelhorne opened #4102 "TLS documentation headless machine"
The documentation for TLS. [https://docs.mattermost.com/install/config-tls-mattermost.html](url) does not mention how to configure your system on a headless machine (step 1 "System Console > Environment > Web Server") is not available.

[2020-11-10 16:31] nigelhorne opened #4103 "Making executable mode typo"
On [https://docs.mattermost.com/install/install-rhel-8.html](url) there is this typo:

[code]

The command is correct (you should run that), the point is however that the service file does _not_ need to be executable.

[2020-11-10 16:38] justinegeffen commented on #4101
Thank you for letting us know, @nigelhorne! Would you be open to updating the doc and opening a PR for it?

[2020-11-10 16:40] justinegeffen commented on #4103
Thank you for raising this, @nigelhorne. :) I noted the other issues you raised, which were related to this. If you're open to updating the docs with your feedback that'd be extremely helpful. Let me know if you encounter any problems. :)

[2020-11-11 09:29] matterdoc opened #4106 "Request for Documentation: Hi Team, in Allow untrusted internal connections is the whitelist based on DNS resolution?"
Mattermost user `george` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/yahfyna3ffd7bmpupbxhxgfw6y).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-11-12 15:01] nigelhorne opened #4107 "Network map missing ports"
Please add the ports used to the diagram on [https://docs.mattermost.com/overview/architecture.html](url), so that I can know which firewall ports to open for clients to speak to the server without a proxy.

[2020-11-12 16:22] matterdoc opened #4108 "Help Wanted: Align recommendations on file descriptor limits across all docs"
# Context

File descriptors are an integer representing an abstract indicator used to access files or other input/output resources, such as pipes, network sockets, and devices.

Each process on a Unix-like operating system has a table of file descriptors, which it uses to keep track of the files it is interacting with.

The Mattermost server, being an application that heavily interacts with files,

[2020-11-17 15:00] sadohert commented on #3992
Hi All... need to also ensure these permissions are allowed for the service account that connects to Elastic:

`“indices:admin/get” privilege`... I *believe* they're already covered by the role I expressed in the `json` above, but need to confirm:

[code]

These should also be documented to account for the possibility of an "IndexPrefix".

[2020-11-18 15:43] matterdoc opened #4120 "Request for Documentation: Clarify the role's/tradeoffs/recommendations on using `mmctl` versus the legacy `cli`"
Mattermost user `stu.doherty` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/zgzbngpggfrfjp73jafaishpic).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-11-18 16:04] sadohert commented on #3992
Here's another snippet:

[code]

[2020-11-18 16:06] yash2189 commented on #3992
hi is this issue still available?

[2020-11-19 11:24] sadohert commented on #4120
Also might need to have a call out on this page:

https://docs.mattermost.com/administration/config-in-database.html

Making note that "HA Deployments should use `mmctl` for modifying configuration" in the cluster... we need to confirm this line, but this is the conclusion I'm coming to.

[2020-11-21 12:51] mihai-satmarean commented on #3659
thanks! good effort, we are looking at the same, @philzyk any progress on OpenAuth2.0+UMA in GLUU, can you post your findings/references?
Cheers!

[2020-11-24 10:10] #2876 closed

[2020-11-24 17:00] matterdoc opened #4131 "Request for Documentation: Clarify environment variable behaviour with configuration that is uploaded (SAML/LDAP certs)"
Mattermost user `stu.doherty` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/16z3tfn8oi8zbfj34q5yjcah8o).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-11-29 09:54] haardikdharma10 commented on #3220
Hey @esethna, I'd like to work on this. Also, just to be clear here, we need to create a new section as you mentioned above and add the command to install 4.3.1 MSI silent. Can you please confirm so I'll go ahead and open up a PR?

[2020-11-29 12:25] sadohert commented on #3992
Hi @yash2189  - I'm not 100% sure.  @justinegeffen  can you comment?

Here is some additional insight discovered by @mkdbns:

***
The actions above succeeded with the following configured permissions. A few notes:
Please note that I defined the permissions using the underlying ES permissions vs Action Groups (Monitor, Read, Write, etc.) as they may vary across deployments.
The cluster-level "indic

[2020-12-01 10:57] sadohert opened #4138 "Configuration settings for "Email" don't seem to be organized under the right headings"
Starting from this top-level documentation page:

https://docs.mattermost.com/administration/config-settings.html

If I click on the "Email" entry of the table of contents I'm take down to the "Experimental Settings on in config.json", which seems to be blank, so not required.

I was actually trying to get to the "Email Notifications/Server" settings section [here](https://docs.mattermost.com/admi

[2020-12-01 11:00] sadohert commented on #4138
Actualy, the stuff I was looking for was in the notifications section:

https://docs.mattermost.com/administration/config-settings.html#enable-email-batching

Given a bunch of these settings are organized under the same section of `config.json` I wonder if they should be discoverable on the docs page this way.

[2020-12-01 16:03] justinegeffen commented on #4138
Thanks for this, @sadohert. I've assigned @cwarnermm to this for her perspective. :)

[2020-12-01 17:57] esethna commented on #3220
@haardikdharma10 yes makes sense! However please note that our lastest version is now 4.6.1

[2020-12-01 19:53] jasonblais opened #4141 "[Help Wanted] Document how team admins can see their teams' statistics"
This is following a conversation with Dennis regarding this feature request: https://mattermost.uservoice.com/forums/306457-general/suggestions/17208602-allow-team-admins-to-see-statistics-for-their-team

Today, this use case can be achieved via new admin roles and mmctl in the scenarios where ALL Team admins were allowed to see ALL team stats (E20 only). An iteration would be needed on New Admin

[2020-12-01 19:54] jasonblais commented on #4141
@cwarnermm might be a good early documentation ticket for you to take on? Helps you get more familiar with a few areas of the product including mmctl, permissions system and admin roles.

[2020-12-01 20:02] cwarnermm commented on #4138
@sadohert cc @justinegeffen
The organization of Mattermost Server configuration settings is not an ideal self-serve experience for users. I agree with @sadohert that reducing path friction and making content more discoverable is a key goal.

Organizing the configuration settings in a customer-focused, logical, discoverable way is likely a bigger cross-team discussion.

Immediate recommendations: a

[2020-12-02 21:36] matterdoc opened #4143 "Request for Documentation: Add required inbound and ports to admin documentation"
Mattermost user `paul.rothrock` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/gkx3c6x8hpy43q5ff4ph6bjxfc).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-12-03 07:38] justinegeffen commented on #4138
Thanks, @cwarnermm! I'm 5/5 on all your suggestions.

Wrt point 3, I think the issue is actually with the header formatting and that it is possibly meant to be H1: Experimental > H2: Features > H3 AD/LDAP Settings followed by the content. I am not certain this is the case though, so looping @wiersgallak in as she may have a better idea.

<img width="1159" alt="Screen Shot 2020-12-03 at 09 32 46" s

[2020-12-04 13:45] justinegeffen commented on #4143
Thanks for this, @icelander! Do you have an idea of where this should live and would you be open to updating the docs with this content?

[2020-12-06 19:15] R8s6 commented on #3883
Hi,

Just to follow up on this case, will it be updated? Thanks!

[2020-12-07 09:09] justinegeffen commented on #3883
Hi @R8s6! Thanks for following up on this. The offer to update the docs was made a while back, so I'd like to confirm with @avats-dev whether there is still an opportunity for them to do the update. If not, it will remain as a Help Wanted issue for the community. Would you be open to doing the update?

[2020-12-09 18:21] jasonblais opened #4165 "FAQ for Mattermost Software terms and licensing has a table that does not render"
See https://docs.mattermost.com/overview/faq.html#mattermost-software

![image](https://user-images.githubusercontent.com/13119842/101670486-386e0c00-3a21-11eb-9faa-1b8b29e8d314.png)

There should be a table below the "Mattermost Software" heading. It is there in raw .rst format when editing the GitHub file, so it's likely a formatting error.

https://github.com/mattermost/docs/edit/master/source/

[2020-12-09 19:40] justinegeffen commented on #4165
Thanks, @jasonblais. I've opened a PR.

[2020-12-09 21:48] #4165 closed

[2020-12-11 14:04] matterdoc opened #4168 "Request for Documentation: Improve scope documentation for autolink plugin"
Mattermost user `jesse.hallam` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/dcajb4f45prqfdh1xxy8rwc7uh).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-12-12 14:56] philzyk commented on #3659
Hello!
My experiments failed, but i found nice article - https://qiita.com/wadahiro/items/8b118c34aae904353865
Guy used Keycloak, not GLUU but probably his idea will work.

[2020-12-14 17:58] matterdoc opened #4173 "Help Wanted: Clarify how to use mmctl with non-email authentication systems"
# Context

The Mattermost Product Documentation is missing details on how to use mmctl with non-email authentication systems, such as Okta.

# Documentation request

Document how to use mmctl to authenticate with non-email authentication systems by generating and using a personal access token or by granting the ability to generate tokens by individual user, as detailed below.

## Generate a Person

[2020-12-18 16:06] #4138 closed

[2021-01-12 14:08] Philmod opened #4234 "Help Wanted: kubernetes installation doesn't work well with Team version"
This [doc](https://docs.mattermost.com/install/install-kubernetes.html) doesn't specify that the setup won't work with the Team version, because it will create more than 1 pod.

With more than 1 pod, users won't receive all the new messages because they can be connected to different pods (websocket).

Also, it makes any bot very flaky.

See https://forum.mattermost.org/t/hubot-mattermost-missing-m

[2021-01-13 18:35] matterdoc opened #4237 "Help Wanted: Document migration process from an Omnibus install to a normal one"
# Context

The Mattermost Product Documentation doesn't currently include details on how to migrate from an Omnibus Mattermost deployment to a regular Mattermost deployment.

# Documentation request

Document how to migrate from an Omnibus Mattermost deployment to a regular Mattermost deployment based on the details included below.

Migrating from an Omnibus Mattermost deployment to a regular depl

[2021-01-20 17:32] amyblais opened #4253 "Undocumented settings in config.json"
Review undocumented settings to determine which ones should be documented:

In the ServiceSettings area:
EnableAWSMetering
SplitKey
FeatureFlagSyncIntervalSeconds
DebugSplit
CollapsedThreads

In the LogSettings area:
EnableSentry

In the ExperimentalAuditSettings:
AdvancedLoggingConfig (NOTE, the addition of this item in the LogSettings section is documented)

In the FileSettings area:
AmazonS3Pat

[2021-01-21 22:01] bbodenmiller opened #4257 "Update docs for saved messages"
Flagged messages are now saved messages but docs were not updated: https://docs.mattermost.com/help/messaging/flagging-messages.html

![image](https://user-images.githubusercontent.com/1192780/105417877-1905f980-5bf1-11eb-9375-0f5a71f95d3d.png)

[2021-01-22 15:19] amyblais commented on #4253
Updated the description based on my investigation ^

[2021-01-23 07:53] haardikdharma10 commented on #4257
@cwarnermm, Mind if I work on this issue? Would be a great opportunity for me to improve the docs:)

[2021-01-25 13:47] cwarnermm commented on #4257
Hi @haardikdharma10 - I love your enthusiasm and your interest in making Mattermost product documentation better for everyone. I'd like to keep this ticket with me because I'm in the process of updating these sections of the User Guide documentation to include all the great new sidebar functionality that's coming in an upcoming release. Once that content is released, I welcome your feedback! Thank

[2021-01-26 14:39] matterdoc opened #4267 "Request for Documentation: Verify SAML setup documentation for NameID"
Mattermost user `scott.bishel` from https://community.mattermost.com has requested the following be documented:

[code]
{"level":"error","ts":1611606192.868646,"caller":"mlog/log.go:229","msg":"An error occurred while parsing the response from the Identity Provider. Please contact your System Administrator.","path":"/login/sso/saml","request_id":"terbt9r67bg4zc3xttaw3wq83e","ip_addr":"10.222.139.2

[2021-01-26 23:55] mahenzon commented on #2299
I have the same question 🙋

[2021-01-27 19:44] FBartos opened #4270 "Import Slack history using the WebApp"
Hi, we were interested in switching to Mattermost and wanted to import our Slack channel history, but I couldn't find the ``Import'' button in the Web Application.

According to the [help page](https://docs.mattermost.com/administration/migrating.html#migrating-from-slack-using-the-mattermost-web-app), there should be an `Import` tab inside the `Team Settings` menu. However, I can't find it here (

[2021-01-28 08:28] #3883 closed

[2021-01-29 09:07] matterdoc opened #4277 "Request for Documentation: Elastic Search indexing progress bar gets stuck for a long time."
Mattermost user `george` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/ehqd1j1fkbrx78n7n1gucfcaso).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2021-01-29 15:19] amyblais commented on #4270
@FBartos What Mattermost server version are you on? (You can find the version from Main Menu > About Mattermost)

[2021-01-29 21:04] FBartos commented on #4270
Hi @amyblais ,

this is the complete info from the page:

Mattermost Version: cloud-tag
Licensed to: Mattermost
Mattermost is made possible by the open source software used in our server, desktop and mobile apps.
Copyright 2015 - 2021 Mattermost, Inc. All rights reserved
Build Hash: efe2eba227295fee55e2d3cfabc47353a22d0af4
EE Build Hash: 2bd65f08897e3b0739a59ac14e2de41338c19504
Webapp Build Hash:

[2021-01-29 21:24] amyblais commented on #4270
@FBartos This is helpful!

It looks like you are using our **Cloud** offering. Slack import is currently not supported on **Mattermost Cloud**.

Slack import is, however, supported for **Self-Managed** servers. This requires you to install your own server -- instructions are here https://docs.mattermost.com/guides/administrator.html#installing-mattermost.

You can find more details here https://ma

[2021-01-29 21:29] FBartos commented on #4270
ah ok, thank you! I must have missed this information in the documentation.

Thank you very much for the help and have a nice weekend!
Frantisek

[2021-01-29 21:29] #4270 closed

[2021-02-01 19:47] #3220 closed

[2021-02-04 19:10] amyblais opened #4287 "Update statement on who has access to remove members from a channel"
At https://docs.mattermost.com/help/getting-started/welcome-to-mattermost.html#channels under **Private Channels** section there is a sentence that says "Channel members can choose to leave at any time, **but only the channel owner or Team Admin can remove other members.**"

The highlighted section is inaccurate and is correctly described here https://docs.mattermost.com/help/getting-started/organ

[2021-02-10 01:44] mm-cloud-bot opened #4304 "Request for Documentation: What is this??"
Mattermost user `mmoushon` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/ppbdtjbrw3gc9xtjwg3bw9ua7r).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2021-02-10 01:56] Mmoushon commented on #4304
Sorry, please ignore this. I didn't know what the button did.

[2021-02-10 13:39] #4304 closed

[2021-02-19 11:43] arndt-s opened #4325 "Webhooks for bot accounts are possible"
The api reference states that bot accounts are not able to create webhooks. This works though.
If that should not work this issue should be recreated at the mattermost-server repo.

[2021-02-19 19:01] amyblais commented on #4325
@arndt-s What Mattermost server version are you on? Which OS are you using? What are the reproduction steps?

[2021-02-24 17:36] amyblais opened #4342 "UseGossip setting should be UseExperimentalGossip"
More context at: https://community.mattermost.com/core/pl/q5uw3iig9i8niesfd6gjtewo3c

The docs for https://docs.mattermost.com/administration/config-settings.html#use-gossip needs updating. The change from ``UseExperimentalGossip`` to ``UseGossip`` was done only to the UI. The config setting is still called ``UseExperimentalGossip``.

This is part of a two step process we are taking in transitioni

[2021-02-25 17:45] christinagee opened #4349 "Sidebar on MM new update is broken"
I just updated to the latest MM release and I'm now unable to see any individual messages. How do I go back to a previous version?

[2021-02-25 17:55] amyblais commented on #4349
@christinagee

1. Can you help share a screenshot of what you're seeing?
2. What OS and version are you on?
3. Can you also help share a screenshot of your Main Menu > About Mattermost screen?

[2021-02-26 22:47] icelander opened #4351 "OneLogin Setup Instructions Need Updated"
OneLogin and Mattermost have both made changes that make [this page](https://docs.mattermost.com/deployment/sso-saml-onelogin.html) out of date.

General issues:
 - Onelogin redesigned this so the screenshots for that process need updated
 - The Mattermost screenshots should show the value that they should be set to, rather than the defaults

Specific issues, with quotes from the doc source showin

[2021-03-02 20:05] mm-cloud-bot opened #4359 "Request for Documentation: Remove documentation for XMLSec1 installation"
Mattermost user `scott.bishel` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/j36e7j5zgpdwdk73mx1pcd1jkc).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2021-03-10 17:11] justinegeffen commented on #1007
This article in the handbook addresses this issue: https://handbook.mattermost.com/contributors/contributors/contribution-guidelines.

[2021-03-10 17:11] #1007 closed

[2021-03-11 15:11] justinegeffen commented on #625
We're currently in the final phases of validating the Sphinx upgrade from 1.8.4 to 3.4.3. :) This is the PR: https://github.com/mattermost/docs/pull/4373, and it looks like it resolves this issue to an extent.

[2021-03-12 20:14] svelle opened #4385 "Add note for Postgres 11 Support"
As we're using cloud and also have customers already successfully running postgres 11 in production we should add a note for support

_Issue created from a [Mattermost message](https://community-daily.mattermost.com/_redirect/pl/poip6yquhifkiqfbjtpgqxfcre) *by @streamer45*._

[2021-03-19 14:43] cwarnermm commented on #4359
Documentation updated via: https://github.com/mattermost/docs/pull/4388

[2021-03-19 14:45] cwarnermm commented on #4342
Documentation updated via: https://github.com/mattermost/docs/pull/4347

[2021-03-19 14:45] #4342 closed

[2021-03-19 14:46] cwarnermm commented on #4287
Documentation updated via: https://github.com/mattermost/docs/pull/4339

[2021-03-19 14:46] #4287 closed

[2021-03-19 14:47] cwarnermm commented on #4277
Documentation updated via: https://github.com/mattermost/docs/pull/4338

[2021-03-19 14:47] cwarnermm commented on #4267
Documentation updated via: https://github.com/mattermost/docs/pull/4296

[2021-03-19 14:48] cwarnermm commented on #4257
Documentation updated via: https://github.com/mattermost/docs/pull/4298

[2021-03-19 14:50] cwarnermm commented on #4141
First iteration documentation updated via: https://github.com/mattermost/docs/pull/4247

[2021-03-19 14:51] cwarnermm commented on #4120
Documentation updated via: https://github.com/mattermost/docs/pull/4326

[2021-03-19 14:52] cwarnermm commented on #4106
Documentation updated via: https://github.com/mattermost/docs/pull/4327

[2021-03-19 15:34] #4277 closed

[2021-03-19 15:34] #4267 closed

[2021-03-19 15:35] #4106 closed

[2021-03-19 15:35] #4120 closed

[2021-03-19 15:36] #4359 closed

[2021-03-19 15:37] #3729 closed

[2021-03-22 18:01] justinegeffen commented on #3157
Hi, @craph! Would you be open to reviewing [this updated content](https://docs.mattermost.com/developer/webhooks-incoming.html#simple-incoming-webhook) and confirming whether it addresses your request? :)

[2021-03-24 22:02] #4257 closed

[2021-03-25 20:36] cwarnermm commented on #4086
@svelle - Is it possible to get a bit more context around this documentation request, please? Is there a conversation or a Support ticket that led to this request being logged? I'm looking for more detail around the problem being faced and how best to address it via product documentation. Thanks for your help with this!

[2021-04-01 18:06] icelander opened #4444 "Roles docs do not list built-in system roles"
Relevant URL: https://docs.mattermost.com/deployment/permissions-backend.html#roles-table

The API requires using role names, but the default roles and how to find the role names is not included. This doc should be updated to explain how to get a list of role names via the API and include the names and default permissions for all built-in roles. They are:

 - `channel_admin`
 - `channel_guest`
 -

[2021-04-01 23:50] #2303 closed

[2021-04-01 23:50] #2278 closed

[2021-04-05 05:51] nz-alex opened #4445 "Channels and users disappear from Categories after computer restart"
I have my channels and users neatly organised in Categories in the sidebar, but every time I restart my laptop (it's a company-controlled Windows laptop, so I have to do it every 1-2 weeks), I lose all the channels and users that were assigned to the Categories (the categories themselves are still visible, there's just nothing assigned to them).

![image](https://user-images.githubusercontent.com/

[2021-04-05 12:23] amyblais commented on #4445
@nz-alex We did a bug fix for this in v5.32.0 release, and it was also backported to v5.31.1 dot release. Would you be open to upgrading to a more recent version?

[2021-04-06 08:50] nz-alex commented on #4445
Thank you so much for the quick response! Unfortunately updating our Mattermost version is very much outside my sphere of influence as it's owned by a large enterprise where I'm a contractor at the moment. Hopefully they'll apply the upgrade soon, looks like we're not far off in terms of versions!

[2021-04-06 08:50] #4445 closed

[2021-04-07 10:14] svelle commented on #4086
Hey @cwarnermm so this note did indeed come from a customer conversation. Not a ticket though, otherwise I would've linked it here, sorry.

Basically the problem that the customer had was that when using Okta as their SAML idp they didn't use the `user.id` as the Mattermost User ID attribute, wheras in Okta's LDAP you'd use `uniqueIdentifier`.

Does that make more sense to you now?

[2021-04-07 12:29] cwarnermm commented on #4086
Thanks so much @svelle! This context helps!

[2021-04-14 13:56] #3157 closed

[2021-04-14 14:26] cwarnermm opened #4484 "Help Wanted: Note Consistency and Standardization"
- Review current usage of callouts including Note, Important, Tip, and Warning used throughout the product documentation set.
- Identify key standardization efforts required for these callouts based on current usage.
- Identify all cases where these callouts deviate from the standard due to the source file being in markdown (MD) format.

Examples of standardization include:

- Whether there's a li

[2021-04-15 13:13] cwarnermm opened #4487 "Learn how to implement Sphinx tabbed content"
Learn how to create tabbed content in Sphinx documentation when building HTML.
- [Examples](https://sphinx-tabs-rtd-test.readthedocs.io/en/latest/)
- [Readme docs & repo](https://github.com/executablebooks/sphinx-tabs)

Use this tabbed content approach to update [this section of the User’s Guide](https://docs.mattermost.com/help/getting-started/organizing-conversations.html#favoriting-a-channel) t

[2021-04-15 13:21] cwarnermm opened #4488 "Learn how to use the Sphinx link check feature"
Learn how to use the link check feature that is available through Sphinx that identifies broken URL links.
- [Introduction to the feature](https://www.writethedocs.org/guide/tools/testing/#sphinx)
- [Sphinx documentation](https://www.sphinx-doc.org/en/master/usage/builders/index.html#sphinx.builders.linkcheck.CheckExternalLinksBuilder)

[2021-04-15 14:01] cwarnermm opened #4489 "Learn how to replace existing Sphinx Search"
Learn how to replace the existing search functionality with a third-party search technology, such as [SwiftType](https://swiftype.com/).

[2021-04-18 01:58] mm-cloud-bot opened #4501 "Request for Documentation: 2"
Mattermost user `fukuda13628` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/sxot6hjn9bbzixp474brwydtio).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2021-04-19 03:04] nz-alex commented on #4445
Not sure if anyone will see this comment but our version of Mattermost got updated today and we're on 5.34.1 now, yay! :-)

[2021-04-19 14:50] biva opened #4504 "Update documentation pin button"
With reference to this issue https://github.com/mattermost/mattermost-server/issues/17440, I suggest modifying the page https://docs.mattermost.com/help/messaging/pinning-messages.html

The pin button is not on the top right anymore, it's on the top left, below the channel name.

[2021-04-27 12:31] erezo9 opened #4525 "RTL Documentation is not fully explained"
https://docs.mattermost.com/help/messaging/sending-messages.html
On the section on Right-to-left, it states
"Mattermost automatically detects and displays messages written using right-to-left scripts, such as Arabic, Hebrew, or Persian."
But if we go down and write on Mattermost, it will be written correctly right-to-left
but, it will not show from right to left, unless the system admin will insta

[2021-04-27 15:51] haardikdharma10 commented on #4143
Hi @cwarnermm, where should this content live? Can you link the necessary file, I'll be happy to update:)

[2021-04-27 17:23] cwarnermm commented on #4143
Hi @haardikdharma10! We're in the process of gathering these details internally. I've removed the "Help Wanted" and "Up for Grabs" labels accordingly. These port details will likely live here in the product documentation here: https://docs.mattermost.com/overview/architecture.html

[2021-05-05 08:59] biva commented on #4504
Thanks @cwarnermm , I see the updated page.
I guess the issue can be closed now?

[2021-05-05 12:52] cwarnermm commented on #4504
Hi @biva! Thanks so much for circling back on this documentation issue. Yes, an update has been made to accurately capture the Pin functionality. Are there any additional changes you'd like to see made to this content? If not, let's close this issue.

[2021-05-05 13:17] #4504 closed

[2021-05-05 13:18] biva commented on #4504
Nothing for me, thanks :)

[2021-05-12 13:27] cwarnermm commented on #4525
Updates merged to master. Closing.

[2021-05-12 13:27] #4525 closed

[2021-05-26 20:17] bbodenmiller opened #4611 "What GitLab scopes are actually required"
https://docs.mattermost.com/deployment/sso-gitlab.html says to leave scopes unchecked. It's desirable to not allow all scopes - which are actually required?

Related to https://github.com/mattermost/docs/issues/4034 & https://gitlab.com/gitlab-org/omnibus-gitlab/-/issues/6165

[2021-05-26 20:25] bbodenmiller commented on #4611
@hmhealey any inputs?

[2021-05-26 22:16] hmhealey commented on #4611
I'm not sure actually. I haven't worked with the OAuth code much myself, so I'm not familiar with setting it up. Does Omnibus perhaps set some scopes when autoconfiguring Mattermost?

[2021-06-03 08:33] jmpoulhes opened #4629 "https://pad.coop.tools/ doen't work"
Hello
I don't know if you are the concerned organisation, but the pads at "**https://pad.coop.tools/**" doesn't work I get
the message "502 Bad Gateway" (nginx)
Thanks in advance
Best regards****

[2021-06-03 21:05] #4629 closed

[2021-06-03 21:07] justinegeffen commented on #4629
Hi @jmpoulhes! Thanks for reaching out. It doesn't look like that URL is part of our documentation so we aren't able to assist you.

[2021-06-08 15:28] ewwollesen opened #4645 "5.35 Settings Potentially Missing from Docs"
The `5.35 `release has a couple of [additions to config.json](https://docs.mattermost.com/administration/changelog.html#changes-to-team-edition-and-enterprise-edition) that I don't think are documented, or at least I can't find them or have misunderstood something.

The first one is `EnableFileSearch`. I don't see that anywhere in the [config settings docs](https://docs.mattermost.com/administrati

[2021-06-14 12:27] cwarnermm commented on #4645
Thanks for opening this Documentation issue, @ewwollesen. https://github.com/mattermost/docs/pull/4647 has been logged to address the first issue you've raised about the ``EnableFileSearch`` configuration setting option missing from the Mattermost product documentation.

The Shared Channels functionality was released in v5.35 as experimental, and it's taken us a bit longer to publish documentation

[2021-06-14 15:32] #4444 closed

[2021-06-14 15:32] #4351 closed

[2021-06-14 15:33] #4141 closed

[2021-06-14 15:33] #4086 closed

[2021-06-16 17:28] icelander opened #4662 "Production Docker Setup instructions need updating"
Relevant URL: https://docs.mattermost.com/install/prod-docker.html

The main issue is that the repository it links to - https://github.com/mattermost/mattermost-docker - is unmaintained and stopped at v5.31.0 of the server.

[2021-06-25 10:04] #3943 closed

[2021-06-28 13:39] cwarnermm commented on #4645
https://github.com/mattermost/docs/pull/4670 has been logged to capture the work required to publish the Shared Channels product documentation.

[2021-06-29 08:25] bbodenmiller opened #4683 "Help Wanted: For Mattermost operator, document how state is maintained across nodes/how inter-node communication works"
https://docs.mattermost.com/install/install-kubernetes.html seems to indicate that a multi-node setup works as expected but how is state maintained across nodes/how does inter-node communication work for Mattermost operator? https://docs.mattermost.com/deployment/cluster.html uses gossip but that only works on E20 version whereas operator sounds like it works with all versions.

[2021-06-30 14:56] cwarnermm opened #4693 "Learn how to embed videos on product documentation pages"
Mattermost product documentation is written in RST, generated using Sphinx, and formatted using a Sphinx theme called ReadTheDocs.

Learn how to embed videos on documentation pages (via RST source). May need to install a Sphinx extension to support this use case.

[2021-07-07 17:45] cwarnermm opened #4709 "Help Wanted: Add mobile-specific documentation for Messaging tasks"
The Messaging product documentation focuses on how to use Mattermost using the Desktop App and using a browser.

In some cases, the user's experience using Mattermost on a mobile device would be different than using either the Desktop or Web. Document the steps a user needs to take to complete Messaging tasks using the Mobile App.
Both Android and iOS content is most welcome.

[2021-07-07 17:54] cwarnermm opened #4710 "Help Wanted: Improve the user's mobile documentation experience"
Currently, using the Mattermost product documentation on a mobile device isn't an ideal experience:

- Download links don't work as expected
- Long code samples require horizontal scrolling
- Screenshots and images are resized inconsistently

These issues may require a case-by-case investigation, a new Sphinx theme that includes full mobile support, or may take additional paths towards resolution.

[2021-07-07 18:12] cwarnermm opened #4711 "Resolve documentation build warnings: unexpected unindent"
Mattermost product documentation is written in RST, generated using Sphinx, and formatted using a Sphinx theme called ReadTheDocs.

When the documentation builds, the following common Sphinx build warnings are returned:
- ``Enumerated list ends without a blank line; unexpected unindent``
- ``Block quote ends without a blank line; unexpected unindent``
- ``Bullet list ends without a blank line; une

[2021-07-07 18:15] cwarnermm opened #4712 "Resolve documentation build warnings: Inline emphasis start-string without end-string"
Mattermost product documentation is written in RST, generated using Sphinx, and formatted using a Sphinx theme called ReadTheDocs.

When the documentation builds, the following common Sphinx build warning is returned:
- ``Inline emphasis start-string without end-string``

The Technical Writing team welcomes some assistance identifying what's causing this warning in the content source files, how to

[2021-07-07 18:24] cwarnermm opened #4713 "Detect broken documentation links"
Mattermost product documentation is written in RST, generated using Sphinx, and formatted using a Sphinx theme called ReadTheDocs.

The Mattermost Technical Writing Team is looking for a way to detect broken links in Mattermost product documentation in their local development environments as part of documentation builds. Detecting broken links before content is published to Production ensures fewe

[2021-07-07 18:45] cwarnermm commented on #625
Upgrading Sphinx to 3.4.3 resulted in much better search results that include rendered markdown. Closing.

[2021-07-07 18:45] #625 closed

[2021-07-09 10:42] mm-cloud-bot opened #4717 "Help Wanted: Request for Documentation: Migration from a PostgreSQL on-prem install to Omnibus"
Mattermost user `miguel.delacruz` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/thuh8wkc3jyizj1xza9xfu3dtc).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2021-07-10 15:19] JtheBAB opened #4719 "Upgrade Script somehow lost within the Doc"
Hi

Since the reorganisation the Update Script here https://github.com/mattermost/docs/blob/master/source/administration/upgrade-script.rst is lost. There is no section in the docs for that. You can find it by searching but then it looks strange.

[2021-07-12 17:33] cwarnermm commented on #4719
Thanks, @JtheBAB, for logging this issue! It was dropped in error and it will be added back with a link in the LHS.

[2021-07-14 14:19] cwarnermm commented on #4693
Closing this ticket since this process is understood:

introductory text for the video link + link itself: `YouTube <https://www.youtube.com/watch?v=videoID>`_.

.. raw:: html

   <div style="position: relative; padding-bottom: 50%; height: 0; overflow: hidden; max-width: 100%; height: auto;">
      <iframe src="https://www.youtube.com/embed/videoID" frameborder="0" allowfullscreen style="position

[2021-07-14 14:19] #4693 closed

[2021-07-15 16:56] chenilim opened #4737 "Request for Documentation: Focalboard User's Guide"
A general request to submit improvements to the [Focalboard User's Guide and associated docs](https://github.com/mattermost/focalboard/tree/main/website). In particular:
* General getting-started guidance
* Missing docs for features
* Clarity of the existing docs

[2021-07-16 13:37] larkox opened #4744 "Redux Documentation"
Right now we export the redux repo for plugins to use. Nothing regarding this is documented (AFAIK) in the developer documentation. It would be great to have some documentation at least for the most relevant parts for plugins.

[2021-07-16 18:11] mickmister commented on #4744
@larkox Does this page satisfy the requirement for this ticket?
https://developers.mattermost.com/extend/plugins/webapp/actions

[2021-07-19 14:25] larkox commented on #4744
This indeed solves part of the problem, but there is no more in depth information on at least commonly used selectors / actions that the plugins can use.

[2021-07-20 16:19] mm-cloud-bot opened #4754 "Request for Documentation: Jira plug-in troubleshooting FAQ lists outdated constraints"
Mattermost user `mark.piermarini` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/hj4pbmp8qpg4pydauio8b87jkr).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2021-07-20 22:00] TheStu opened #4756 "CollapsedThreads listed options"
https://docs.mattermost.com/configure/configuration-settings.html#collapsed-reply-threads-beta says the acceptable config options for CollapsedThreads are `disabled` and `default-off` but it should be `default_off`

[2021-07-20 22:38] mickmister commented on #4754
Closing due to open PR that won't automatically close this issue due to being in another repo https://github.com/mattermost/mattermost-plugin-jira/pull/786

[2021-07-20 22:38] #4754 closed

[2021-07-21 15:27] Sayanta66 commented on #4385
@svelle can you tell me in which document the postgres 11 note is required?

[2021-07-21 15:58] svelle commented on #4385
You could put it here for example: https://docs.mattermost.com/install/software-hardware-requirements.html#database-software

@cwarnermm what's your thought on this?

[2021-07-21 16:04] cwarnermm commented on #4385
Thanks, @svelle! That's a good place to add this information.

@Sayanta66 - I appreciate your willingness to contribute to these open documentation tickets.

[2021-07-22 06:24] justinegeffen commented on #4719
@JtheBAB, thanks for picking this up. I'm handling the migration of the content and will have this up shortly. Thank you!

[2021-07-22 06:27] justinegeffen commented on #4744
Thanks for this, @larkox! We'd like to add this as a Docathon issue. Would you be open to working with a potential contributor to get this content added? :)

[2021-07-22 06:28] justinegeffen commented on #4756
Thanks for letting us know, @TheStu! Would you be open to helping us update this and submitting a PR for the change? :)

[2021-07-22 06:29] justinegeffen commented on #4683
Thanks for raising this, @bbodenmiller! These are great questions. One person who may be able to help is @gabrieljackson. I've tagged him and if he isn't able to assist he can definitely refer you to someone who can. If that is the case, would you be open to helping us update this content?

[2021-07-22 06:30] justinegeffen commented on #4662
Thanks, @icelander. This content is in the process of being updated by me and Marco from Support. I'll close this issue once it's been resolved.

[2021-07-22 06:31] #4645 closed

[2021-07-22 06:33] justinegeffen commented on #4611
I think @jasonblais may be a good resource for this question or can refer you to the right person. Thanks, @bbodenmiller!

[2021-07-22 06:35] justinegeffen commented on #4349
Hi @christinagee! I wanted to follow up on this and find out whether you've been able to resolve the issue or whether we can still help you. Let us know, and we'll be happy to assist. :)

[2021-07-22 06:37] justinegeffen commented on #4234
Thanks for raising this, @Philmod! Would you be open to helping us update this content and opening a PR? :)

[2021-07-22 06:47] #4107 closed

[2021-07-22 09:24] larkox commented on #4744
More than happy :smile:

[2021-07-22 11:34] jasonblais commented on #4611
@bbodenmiller Is this a new requirement by GitLab to require at least one scope? Previously I just left the scopes blank / didn't select any scopes, and it worked.

[2021-07-23 05:18] SubhasmitaSw commented on #4487
/assign

[2021-07-23 05:20] SubhasmitaSw commented on #4487
Hello, @cwarnermm I wish to start working on this issue if no one's already assigned.

[2021-07-23 09:22] Er-Riya commented on #4713
Up for grabs

[2021-07-23 15:51] hmhealey commented on #4611
Ideally, I think we would specify some scopes for this so that we're limiting the amount of information that's made available to Mattermost from GitLab, but I'm not certain how much we'd need for that. It might just be whatever scope gives us access to the user's name and email since I don't know what else we pull for GitLab-connected accounts.

[2021-07-23 16:25] jasonblais commented on #4611
@wiersgallak This feels like it would involve PM to investigate and come with a recommendation. I wonder if this is something that would fall under Aaron's ownership?

[2021-07-23 16:35] cwarnermm commented on #4756
Hi @TheStu - Thanks for logging this documentation error. This correction has been applied via https://github.com/mattermost/docs/pull/4774

[2021-07-23 16:59] TheStu commented on #4756
Why ask me to submit a PR and then duplicate my PR? Was there something wrong with it? 🤷‍♂️

[2021-07-23 17:59] wiersgallak commented on #4611
@aaronrothschild Can you please assist with looking into this further?

[2021-07-26 18:33] aaronrothschild commented on #4611
@mkraft do you know where I might start looking into this?  It seems like I need to find out what is the minimum scopes required for our OAuth OpenId integration with Gitlab to function properly.  From reading https://docs.gitlab.com/ee/administration/auth/oidc.html I'm unsure if the issue is we need to send something like `send_scope_to_token_endpoint` as `false` (instead of default true). OR may

[2021-07-27 01:26] ewwollesen commented on #4103
I could grab this one.

[2021-07-27 06:01] M-ZubairAhmed commented on #3351
Can I take this?

[2021-07-27 07:47] Willyfrog commented on #3351
sure! thanks!

[2021-07-27 20:32] mm-cloud-bot opened #4794 "Request for Documentation: Description of Source Available License should be updated to reflect SKU updates"
Mattermost user `michael.kochell` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/dhj8f6yyupbsteff6hqqqf733c).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2021-07-27 20:32] mickmister commented on #4794
Link to existing docs https://docs.mattermost.com/about/frequently-asked-questions.html#mattermost-source-available-license

[2021-07-27 21:41] #4103 closed

[2021-07-28 06:19] Sayanta66 commented on #4487
I am taking this issue @cwarnermm

[2021-07-28 10:44] justinegeffen commented on #4487
Hi @Sayanta66! That's awesome news. It's a pretty complex project with huge impact - let us know if we can help with anything. :)

[2021-07-28 14:21] cwarnermm commented on #4756
Hi @TheStu - I'm sorry about the mixup here. Your PR was fantastic! I too had a PR in final review for the very same important update, and I wasn't aware at the time the update was merged that your PR was incoming.

[2021-07-28 15:12] #4756 closed

[2021-07-28 16:34] ewwollesen commented on #3859
I can work on this for the Docathon.

[2021-07-28 17:03] vilsi12 commented on #3627
Hey can you assign me

[2021-07-28 17:04] vilsi12 commented on #3288
Can you assign me

[2021-07-28 17:05] vilsi12 commented on #3017
Can you assign me

[2021-07-28 17:11] justinegeffen commented on #3859
Hi @ewwollesen! Just a note that these docs have been moved to a new location: https://developers.mattermost.com/integrate/admin-guide/admin-bot-accounts/.

This doc set uses Hugo and is written in Markdown. For this issue you shouldn't run into any technical issues but if you do please let me know! :)

[2021-07-28 17:41] ewwollesen commented on #3859
@justinegeffen
So I don't need to bother with updating this page? https://docs.mattermost.com/developer/bot-accounts.html#bot-account-creation

Or should I do both?

[2021-07-28 17:41] justinegeffen commented on #3627
Awesome, thanks @vilsi12! Just a note that some of the URLs referenced in this issue may have changed. Please let us know if you have any issues finding the correct pages. :)

[2021-07-28 17:45] justinegeffen commented on #3859
They're the same page, and the one on the docs site has been deprecated (but not deleted), so you can ignore https://docs.mattermost.com/developer/bot-accounts.html#bot-account-creation and update https://developers.mattermost.com/integrate/admin-guide/admin-bot-accounts/. :)

Thank you!

[2021-07-28 18:19] vilsi12 commented on #3148
Can you assign

[2021-07-29 02:05] ewwollesen commented on #3857
@cwarnermm @justinegeffen Even though this was assigned to someone else it hadn't been updated since October so I just went ahead and grabbed it and submitted a PR.

[2021-07-29 13:48] AnshMishra2001 commented on #4794
Can I work on this issue ?

[2021-07-29 13:50] AnshMishra2001 commented on #3237
Can I work on this issue ?

[2021-07-29 15:23] ewwollesen commented on #3859
@justinegeffen @cwarnermm I submitted a [PR](https://github.com/mattermost/mattermost-developer-documentation/pull/867) for this over in the developer docs repo.

[2021-07-29 17:52] ewwollesen commented on #3326
@cwarnermm I could grab this one.

@hmhealey I want to make sure I'm following this correctly, but looking through everything it appears that the definitions moved from the [syntax_highlighting.tsx](https://github.com/mattermost/mattermost-webapp/blob/master/utils/syntax_highlighting.tsx) file over to the [constants.jsx](https://github.com/mattermost/mattermost-webapp/blob/master/utils/constants.j

[2021-07-29 18:08] cwarnermm commented on #3326
Thanks, @ewwollesen! I've assigned you to this ticket.

[2021-07-29 19:48] haardikdharma10 commented on #4794
Hi @AnshMishra2001, as this is `Up For Grabs`, you can start working on it and submit a PR for the maintainers to review 🙂

[2021-07-29 19:54] haardikdharma10 commented on #4712
Hey @cwarnermm, I am no Sphinx expert but don't know if you have gone through this discussion already, if not, this can be of help:

https://github.com/fish-shell/fish-shell/pull/7520

[2021-07-30 03:49] ewwollesen commented on #3326
@cwarnermm How do you feel about something like this instead of how the languages are listed currently? It seems potentially more useful, but on the other hand it's kind of big so I don't know.
![image](https://user-images.githubusercontent.com/50209602/127596698-5bb1f16b-7dd3-465e-8a2f-41ae44cc1ba4.png)

[2021-07-30 12:53] cwarnermm commented on #4712
Thanks, @haardikdharma10! We'll check this out!

[2021-07-30 12:55] cwarnermm commented on #3326
Thanks! @ewwollesen - A table-based approach is likely easier to read and scan quickly. This approach also lends itself well to listing many aliases, where necessary. Let's go with this approach!

[2021-07-30 13:36] larkox commented on #4168
May I take this one? :smile:

[2021-07-30 14:16] larkox commented on #4712
May I take this one?

[2021-07-30 14:19] justinegeffen commented on #4712
Absolutely! :)

[2021-07-30 14:59] larkox commented on #4712
This was a proper warning that was rendered fine and two false positives due to something that also was rendering fine.

- Proper warning:
  In some place we had something like `*t.Testing`. The `*` is used as the emphasis marker. Since there are no other `*` to close the marker, hence the warning. We can escape it with a backslash. Looking at this, we should check for other * that are not properl

[2021-07-30 15:00] larkox commented on #4712
I correct myself, the `::` problem was causing an improper rendering.

[2021-07-30 16:06] larkox commented on #4711
May I take this one?

[2021-07-30 16:49] larkox commented on #4711
There doesn't seem to be any "autofixer" for SRT files, so a lot of manual fixing would be needed to get up to date. (I will try to do it)

We could add a linter to check the errors once we are back to 0 warnings, and add it to the CI pipeline, so new commits have to comply with that. I have seen there are mainly two big linters for reStructuredText: [doc8](https://pypi.org/project/doc8/) and [res

[2021-07-30 19:28] larkox commented on #4488
I have been looking into this. The usage is pretty simple (`make linkcheck`). There would be several possible action points here:
- Adding this check to the workflow
  This seems complicated. There are tons of links, and many of them are expected to fail (github users in the changelogs that may have been disabled for whatever reason). We can ignore those, but it is for sure something we cannot do

[2021-07-30 20:05] cwarnermm commented on #4488
Thank you SO MUCH for digging into this, @larkox.

You make an excellent point about why not to add this check to our GitHub workflows. That alone is amazing to have confirmed!

The Docs team would benefit greatly from being able to run checks on demand and review the output to find both broken links and broken redirects.

I just tried the ``make linkcheck`` myself locally. It works as advertised

[2021-07-31 10:55] larkox commented on #4488
Hi @cwarnermm !

You can find there a breakdown of what I considered relevant from the links. https://docs.google.com/spreadsheets/d/1eNtyjKBO9IO0xZSwZG9FF_wCWfEY76Z2dWuwzOq3Wjc/edit?usp=sharing

All `http://github.com/` links are ignored.

Let me explain a bit what is there and why:
- broken: Pretty obvious. All the broken links. We should look into them to fix them.
- redirect: There are many re

[2021-07-31 11:31] larkox commented on #3725
May I take this one?

[2021-08-02 15:19] ewwollesen commented on #3292
@cwarnermm I could grab this one for the Docathon. I am pretty sure I was the one that worked with @svelle on this originally anyway.

[2021-08-02 16:08] #4712 closed

[2021-08-02 16:55] #4711 closed

[2021-08-03 12:46] cwarnermm commented on #3292
Thanks so much @ewwollesen! I've assigned this one to you.

[2021-08-03 14:20] #4168 closed

[2021-08-04 11:57] justinegeffen commented on #4488
Thanks so much, @larkox!

Just a note on this, to prevent unnecessary work, the process and archive directories are not used in our documentation and, as such, their links don't need to be addressed as they're generally set up as redirects in the conf.py file and the page itself is no longer used. For example, some of the broken links aren't an issue as the page itself may redirect to a current pa

[2021-08-04 19:23] mickmister commented on #4794
@justinegeffen Looking at the [documentation page](https://docs.mattermost.com/about/frequently-asked-questions.html#mattermost-source-available-license), there are lots of references to "Enterprise E20 license". All of these references need to change since the Source Available License has changed its wording to be more generic and allow each use of the license to discriminate differently based on

[2021-08-04 19:24] mickmister commented on #4794
@justinegeffen Also there is a helpful diagram on the page that references "E20", but I think that is okay and recreating the image is not necessary. What are your thoughts?

[2021-08-04 19:31] justinegeffen commented on #4794
Thanks for those details, @mickmister. I know I was commenting on a PR you submitted for this but now I can't find that PR.

1. It looks like @AnshMishra2001 has asked to take on - happy to work with them on it.
2. I think we could keep the diagram for now as the E20 is used as an example and isn't the focal point. But it'll be a good idea to put together a more generic one going forward to mitiga

[2021-08-04 19:33] justinegeffen opened #4923 "Help Wanted: New diagram for source available license"
Linked to https://github.com/mattermost/docs/issues/4794, we need to update the diagram in the Source Available License content to remove the E20 mention and make it more generic.

[2021-08-04 19:35] mickmister commented on #4794
@justinegeffen Possibly this one? https://github.com/mattermost/mattermost-plugin-mscalendar/pull/223

@justinegeffen Maybe we can just note under the diagram that it used to only apply to E20 licenses, but now applies to E20, Professional, and Enterprise licenses?

The playbooks one is the most up-to-date version

[2021-08-04 20:20] justinegeffen commented on #4794
Perfect, thanks for the link - that was it!

Can definitely add a note to that in the interim. :)

[2021-08-04 20:22] justinegeffen commented on #4794
@AnshMishra2001, please feel free to ping me in your PR and we can work through this together. :)

[2021-08-05 10:12] Rutam21 commented on #4744
I would love to work on this. Please assign this to me.

[2021-08-05 21:49] mickmister commented on #4744
To add some more context to this ticket:

The `mattermost-redux` library exports types and functions that are imported by the web application and mobile application. These functions can be imported by plugins, and used the same way. There are a few different kinds of functions exported by the library:

- [actions](https://github.com/mattermost/mattermost-redux/tree/master/src/actions) - Actions pe

[2021-08-05 22:05] mickmister commented on #4744
@Rutam21 On the [current redux page](https://developers.mattermost.com/extend/plugins/webapp/actions), we can remove all of the sections that are below the "Prerequisites" section. We should rename the page "Interaction with Redux".

We can add this content below:

-----

Here's an [example](https://github.com/mattermost/mattermost-plugin-jira/blob/master/webapp/src/components/modals/create_issue/

[2021-08-05 22:21] Rutam21 commented on #4744
@mickmister Thanks. Noted.

[2021-08-05 23:02] Sayanta66 commented on #4487
@cwarnermm can you assign me to this issue??

[2021-08-05 23:10] Sayanta66 commented on #4489
Hi, @cwarnermm can you assign this issue to me? I will work on it. And, can you also point out the document that needs to be fixed?

[2021-08-06 13:56] cwarnermm commented on #4489
Hi @Sayanta66. This ticket is a bit different from the tickets requesting content updates. This technology ticket is to change the default search engine in the product documentation (available at docs.mattermost.com)  to another engine entirely -- something more robust and provides better search results to users. The Mattermost Support team is using an instance of SwiftType, and that may be a good

[2021-08-06 16:42] Sayanta66 commented on #4489
Okay so for a beginner like me probably it is not a good fit, right?

[2021-08-06 19:57] cwarnermm commented on #4709
The problem space that this ticket is looking to solve is to include end user documentation for Messaging functionality that's specific to mobile Mattermost users.

In Messaging, some tasks are performed differently using a Mattermost Mobile App than when using the Desktop App or a web browser. It's these specific cases where we have different user experiences between platforms that we're looking

[2021-08-06 20:18] cwarnermm commented on #4489
This ticket is a good fit for any contributor at any level who would like to:
- learn how the default Sphinx search works natively out-of-the-box
- identify how the default search engine can be replaced with another service entirely that offers better search capabilities

However, I wouldn't classify this as a good first issue ticket because of the complexity and technical nature of the work invol

[2021-08-07 17:21] Rutam21 commented on #4709
@justinegeffen Please assign this ticket to me. I would be happy to work on this.

[2021-08-09 17:39] #4101 closed

[2021-08-10 13:15] #3725 closed

[2021-08-13 13:22] svelle commented on #3292
Closing as the assigned PR was merged :) thanks @ewwollesen !

[2021-08-13 13:22] #3292 closed

[2021-08-13 17:39] cliff1976 opened #4959 "Upgrade Instructions advise skipping from Step 7 to 8, but then noclobber will foil the upgrade"
Hi, I'm new here.  Never opened an issue on GitHub before, ever.  I skimmed the guidelines; apologies if I miss something.

I think I'm the guy who provided the impulse for the documentation enhancements in https://github.com/mattermost/docs/pull/4943.  It looks MUCH better now (on the [docs site](https://docs.mattermost.com/upgrade/upgrading-mattermost-server.html)), but I think there is still a

[2021-08-13 21:11] cwarnermm commented on #4959
It's a pleasure to meet you, @cliff1976, and thank you for logging this Mattermost product documentation issue for the upgrade documentation. I'm looping in @mrckndt to assist us in this quest to ensure that the upgrade docs are rock solid and entirely usable. I really appreciate your patience with this work.

@mrckndt - Thanks so much for your help with this.

[2021-08-16 09:50] mrckndt commented on #4959
The step 7 is mandatory as the `find | rm -r` (shortened for readability) command will find every folder except the persistent ones like config, logs, plugins, client/plugins and data as well as the own folders. Afterwards everything will be deleted leaving you with the data you want to keep and the `cp` will rotate the server binary and client files into the directory without overriding files lik

[2021-08-16 10:15] cliff1976 commented on #4959
So, erase the sentence that indicates that one can jump to Step 8, right?

While we're at it, how about switching out the word "before" with "after" in step 10?  The copying was already done in step 8.

[2021-08-17 12:12] cwarnermm commented on #4959
@mrckndt - It looks like the line in step 7 about "jumping to step 8 below" is incorrect, given that aspects of step 7 are mandatory. Do you agree?

@cliff1976 - I agree that step 10 needs to change based on your feedback above. Great catch, by the way!

[2021-08-18 11:45] #4744 closed

[2021-08-18 13:38] mrckndt commented on #4959
@cwarnermm Yes, the `find` command is needed to wipe the old server and client components.

[2021-08-18 19:41] cwarnermm commented on #4959
@mrckndt @cliff1976 - These documentation corrections will be made via https://github.com/mattermost/docs/pull/4978

[2021-08-18 19:46] #4959 closed

[2021-08-23 14:00] mm-cloud-bot opened #4984 "Request for Documentation: Updates to Data Retention documentation"
Mattermost user `katie.wiersgalla` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/qghzy9h6f3r3mybbsq7ejieior).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2021-09-01 11:47] #4794 closed

[2021-09-03 15:18] mm-cloud-bot opened #5024 "Request for Documentation: Document client/server url schemas limitations for custom mobile apps"
Mattermost user `stu.doherty` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/3hr7pgxttfgg8es18hxgmh3jgh).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

# QA Validat

[2021-09-07 19:26] #4737 closed

[2021-09-13 17:56] mm-cloud-bot opened #5040 "Help Wanted: Request for Documentation: Desktop MSI deployment guide: incorrect code reference, list registry keys, maybe another example"
Mattermost user `mark.piermarini` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/quakfyg9j7bktd5hebt4joj57y).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2021-09-20 16:33] rootbid commented on #4713
I think [CheckExternalLinksBuilder](http://www.sphinx-doc.org/en/master/builders.html#sphinx.builders.linkcheck.CheckExternalLinksBuilder) would be useful here.
It's basically used by calling 'sphinx-build' with '-b linkcheck' option. Please see [sphinx-build](http://www.sphinx-doc.org/en/master/man/sphinx-build.html?highlight=linkcheck) for more info.

[2021-09-20 16:41] cwarnermm commented on #4713
Thanks, @rootbid! This sounds like exactly the thing we need to try out! Really appreciate the recommendation!

[2021-09-21 16:04] mm-cloud-bot opened #5061 "Request for Documentation: add advanced link formatting info for complex urls"
Mattermost user `sven.huester` from https://community-daily.mattermost.com has requested the following be documented:

You might need to use yet another way of doing Markdown links with the "reference-style" links to hide that fully.
[code]

[2021-09-24 05:15] slonm opened #5073 "Bug UX: Paste from clipboard to message editor when focus on chat box"
We could strart input from keyboard anytime and if last clicked control have no input ability like chat box or contacts box then message editor got focus and take input instantly.

That's not  true if we paste text from clipboard by Ctrl+v. That's often case for me then i copy-past message parts from chat box.

Slack hande such case as expected.

Environment: Windows 10, MM 4.6.2

[2021-09-24 05:20] #5073 closed

[2021-09-24 05:20] slonm commented on #5073
Wrong project

[2021-09-24 12:19] cwarnermm commented on #5073
@amyblais - Is it possible to re-home this incoming Mattermost issue to the correct repository? (This issue doesn't appear to be product documentation related).

[2021-09-24 12:31] amyblais commented on #5073
@slonm You can open this issue at https://github.com/mattermost/mattermost-server/issues.

[2021-09-24 12:42] slonm commented on #5073
Thanks for help. New issue opened here https://github.com/mattermost/mattermost-server/issues/18461

[2021-09-28 13:43] cwarnermm commented on #4709
@Rutam21 - You're currently assigned to this ticket. Is this something you're working on, or would you rather this ticket return to the pool of available docs work?

[2021-09-28 13:46] cwarnermm commented on #4487
@Sayanta66 - I've unassigned you from this ticket because we've learned how to incorporate a Sphinx extension to provide this functionality. We'll be taking full advantage of this tabbed content functionality starting with the upcoming Mattermost v6.0 release.

[2021-09-28 13:46] #4487 closed

[2021-09-28 13:47] Sayanta66 commented on #4487
Congratulations to team Mattermost

[2021-09-28 14:20] #3326 closed

[2021-09-28 14:55] Rutam21 commented on #4709
@cwarnermm I will complete this one.

[2021-09-28 15:02] cwarnermm commented on #4709
Awesome! Thanks so much @Rutam21!

[2021-10-01 15:12] cwarnermm opened #5097 "Update AWS Elastic Beanstalk Docker Setup docs"
Review the existing [AWS Elastic Beanstalk Docker Setup](https://docs.mattermost.com/install/setting-up-aws-elastic-beanstalk-docker.html) product documentation for technical accuracy and update as needed.

The following user feedback has been shared with Mattermost about this page of product documentation:
    - These instructions do not match the steps or labels now used at the AWS Elastic Beans

[2021-10-01 15:15] cwarnermm opened #5098 "Help Wanted: Review and update Desktop App Custom Dictionaries documentation"
Review the existing [Desktop App Custom Dictionaries](https://docs.mattermost.com/install/desktop-custom-dictionaries.html) product documentation for technical accuracy and update as needed.

The following user feedback has been shared with Mattermost about this page of product documentation:
    - The 'Setting up' directive does not work.
    - When I press Save and restart Mattermost, the direct

[2021-10-01 15:20] cwarnermm opened #5099 "Expand NGINX Server Installation Documentation"
Review and expand the [Installing NGINX Server](https://docs.mattermost.com/install/install-nginx.html) documentation that  is included in a number of Mattermost installation topics.

Currently, the procedural steps tell readers what steps need to be performed, but don't elaborate on the specific steps required for task success.

Prerequisites: Experience with and access to an NGINX Server is need

[2021-10-01 15:23] cwarnermm opened #5100 "Help Wanted: Review and Update iOS Setup documentation"
Review the existing [iOS Setup](https://docs.mattermost.com/collaborate/install-ios-app.html) documentation steps for accuracy and update as needed.

Additional Mattermost Mobile App steps may be missing from this content, such as Apple Authentication using a code.

Prerequisites: Experience with and access to Mattermost Mobile Apps and an Apple mobile device is needed to complete this technical r

[2021-10-01 16:52] justinegeffen commented on #4719
Hi @JtheBAB! Sorry about the delay on this. I've moved the upgrade script article to [the forum](https://forum.mattermost.org/t/upgrading-mattermost-server-with-a-script/12251). Please take a look at it and let me know if you have any issues or feedback. :)

[2021-10-01 16:52] #4719 closed

[2021-10-02 05:38] Hard-Coder05 commented on #5099
@cwarnermm I would like to work on this issue!

[2021-10-02 05:39] Hard-Coder05 commented on #5097
@cwarnermm I would like to work on this issue

[2021-10-02 07:42] shiyanshirani commented on #5100
Hi @cwarnermm, I'd like to contribute to this issue.

[2021-10-03 05:02] AnshMishra2001 commented on #5098
Would like to work on this @cwarnermm

[2021-10-03 06:07] sighclone commented on #4710
Hi! I'll take this up. Do assign it to me!

[2021-10-04 12:11] cwarnermm commented on #5099
We appreciate your help with this, @Hard-Coder05! Thank you!

[2021-10-04 12:15] cwarnermm commented on #5097
We appreciate your help with this, @Hard-Coder05! Thank you!

[2021-10-04 12:16] cwarnermm commented on #5100
We appreciate your help with this, @shiyanshirani! Thank you!

[2021-10-04 12:16] cwarnermm commented on #5098
We appreciate your help with this, @AnshMishra2001! Thank you!

[2021-10-04 13:14] mm-cloud-bot opened #5106 "Request for Documentation: SSL Cert renewal for Mattermost Omnibus"
Mattermost user `jason.blais` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/5n5tjhjoc3yaj8bg3h4axt1pcw).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2021-10-05 12:28] roshanchittoor commented on #4984
hi @cwarnermm I would like to contribute to this issue. Please let me know if I need to install Mattermost for this?

[2021-10-05 12:34] cwarnermm commented on #4984
Hello, @roshanchittoor! You may find that having access to a Mattermost instance is useful to test how a feature or function works. That being said, for this specific ticket, access to Mattermost may not be required.

[2021-10-06 11:59] kaeptnkrunch commented on #4923
Hello, i would like to help with that Issue :)

[2021-10-11 09:23] divshacker opened #5130 "Request for Use of Github templates for issues"
GitHub have rolled out new issue forms for public repository.
https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/
Please check this out.
If maintainers can give some suggestions then I can make some templates for opening issues for this repository.
Thank you

[2021-10-11 09:24] divshacker commented on #5130
I would like to work on this Please
Thank you

[2021-10-14 14:23] rmontag-ap opened #5173 "PostgreSQL installation instructions for RHEL 7 still using deprecated version 9.4"
https://docs.mattermost.com/install/install-rhel-7-postgresql.html

The installation instructions for PostgreSQL are for version 9.4, which isn't supported since Mattermost 5.32.0. Can we have an update for any supported version 10+ of PostgreSQL?
Unfortunately I cannot tell if just using a newer version from a yum repo is sufficient and if all the configuration steps after the "yum install" are e

[2021-10-14 14:36] divshacker commented on #5130
Hey @cwarnermm
Thanks for allowing me. This github templates are used when some want to report a issue or open a PR. Then he/she would go through this template. It is sort of like a form which one have to fill in order to report a issue or open a PR. Github have announced some new features in there forms which improve the contributor experience to contribute in the repository.
I hope this help
Tha

[2021-10-14 14:40] cwarnermm commented on #5130
Thanks! That's a great overview of this new GitHub functionality. Would you be willing to open a PR against the docs repository in order to review and assess the areas where our PR process would benefit from these new features? We'd love your fresh set of eyes on this!

[2021-10-14 15:06] divshacker commented on #5130
Sure! I will open a PR once I get some suggestions about the templates. I need answers of some of the questions that I am posting here.

1. What things should be there in a issue which makes a good and well defined issue.? eg. Expected results, steps to reproduce problem
2. what type of issue are  generally get reported in this repository. eg Feature request, bug etc
3. Do one need to define the e

[2021-10-14 18:31] coltoneshaw opened #5175 "Broken links on Desktop Changelog"
The v5 link works, but the remaining links either do not exist or link to strange areas of the page.

https://docs.mattermost.com/install/desktop-app-changelog.html#id4

https://community-daily.mattermost.com/core/pl/3zwoy884u3gk5mmp8r69o67hdh

[2021-10-15 13:05] amyblais commented on #5175
I can own this, a v5.0.1 dot release is planned and I'll be updating the changelog once it's done.

[2021-10-15 15:59] cwarnermm commented on #5173
Thanks for raising this issue, @rmontag-ap! Updates have been implemented via https://github.com/mattermost/docs/pull/4643 for this issue. Please reach out if you encounter any other details that would benefit from an update.

[2021-10-15 15:59] #5173 closed

[2021-10-17 09:47] osresearch opened #5184 "Simplifying upgrade instructions"
I've upgraded my self-hosted mattermost multiple times with a much simpler set of instructions and wonder if the documentation could be improved by a few small changes.

1. Rename the top-level directory in the tar file so that it uses the semvar name, `./mattermost-X.Y.Z` instead of just `./mattermost`. This would eliminate the need for the `tar --transform` step or extracting in a temp directory

[2021-10-18 09:02] muratbayan opened #5185 "Debian Buster Install - link to Debian website is broken"
I have been told by a customer that the external link to the Debian Buster installation PDF in our docs is broken.
https://github.com/mattermost/docs/blame/master/source/install/install-debian-server.rst#L10

[2021-10-18 10:59] bbodenmiller opened #5189 "Clarify what file formats are supported for content search by default"
Three different documentation locations give different details:

- https://docs.mattermost.com/configure/configuration-settings.html#enable-document-search-by-content
  - Claims self-hosted support for PDF, DOCX, and ODT
  - Claims no default self-hosted support for DOC, RTF, XML, HTML, and PAGES
- https://mattermost.com/blog/file-search/
  - Claims self-hosted support for .pdf, .pptx, .odt, .html

[2021-10-18 11:54] mm-cloud-bot opened #5186 "Request for Documentation: Troubleshooting docs for a containerized environment (k8s)"
Mattermost user `jason.blais` from https://community-release.mattermost.com has requested the following be documented:

[code]
{"level":"error","ts":1634314011.4996815,"caller":"sqlstore/store.go:301","msg":"Failed to ping DB","error":"pq: no pg_hba.conf entry for host \"10.0.33.117\", user \"zukzzboosepfxkrrpbbj\", database \"mattermost\", SSL off","retrying in seconds":10}
[code]
DataSource: "po

[2021-10-18 19:05] bosstrei opened #5193 "Error Sending Messages After Update"
Following the new update, we are noticing messages not sending more often. We've also sent messages with photos and the attached photos are blank files.

[2021-10-18 19:10] #5193 closed

[2021-10-18 20:29] bbodenmiller commented on #5189
I also don't see anything in installation docs about how user should consider installing the listed dependencies.

[2021-10-19 14:19] baek-sang opened #5194 "Dose not support TLS 1.3"
#### Summary
Show unlimited `Connecting...` loading bar.

### Environment Information
  - Device Name: iPhone 13 Pro
  - OS Version: iOS 15.0.2
  - Mattermost App Version: 1.47.0 (Build 374)
  - Mattermost Server Version: 6.0.0(Team Edtion)

#### Steps to reproduce
1. Use only TLSv1.3
 - nginx config setting
[code]
 - or if using Cloudflare
![mm-mobile-error2](https://user-images.githubusercontent

[2021-10-19 14:20] amyblais commented on #5194
I've moved it to the Docs repo to figure out the best place to document this.

[2021-10-19 21:35] davidylee commented on #4484
Hi @cwarnermm , I'm interested in learning more about what exactly is needed here so I could work on it? Thanks!

[2021-10-20 12:13] #5185 closed, assigned to cwarnermm

[2021-10-22 10:51] mm-cloud-bot opened #5199 "Request for Documentation: Document implications of `AutomaticPrepackagedPlugins` to firewalled, high-security environments"
Mattermost user `stu.doherty` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/r6ymn9ukf3r5xpx98yqmok3y4w).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2021-10-22 13:36] cwarnermm opened #5201 "Help Wanted: Replace badge implementation with a streamlined programmatic solution"
As part of the Mattermost v6.0 release, plan and deployment badges were been added to the product documentation to clarify the subscription plans and deployment methods supported for a given feature or function.

These plan and deployment badges are currently implemented as in-line images in the code like this:

[code]

The current implementation approach requires badges to be defined on every doc

[2021-10-22 14:00] #5130 closed, assigned to nobody

[2021-10-22 17:35] #5175 closed, assigned to amyblais

[2021-10-27 13:44] #5186 closed, assigned to cwarnermm

[2021-10-29 08:38] svelle opened #5226 "Clarify wording around Slack webhook compatibility"
We talk a lot about Slack webhook compatibility and interchangeability on this docs page: https://docs.mattermost.com/developer/webhooks-incoming.html

However with the release of the Blocks system we don't support slackwebhooks as much as we used to so we should definitely make that more clear on this page as it can lead to confusion and frustration when customers are wondering why slack webhooks

[2021-11-01 20:26] #4488 closed

[2021-11-01 21:47] jasonblais opened #5233 "Update ESR graphic for v5.39 and later"
We have received some questions about support timeline for v6 and the next ESR release.

To help provide answers self-serve, we can update the ESR graphic for v5.39 and later at https://docs.mattermost.com/upgrade/extended-support-release.html

cc @amyblais

[2021-11-02 16:44] amyblais opened #5241 "Unable to scroll down on Cloud changelog doc"
For https://docs.mattermost.com/install/cloud-changelog.html, I'm unable to scroll down and see the rest of the content. Unsure how to fix it. Also unsure if this is an issue only on my end, however I checked and other changelogs scroll normally.

[2021-11-02 20:01] amyblais commented on #5241
This didn't get posted in the Documentation channel.

@cwarnermm Just a FYI on this, I don't think this is urgent to fix now, unless this starts happening with other docs pages. Also unsure if this is an issue only on my end.

[2021-11-02 20:54] cwarnermm commented on #5241
Fixed by https://github.com/mattermost/docs/pull/5244

[2021-11-02 22:01] #5241 closed

[2021-11-03 12:36] #5233 closed

[2021-11-03 16:54] #5189 closed

[2021-11-03 18:46] Sayanta66 commented on #5061
Can I take this issue? @cwarnermm

[2021-11-03 18:47] cwarnermm commented on #5061
Thanks, @Sayanta66! I've assigned this docs ticket to you.

[2021-11-03 18:48] Sayanta66 commented on #5201
Can I work on this?

[2021-11-03 18:49] Sayanta66 commented on #5061
Thanks a ton :)

[2021-11-03 18:50] cwarnermm commented on #5201
Thanks, @Sayanta66! Looking forward to what you come up with for this docs request. Assigning to you.

[2021-11-03 18:51] Sayanta66 commented on #5201
Thanks again :)

[2021-11-09 17:14] mm-cloud-bot opened #5253 "Request for Documentation: Config update on idle timeout for Http server"
Mattermost user `katie.wiersgalla` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/du9x791ct786fn9edkupcp63ec).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2021-11-10 17:46] #5253 closed

[2021-11-11 15:39] #5097 closed

[2021-11-14 05:23] grzesir commented on #771
this should be a priority. would be very helpful for marketing a library

[2021-11-15 22:25] cwarnermm commented on #4984
Thanks, @davidylee! The original link isn't working in this issue for me either. [This link](https://community-daily.mattermost.com/core/pl/qghzy9h6f3r3mybbsq7ejieior) should take you directly to the conversation that occurred in the ~EE: Data Retention channel.

[2021-11-26 11:39] mm-cloud-bot opened #5281 "Request for Documentation: In Audit Log docs provide a link to the known list of audit record types"
Mattermost user `stu.doherty` from https://community-daily.mattermost.com has requested the following be documented:

[code]
purgeBleveIndexes
createBot
patchBot
updateBotActive
assignBot
convertBotToUser
uploadBrandImage
deleteBrandImage
createCategoryForTeamForUser
updateCategoryOrderForTeamForUser
updateCategoriesForTeamForUser
updateCategoryForTeamForUser
deleteCategoryForTeamForUser
localCrea

[2021-11-30 17:06] amyblais opened #5285 "Add CLI doc updates for GitLab"
These 2 docs need updates:

1. https://docs.mattermost.com/manage/command-line-tools.html#use-the-cli-on-gitlab-omnibus
2. https://docs.gitlab.com/ee/integration/mattermost/#mattermost-command-line-tools-cli (I'm not sure who normally owns updating this ... so let me know any concerns!)

More context here: https://gitlab.com/gitlab-org/omnibus-gitlab/-/issues/6490#note_745347313.

Let me know any

[2021-12-03 18:13] aaronrothschild opened #5297 "New Custom User Group Documentation Needed"
We need a section for administrators to understand how to:
- Turn it off
- What it does
- Configuration options
- Tips/Tricks/gotchas

For end-users - we need to make sure they understand how to:
- Create/Add members to a group
- Add a Group to a channel (ie: add 20 ppl at once)
- how to use the @mention capabilities (may already exist)

API Docs:
- Verify that the endpoint docs become visible onc

[2021-12-03 18:14] aaronrothschild commented on #5297
@justinegeffen @cwarnermm Me and @laneycs are working on the docs for this, and could use your assistance in figuring out where the info should live in the docs, etc.

[2021-12-03 18:50] cwarnermm commented on #5297
Sounds great, @aaronrothschild & @laneycs!

Custom User Groups config setting:

https://docs.mattermost.com/configure/configuration-settings.html
- If it's available via the System Console, add it to the applicable section based on where it appears in the System Console UI
    - Describe what the setting does
    - Define the plans/deployments supported via badges
    - Include it's config.json se

[2021-12-03 20:29] laneycs commented on #5297
@cwarnermm Would love a walk-through on Monday! Thanks so much for your help :-D

[2021-12-07 13:48] cwarnermm commented on #5201
@Sayanta66 - Are you actively working on this? Would you like to keep it assigned to you?

[2021-12-07 13:49] Sayanta66 commented on #5201
Yeah I am researching and finding ways

[2021-12-07 13:49] cwarnermm commented on #5100
@shiyanshirani - Are you actively working on this? Would you like to keep it assigned to you?

[2021-12-07 13:50] cwarnermm commented on #5098
@AnshMishra2001 - Are you actively working on this? Would you like to keep it assigned to you?

[2021-12-07 13:50] cwarnermm commented on #5061
@Sayanta66 - Are you actively working on this? Would you like to keep it assigned to you?

[2021-12-07 13:51] cwarnermm commented on #4709
@Rutam21 - Are you actively working on this? Would you like to keep it assigned to you?

[2021-12-07 13:53] cwarnermm commented on #4662
Updates being tracked via https://github.com/mattermost/docs/pull/5277

[2021-12-07 17:59] shiyanshirani commented on #5100
I am not working on this project.

[2021-12-07 18:01] cwarnermm commented on #5100
Thanks for confirming, @shiyanshirani.

[2021-12-07 20:03] coltoneshaw commented on #5184
I definitely agree that this would be far more streamlined for an upgrade and management process. It would be a bit of an implementation shift for our customers but I could see some instant benefits by doing it via this process. For example the complex `find` command in our current docs always stumps people.

If we want to do something like this, I'm curious how we'd want to roll it out. You'd wan

[2021-12-09 11:37] nab-77 commented on #5285
@justinegeffen @cwarnermm how can I help move this forward. The deadline for GitLab 14.6 (where MM 6.1 is going to be included) is drawing close.

[2021-12-09 13:16] cwarnermm commented on #5285
Thanks, @nab-77! A deadline for this one wasn't clear, so I appreciate knowing the urgency on this one. I'll review today and follow up with you about any gaps or information I need assistance with to complete these doc updates by end of day.

[2021-12-09 13:19] nab-77 commented on #5285
Please let me know how I can help.

[2021-12-15 13:54] laneycs commented on #5297
@cwarnermm Here's the test environment for custom groups!

- https://mattermost-server-pr-18839.test.mattermost.cloud/pr18839/
- Just in case you need log in credentials, they're here: https://github.com/mattermost/mattermost-server/pull/18839#issuecomment-993931266

[2021-12-16 20:13] myasonik opened #5331 "Help Wanted: Ways to add alt text are unclear"
As I found out in https://github.com/mattermost/mattermost-server/issues/19193, there is at least _some_ way to add alt text but it's not very discoverable.

Adding a docs section dedicated to accessibility or making "alt text" an easier to search for term could help make this easier.

[2021-12-17 14:43] sadohert opened #5334 "2021/22 Recommended Hardware Sizing Update"
This is a placeholder issue to track changes required to our recommended hardware sizing (we can point our recent KB article to this)

We have:

1. https://docs.mattermost.com/scale/scaling-for-enterprise.html
2. https://docs.mattermost.com/install/software-hardware-requirements.html#hardware-requirements
3. Example configurations in [this LucidChart Diagram](https://lucid.app/lucidchart/invitatio

[2021-12-17 16:46] dddw opened #5335 "Request for Documentation: migrate from on-prem to cloud"
Due to company changes we want to move our on-prem mattermost server to the cloud-hosted one.
really couldn't find how to migrate that.

[2021-12-17 16:50] svelle commented on #5335
Hey @dddw we've got some documentation on that in our support team's knowledge base: https://support.mattermost.com/hc/en-us/articles/4412503667604

Feel free to reach out if you're still having trouble after this by opening a ticket through the support center or via email.

[2021-12-17 16:50] #5335 closed

[2021-12-17 19:00] esethna commented on #5334
Thanks @sadohert. @cwarnermm let's work on this when we come back in the new year.

Also looping in @nab-77 given the impacts to distribution/deployment

[2021-12-20 15:13] oguera opened #5338 "Clarify the possibility for GitLab SSO"
[This page](https://docs.mattermost.com/onboard/sso-gitlab.html) states that GitLab SSO is available in all tiers as it was previously with MM Versions <6.0

However the page also states that the GitLab SSO Auth is using OAuth2 which is deprecated and should be replaced by OpenID Connect. I updated a MM Instance from 5.39 to 6.0 and GitLab SSO is still working (and even has a dedicated place in th

[2021-12-20 17:40] amyblais opened #5339 "Update Changelog Known Issues"
Add the following entry for v6.2 Known Issues section (for [self-managed changelog](https://docs.mattermost.com/install/self-managed-changelog.html)):

"When clicking the **Upgrade to Enterprise Edition** button, the upgrade progress bar and the restart button are no longer shown once the progress reaches 100%. Thus users cannot restart the server directly from the user interface and they need to

[2022-01-04 14:59] cwarnermm commented on #5339
Updated the Self-Managed Change log via https://github.com/mattermost/docs/commit/b51a688a275759125c09b793328fdfaebbc8339e#diff-eba248b2c1a66750343693c8d84e6909fc3c26f299880afcc7261837a0465323

[2022-01-04 14:59] amyblais commented on #5339
Thank you Carrie!

[2022-01-04 14:59] #5339 closed

[2022-01-04 20:42] #4662 closed

[2022-01-04 20:45] #4143 closed

[2022-01-10 05:57] Sayanta66 commented on #5061
yup!!! I am still searching on the solutions

[2022-01-11 14:21] svelle opened #5361 "Add Install docs for Debian 11 "bullseye""
Currently we only provide docs for Debian 10, however Debian 11 has been out since late last year and we haven't added docs for that yet.

On a side note I think we shoud have both the codename "bullseye/buster" as well as the version number in the title.

[2022-01-11 15:00] svelle opened #5362 "Add install docs for Ubuntu 22.04"
Ubuntu 22.04 will release in a couple of months, beta release is imminent, we should get ahead of the curve and start working on install docs for this *before* the release so we got them ready when it comes out. Happy to assist where I an :)

[2022-01-11 15:01] svelle opened #5363 "Add install docs for RHEL 9"
Same with Ubuntu RHEL 9 is also releasing ealry this year. Beta is already out so we can start testing against this version by using the RHEL 8 guide as a baseline.

[2022-01-12 13:45] cwarnermm commented on #5361
Thanks, @svelle! Is the Support team open to providing the specific install details needed for this platform?

[2022-01-12 13:45] cwarnermm commented on #5362
Thanks, @svelle! Is the Support team open to providing the specific install details needed for this platform?

[2022-01-12 13:45] cwarnermm commented on #5363
Thanks, @svelle! Is the Support team open to providing the specific install details needed for this platform?

[2022-01-12 16:19] jesespi opened #6830 "Help Wanted: Plugin uploads and signatures not supported in Cloud deployments"
Update the following [Plugin Managment](https://docs.mattermost.com/configure/plugins-configuration-settings.html#plugin-management) configuration settings documentation to note that these config settings aren't supported in Mattermost Cloud.
- [Require plugin signature](https://docs.mattermost.com/configure/plugins-configuration-settings.html#require-plugin-signature)
- [Upload plugin](https://do

[2022-01-14 07:27] justinegeffen commented on #1579
This has been addressed by docs 2.0. :) Closing.

[2022-01-14 07:27] #1579 closed

[2022-01-14 07:27] justinegeffen commented on #1580
This has been addressed by docs 2.0. Closing. :)

[2022-01-14 07:27] #1580 closed

[2022-01-14 07:28] justinegeffen commented on #1581
This has been addressed by docs 2.0. Closing. :)

[2022-01-14 07:28] #1581 closed

[2022-01-14 07:28] justinegeffen commented on #1583
This has been addressed by docs 2.0. Closing. :)

[2022-01-14 07:28] #1583 closed

[2022-01-14 07:29] justinegeffen commented on #1589
This has been addressed by docs 2.0. Closing. :)

[2022-01-14 07:29] #1589 closed

[2022-01-14 07:29] justinegeffen commented on #1591
This has been addressed by docs 2.0. Closing. :)

[2022-01-14 07:29] #1591 closed

[2022-01-14 07:31] justinegeffen commented on #804
I believe this feedback has been addressed by the docs 2.0 work. We're also actively working on improving the installation documentation as part of the 2022 Growth Spike, and Support has added this to their workload. As such, I'm closing this issue. Thanks, @it33!

[2022-01-14 07:31] #804 closed

[2022-01-14 07:35] justinegeffen commented on #1512
Totally agree that tables can be tricky to work with. I've noted that the style guide doesn't mention this and I'm assigning this to myself in order to add a section with table examples that can be copied and pasted into documentation. Thanks for raising this!

[2022-01-14 07:36] justinegeffen commented on #1593
This has been resolved as part of docs 2.0. Closing. :)

[2022-01-14 07:36] #1593 closed

[2022-01-14 07:36] justinegeffen commented on #1594
This has been addressed by our new style template which was introduced in v6.0. Closing. :)

[2022-01-14 07:36] #1594 closed

[2022-01-14 07:36] justinegeffen commented on #1596
This has been completed by the PMs as part of v6.0 work. Closing. :)

[2022-01-14 07:36] #1596 closed

[2022-01-14 07:40] justinegeffen commented on #1958
This has been resolved and the documentation now includes a link to this page: https://mattermost.com/deploy/. The user just needs to copy and paste the version information. Closing. :)

[2022-01-14 07:40] #1958 closed

[2022-01-14 07:41] justinegeffen commented on #2712
This has been addressed in docs 2.0. 🎉 Closing! :)

[2022-01-14 07:41] #2712 closed

[2022-01-14 07:41] #2711 closed

[2022-01-14 07:42] justinegeffen commented on #2710
This has been addressed in docs 2.0 🎉. Closing! :)

[2022-01-14 07:42] #2710 closed

[2022-01-14 07:45] justinegeffen commented on #834
Thanks, @it33! I believe this ask is covered by the Community section in the Handbook: https://handbook.mattermost.com/contributors/contributors. I'm tagging @aspleenic for visibility as there may be some new content that can be added or content that's already under consideration. @aspleenic, let me know if I can help with anything!

[2022-01-14 07:51] #898 closed

[2022-01-14 09:27] justinegeffen commented on #979
We do document how we name our versions here: https://handbook.mattermost.com/operations/research-and-development/product/release-process/release-overview. However, this is an interesting suggestion that could also apply to development as well as Support.

In terms of development, @jwilander, can you confirm whether this does affect any of the teams or whether it's documented somewhere?

In terms

[2022-01-14 09:29] justinegeffen commented on #978
@cwarnermm, I think this is an interesting suggestion and could fit into the Growth Spike/Onboarding work? WDYT?

[2022-01-14 09:31] justinegeffen commented on #959
This is a great suggestion and one that could form part of the onboarding/growth spike. Passing to @aaronrothschild for feedback and @BenLloydPearson for input.

[2022-01-14 09:34] justinegeffen commented on #919
@sadohert, I can't find this in the Handbook but wondering if it's part of onboarding/internal content? If not, and you have this at hand, would you be open to adding to to the Handbook either as a link or a section: https://handbook.mattermost.com/operations/sales.

Apologies if you're not responsible for this, feel free to tag onward. :)

[2022-01-14 09:46] justinegeffen commented on #871
@DSchalla, I've looked at this page: https://mattermost.com/security-updates/ and it looks like the "fix version" refers to the Mattermost version in which the fix was included? We also have this page which I feel explains it well: https://handbook.mattermost.com/operations/research-and-development/product/release-process/security-release.

Would you be comfortable with this issue being closed?

[2022-01-14 09:54] justinegeffen commented on #947
I think this page addresses this issue: https://handbook.mattermost.com/operations/messaging-and-math/how-to-guides-for-m-and-m/how-to-write-mattermost-case-studies#writing-guidelines. That said, it doesn't specifically mention white papers.

Two suggestions:
1. Add "and whitepapers" to the heading and update the content with "objective/trustworthy".
2. Create a new "How to write a whitepaper sect

[2022-01-14 09:55] justinegeffen commented on #972
This is an interesting suggestion. @dontoisme, I'm passing it on to you for reference/consideration.

[2022-01-14 10:00] justinegeffen commented on #780
@svelle, is this something you can help with? Or perhaps @DSchalla?

[2022-01-14 10:01] justinegeffen commented on #826
This is addressed in: https://handbook.mattermost.com/operations/workplace#what-is-the-mattermost-community-server. Closing. :)

[2022-01-14 10:01] #826 closed

[2022-01-14 10:03] justinegeffen commented on #836
As this refers to a working document for the event which isn't in the Handbook, I am closing this issue. More than happy to reopen if there's a need to add this to our Handbook archive for reference.

[2022-01-14 10:03] #836 closed

[2022-01-14 10:04] svelle commented on #780
@justinegeffen I'm not even sure if this still applies. I'll have to check.

[2022-01-14 10:10] #871 closed

[2022-01-14 10:15] svelle commented on #780
@justinegeffen I just looked at the ciphers we're using now. I think this has already been fixed.

[2022-01-14 10:16] svelle commented on #780
yeah fixed by: https://github.com/mattermost/docs/commit/8605d9cb67fcd4cbafea12fe2381b64888b87452

[2022-01-14 10:16] #780 closed

[2022-01-14 10:16] justinegeffen commented on #894
We have a section on rate limiting in the config guide: https://docs.mattermost.com/configure/configuration-settings.html#rate-limiting. Would you say that covers this request?

[2022-01-14 10:31] svelle commented on #979
@justinegeffen I could see this living in the KB or the docs whatever you prefer but yeah I feel like some simple steps to get the version info (and also showing the difference between version of mobile, desktop, webapp and server) would be useful.

[2022-01-14 10:39] justinegeffen commented on #936
This is covered in: https://handbook.mattermost.com/contributors/contributors/guidelines. :) Closing.

[2022-01-14 10:39] #936 closed

[2022-01-14 10:42] justinegeffen commented on #933
We have a great video content guideline doc here: https://handbook.mattermost.com/operations/messaging-and-math/content-marketing/video-content and we also have guidelines around brand usage here: https://handbook.mattermost.com/operations/operations/company-processes/publishing/publishing-guidelines/brand-and-visual-design-guidelines. Closing. :)

[2022-01-14 10:42] #933 closed

[2022-01-14 13:32] jwilander commented on #979
For development purposes we use commits to track what code is in which build (hashes at the bottom of the about modal). We do use the release version number to track the database schema and to version our Go code too. Not aware of that being documented anywhere.

[2022-01-14 14:30] justinegeffen commented on #918
@aaronrothschild, is this something that you could take a look at?

[2022-01-14 14:34] justinegeffen commented on #917
This is a great mindset and there's room for it in: https://handbook.mattermost.com/company/about-mattermost/mindsets. Some of what's laid out is also mentioned here in terms of clarity and precision: https://handbook.mattermost.com/contributors/join-us/recruiting.

LMK if I can add this to the Handbook, @it33 and @crspeller. Thanks :)

[2022-01-14 14:37] aspleenic commented on #834
Thanks, @justinegeffen - I'll take a look and incorporate this into the existing doc

[2022-01-14 14:52] jasonblais commented on #894
@justinegeffen It would be good to have a one-pager of what are the implications of changing the rate limit settings. E.g. something what's described in https://github.com/mattermost/docs/issues/894#issuecomment-380805387

[2022-01-14 14:54] jasonblais commented on #927
Yea, given the feedback was such a long time ago, it may be outdated. I'd recommend we reach out to contributors to learn opportunities for improving our developer's guide for contributors.

[2022-01-14 14:54] #927 closed

[2022-01-14 21:09] BenLloydPearson commented on #959
This seems to align with our goals to produce more practical educational guides for building integrations. I'm more than happy to take this on, but I'll need to prioritize it against other content we're planning.

[2022-01-15 01:03] it33 commented on #917
@justinegeffen the was a COM talk on being open that I should probably move into the handbook as it's a higher level context, it should cover this one, thanks for the note,

[2022-01-15 01:03] #917 closed

[2022-01-15 01:53] decrementor commented on #5285
Using the GitLab OAuth2 integration with Mattermost: No formal documentation specifies how to use `mmctl auth login --strict URL --name HOST --access-token STRING` properly. Which token? From where? I found a help written for developers using the API with some guidance on how to acquire a Mattermost token. Sadly, Mattermost session tokens are not able to be created from within Mattermost because t

[2022-01-17 14:37] cwarnermm commented on #5331
Hi @myasonik - Would you be open to creating a PR with this documentation update?

[2022-01-17 14:43] cwarnermm commented on #5281
@sadohert and @wiggin77 - Could I get your collective help identifying what's needed to address this docs request, please?

After an initial chat with @wiggin77, it's not clear what's meant by record/log types. The list in this PR includes some of the APIs that are audited, but it's not a comprehensive list. Any time a new API is added, a new audit record would be emitted.

@sadohert Would it be u

[2022-01-17 14:46] cwarnermm commented on #5199
@sadohert - Can I get your help to clarify what's needed for this documentation request, please?

[2022-01-17 14:47] cwarnermm commented on #5184
Adding @nab-77 for visibility

[2022-01-17 14:50] cwarnermm commented on #5226
@svelle - Would you be open to creating a PR to update the developer documentation to incorporate this information? (There's no need to update the product docs since that duplicate content is scheduled to be archived).

[2022-01-17 14:53] cwarnermm commented on #5024
@sadohert - Can you help clarify what's needed for this docs request, please?

[2022-01-17 15:19] justinegeffen commented on #886
@wiersgallak, is this something we still need to document? I don't actually know where this is located in the docs but it seems like it may belong in the FAQs (such as here: https://docs.mattermost.com/about/faq-design-decisions.html?highlight=design%20decision). Happy to add it if it's still relevant.

[2022-01-17 16:29] sadohert commented on #5281
I totally understand the point about maintenance.  Don't want to create a headache with a constantly growing target we need to hit.  I can't seem to get to the original message, so I forget the context now, but I don't think an example of every record is needed.  Some key records should have an example to admins get the idea.  I think we can talk in terms of the big categories of things that trigg

[2022-01-17 16:37] sadohert commented on #5199
@aaronrothschild  wondering if you can help here, or loop someone in from integrations/Apps.

From looking at the old customer thread, we ran into an issue where having `AutomaticPrepackedPlugins == true` was driving Mattermost to reach out to find updated plugins versions for our prepackaged ones, for installation when a configuration change was triggered on Mattermost.  If the customer is runnin

[2022-01-17 16:41] aaronrothschild commented on #5199
@levb do you know the details as to what sort of network access we expect when this flag is set?

[2022-01-17 19:32] nab-77 commented on #5184
@osresearch Thanks for sharing, and I specifically like the proposal for "versioning" the deployment using symlink. Can I ask for some more feedback, namely what are you feelings on an RPM/DEB package?

As @cwarnermm explained such a condensed flow would not replace, but compliment.

[2022-01-18 13:09] wiggin77 commented on #5281
@sadohert , @cwarnermm    The security team is working on a project to better standardize the auditing output.  I suggest asking them about timing and progress so this documentation effort doesn't happen twice in a short time.

[2022-01-18 13:16] cwarnermm commented on #5281
Thanks, @wiggin77! @DSchalla - Do you have timeframes and progress you can share? I agree with @wiggin77 that we want to time this doc update appropriately to avoid unnecessary effort.

[2022-01-18 13:40] cwarnermm commented on #4501
The question that started the initial thread: "Why can't you send a voice message in the mobile version?"
- the original Mattermost plugin framework never included client-side mobile support (hence the lack of the feature).
- a branch from a hackathon project done about 1.5 years ago has support for that feature (however the branch is too old, so porting the work done from there to the master bran

[2022-01-18 13:40] #4501 closed

[2022-01-18 13:42] cwarnermm commented on #4349
Closing ticket.

[2022-01-18 13:42] #4349 closed

[2022-01-18 13:44] cwarnermm commented on #4253
@wiersgallak - Would the PM team be open to reviewing this list of undocumented config settings and identify ones that should be added to the product documentation, please?

[2022-01-18 13:51] cwarnermm commented on #4131
@sadohert - Would you or a member of your team be open to creating a PR for this documentation request?

[2022-01-18 13:52] cwarnermm commented on #4108
@sadohert - Would you or a member of your team be open to creating a PR for this documentation request?

[2022-01-18 13:57] cwarnermm commented on #3927
@malakar-swastik - Please let us know whether you are working on this issue. Thanks!

[2022-01-18 13:58] cwarnermm commented on #3992
@sadohert - Would you be open to creating a PR with these documentation updates?

[2022-01-18 13:59] cwarnermm commented on #3859
Thanks, @ewwollesen! Closing!

[2022-01-18 13:59] #3859 closed

[2022-01-18 14:00] cwarnermm commented on #3860
@wiersgallak - Which member of the PM would be an ideal person to work to get these answers documented?

[2022-01-18 14:05] cwarnermm commented on #3872
@Willyfrog - I'm unable to access the original Mattermost thread and context behind this docs request. Can you summarize the request here, please?

[2022-01-18 14:07] cwarnermm commented on #3857
Thanks, @ewwollesen! Closing.

[2022-01-18 14:07] #3857 closed

[2022-01-18 14:11] cwarnermm commented on #3778
@aaronrothschild - We could use your help with this one. Are you open to drafting a content update?

[2022-01-18 14:13] cwarnermm commented on #3752
Comprehensive Clustering documentation is available. Closing ticket.

[2022-01-18 14:13] #3752 closed

[2022-01-18 14:14] cwarnermm commented on #3741
@icelander - Would you be open to drafting a docs PR with these updates?

[2022-01-18 14:15] cwarnermm commented on #3736
Closing ticket.

[2022-01-18 14:15] cwarnermm commented on #3735
Closing ticket

[2022-01-18 14:15] #3735 closed

[2022-01-18 14:18] cwarnermm commented on #3659
@svelle - Is SAML auth over GLUU officially supported? If yes, are you open to creating a Support KB article with these details?

[2022-01-18 14:19] cwarnermm commented on #3639
@aaronrothschild - Are you open to drafting a PR for this docs request?

[2022-01-18 14:19] svelle commented on #3659
@cwarnermm no it's not officially supported as of now. This will need to be posted elswhere for the time being.

[2022-01-18 14:23] cwarnermm commented on #3318
@sadohert - Are you open to drafting a PR with this documentation update?

[2022-01-18 14:25] cwarnermm commented on #3269
@justinegeffen - Is this guideline documented in the Handbook? If it is, we're able to close this ticket.

[2022-01-18 14:27] cwarnermm commented on #3248
@sadohert - Adding you for visibility on this one given the various performance improvement initiatives in flight that will require product documentation updates.

[2022-01-18 14:28] cwarnermm commented on #3234
@avats-dev - Are you continuing to work on this issue?

[2022-01-18 14:29] cwarnermm commented on #3162
@svelle - Would you or a member of your team be open to drafting a PR with this documentation update?

[2022-01-18 14:32] svelle commented on #3162
already done per: https://github.com/mattermost/mattermost-developer-documentation/pull/514

[2022-01-18 14:32] #3162 closed

[2022-01-18 14:45] aaronrothschild commented on #3639
@cwarnermm yes, we could make something comparing these different ways to integrate with mattermost.  Perhaps a flowchart?

[2022-01-18 14:46] cwarnermm commented on #3639
A visual flowchart would be a great approach!

[2022-01-18 14:52] streamer45 commented on #4102
Hi @nigelhorne , most System Console fields map one-to-one to settings in `config.json`. You can find the complete list documented in https://docs.mattermost.com/configure/configuration-settings.html. For the specific case you mentioned:

[Listen Address](https://docs.mattermost.com/configure/configuration-settings.html#listen-address) --> `ServiceSettings.ListenAddress`
[Connection Security](http

[2022-01-18 14:55] justinegeffen commented on #1499
I believe the CLI commands, especially for mmctl, are more detailed and provide the required information. For example, we have a description, a usage example, and a section explaining config. options.

@cwarnermm, I'm closing this as completed but wanted to add you in case there's anything that may be helpful for the future config docs work.

[2022-01-18 14:55] #1499 closed

[2022-01-18 14:55] justinegeffen commented on #1498
I'm comfortable that our current documentation addresses this. Closing. :)

[2022-01-18 14:55] #1498 closed

[2022-01-18 14:57] justinegeffen commented on #1151
@matthewbirtch, is this something the UX team still uses? If so, perhaps we can move it to the Handbook as part of the interview process/onboarding for the UX team? Thank you!

[2022-01-18 14:58] justinegeffen commented on #1135
I'm happy to confirm that this issue has been solved by the addition of two technical writers. :)

[2022-01-18 14:58] #1135 closed

[2022-01-18 15:31] wiersgallak commented on #3860
@cwarnermm Please work with Neil Barnett

[2022-01-18 15:35] cwarnermm commented on #3860
@nab-77 - I could use your help with this elasticsearch docs request.

[2022-01-18 15:38] nab-77 commented on #3860
No worries. Let me look into the items above.

[2022-01-18 16:02] achintya-7 commented on #3634
Sure, I will look into it.

[2022-01-18 16:11] Willyfrog commented on #3872
That's weird as that thread is in a public channel.

What needs to be documented is the process to codesign a build with you own certificates in case someone wants to do a custom build.

[2022-01-18 16:34] justinegeffen commented on #984
This has been completed as part of docs 2.0. :)

[2022-01-18 16:34] #984 closed

[2022-01-18 16:35] #1015 closed

[2022-01-18 16:40] justinegeffen commented on #905
I've taken a look at the docs and they provide more details about troubleshooting. I couldn't find the UI section in the provided screenshot though (looked under push notifications and SMTP in System Console). Closing based on age of the issue.

[2022-01-18 16:40] #905 closed

[2022-01-18 16:43] justinegeffen commented on #1119
This is a great suggestion. I believe Marketing have put together personas. @ekl1773, is this something you could verify? Thank you! :)

[2022-01-18 16:52] justinegeffen commented on #1029
@jasonblais, perhaps this can be documented in the Community section of the Handbook with some helpful guidance around reasons a PR may not be accepted. Something like:

"My PR wasn't accepted - why?

Sometimes we may close a PR and not accept the changes. Sometimes a PR includes changes to code/content that's in the process of being deprecated. In other cases, the change may not add value or impr

[2022-01-18 16:53] #1503 closed

[2022-01-18 18:42] DSchalla commented on #5281
^ @iyampaul

[2022-01-18 20:06] iyampaul commented on #5281
@cwarnermm We don't have a timeline for audit logging changes yet.  We started conversations this month so it will be some time before any meaningful improvements are seen. @nab-77 is leading the effort from the Product side and may be a better resource to help coordinate timelines and expectations.

[2022-01-18 20:15] cwarnermm commented on #5281
Thanks so much, @iyampaul! Looking forward to teaming up with you on this one, @nab-77! :)

[2022-01-18 20:40] justinegeffen commented on #3269
Yeah, it is. :)

[2022-01-18 20:40] #3269 closed

[2022-01-18 21:43] jasonblais commented on #1029
Thanks @justinegeffen - that may work for documentation. The original intent with this proposal was to find opportunities to improve our contribution guidelines, our documentation, or our automation when a PR cannot be accepted, and one way of doing that was through mini-post-mortems. We've done some of these in the past, but not consistently.

This now falls more under @BenLloydPearso's ownership

[2022-01-19 04:45] myasonik commented on #5331
Sorry, I don't think that's something I'll have time for

[2022-01-19 13:10] #1501 closed

[2022-01-19 16:54] justinegeffen commented on #1500
This command no longer exists and the channel move command has been replaced with mmctl channel move: https://docs.mattermost.com/manage/mmctl-command-line-tool.html#mmctl-channel-move. Closing. :)

[2022-01-19 16:54] #1500 closed

[2022-01-19 16:55] justinegeffen commented on #1505
The Docker documentation has been moved to: https://github.com/mattermost/docker. Closing this issue. :)

[2022-01-19 16:55] #1505 closed

[2022-01-19 18:47] achintya-7 commented on #3634
@cwarnermm I looked into the docs and all the three user file generation methods are written in Python. Can you suggest to me what further action should I take here?

[2022-01-20 13:26] cwarnermm commented on #3627
@vilsi12 - Are you working on this issue?

[2022-01-20 13:26] cwarnermm commented on #3626
Closing.

[2022-01-20 13:26] #3626 closed

[2022-01-20 13:27] cwarnermm commented on #3625
Comprehensive HA documentation is available at docs.mattermost.com. Closing.

[2022-01-20 13:27] #3625 closed

[2022-01-20 13:28] cwarnermm commented on #3474
Comprehensive license deployment documentation is available at docs.mattermost.com. Closing.

[2022-01-20 13:28] #3474 closed

[2022-01-20 13:40] cwarnermm commented on #3280
@aaronrothschild - Is this still an active issue that users would encounter?

[2022-01-20 13:43] cwarnermm commented on #3237
@Willyfrog - I'm having trouble accessing the original post containing additional context for this issue. Can you summarize the issue please (assuming it continues to be active/present/something we want to communicate in product documentation)?

[2022-01-20 13:44] cwarnermm commented on #3149
Closing.

[2022-01-20 13:44] #3149 closed

[2022-01-20 13:46] cwarnermm commented on #3148
@Willyfrog - Can you confirm whether this continues to be information that would be beneficial to include in the product documentation, please?

[2022-01-20 13:49] cwarnermm commented on #2996
Comprehensive product documentation for migrating server configuration to the database is available on docs.mattermost.com. Closing.

[2022-01-20 13:49] #2996 closed

[2022-01-20 13:50] cwarnermm commented on #2997
@svelle - Can you please confirm whether the requested product documentation updates are still required?

[2022-01-20 13:52] cwarnermm commented on #3003
@hmhealey - Would you be open to confirming whether the requested product documentation applies to the current day product functionality/operation? (It may be that this is no longer something that needs documenting).

[2022-01-20 13:53] andrewbrown00 commented on #1151
@justinegeffen we can remove this as Matt's correct, this is VERY out of date 🙂

[2022-01-20 13:53] cwarnermm commented on #3005
@nab-77 - What are your thoughts on including uninstall details in installation product documentation, as suggested above?

[2022-01-20 13:54] #1151 closed

[2022-01-20 13:55] cwarnermm commented on #3017
Comprehensive HPNS product documentation is available on docs.mattermost.com. Closing.

[2022-01-20 13:55] #3017 closed

[2022-01-20 13:56] justinegeffen commented on #2749
The Guest Access feature has been documented in the product docs. Closing. :)

[2022-01-20 13:56] #2749 closed

[2022-01-20 13:57] Willyfrog commented on #3237
@cwarnermm it was linking to community-release which is no longer available, renaming the link to comunity or community-daily, works: https://community-daily.mattermost.com/core/pl/638bqx9pspgwugmgyz4kpe6ike

[2022-01-20 13:57] cwarnermm commented on #3024
Rollback instructions are available on docs.mattermost.com for cases where it's preferable to revert database configuration setup. Closing.

[2022-01-20 13:57] #3024 closed

[2022-01-20 13:57] justinegeffen commented on #1597
This has been addressed as part of docs 2.0 and the 6.0 release. Closing. :)

[2022-01-20 13:57] #1597 closed

[2022-01-20 13:59] cwarnermm commented on #3237
Thanks, @Willyfrog! Looks like notifications without content weren't clickable on Unity. Do you know if that continues to be the case?

[2022-01-20 14:00] cwarnermm commented on #3025
Closing.

[2022-01-20 14:05] it33 commented on #1151
👍

[2022-01-20 14:06] cwarnermm commented on #3057
Closing.

[2022-01-20 14:06] #3057 closed

[2022-01-20 14:08] cwarnermm commented on #2721
@wiersgallak - Are docs for how to write webhooks in Python something that continues to be desired in Mattermost developer documentation?

[2022-01-20 14:09] cwarnermm commented on #2723
@wiersgallak - Is a comprehensive guide to setting up Mattermost with Azure ADFS continue to be something valuable to add to the product documentation?

[2022-01-20 14:10] cwarnermm commented on #2750
@wiersgallak - Is there follow on action to be taken with this particular issue?

[2022-01-20 14:11] cwarnermm commented on #2950
@svelle - Do we have SLA levels documented somewhere publicly as well as internally?

[2022-01-20 14:13] cwarnermm commented on #2973
Comprehensive encryption product documentation is available at docs.mattermost.com. Closing.

[2022-01-20 14:13] #2973 closed

[2022-01-20 14:14] cwarnermm commented on #2974
@svelle - Does this documentation request continue to be valid? If so, would you be open to creating a PR with these changes?

[2022-01-20 14:15] cwarnermm commented on #3099
@sadohert - Would you be open to reviewing the existing product documentation to confirm whether any of the suggested updates here remain outstanding?

[2022-01-20 14:20] cwarnermm commented on #3100
Shared with Tom DeMoor to share more broadly with Mattermost's Translation Community. Closing.

[2022-01-20 14:20] #3100 closed

[2022-01-20 14:20] devinbinnie commented on #3148
Agreed, the MSI installer should be working without this.

[2022-01-20 14:20] cwarnermm commented on #3102
@DSchalla - Is this documentation request still valid, and are you open to creating a PR with the changes?

[2022-01-20 14:21] cwarnermm commented on #3104
Closing.

[2022-01-20 14:21] #3104 closed

[2022-01-20 14:22] cwarnermm commented on #3135
@mkraft - Is this documentation request still valid? If so, would you or a member of your team be open to creating a PR with the changes?

[2022-01-20 14:24] cwarnermm commented on #3140
@ahmaddanialmohd - Can you please confirm whether this request for product documentation continues to be a valid request? If so, would you be open to creating a PR with the changes?

[2022-01-20 14:24] cwarnermm commented on #3144
Closing.

[2022-01-20 14:24] #3144 closed

[2022-01-20 14:24] cwarnermm commented on #3145
Closing.

[2022-01-20 14:24] #3145 closed

[2022-01-20 14:25] nab-77 commented on #3005
I see no reason not. Let's ensure we put warnings around the last two commands as they are irreversible (and quite destructive if not exact). One thing I would do is to point out that `sudo rm -fr /opt/mattermost` will the folder mattermost and all its contents. Sometimes and application admin might configure settings that store other data in this folder (i.e. not just the contents of the tarball

[2022-01-20 14:27] wiersgallak commented on #2721
I think this can be closed for now.

[2022-01-20 14:27] #2721 closed

[2022-01-20 14:27] wiersgallak commented on #2723
Let's close this for now until we get more demand from customers/community.

[2022-01-20 14:27] #2723 closed

[2022-01-20 14:29] wiersgallak commented on #2750
This has become a project on the internal team tracked by other means.  Closing.

[2022-01-20 14:29] #2750 closed

[2022-01-20 15:38] aaronrothschild commented on #3280
@cwarnermm It's a fairly edge case, but can certainly be a complexity an admin testingout MM and Jira could encounter if they have them both on their local machines.  We should simply say somewhere: "You cannot use `LOCALHOST` to connect the Jira plugin to your server, you can use a proxy if needed"

[2022-01-20 16:45] justinegeffen commented on #1513
This work has been completed and can be found here: https://docs.mattermost.com/install/trouble_mysql.html. Closing. :)

[2022-01-20 16:45] #1513 closed

[2022-01-20 16:48] justinegeffen commented on #2718
This has been solved by: https://handbook.mattermost.com/operations/messaging-and-math/how-to-guides-for-m-and-m/how-to-write-mattermost-recipes#mattermost-recipes. I've added some additional content to that page.

[2022-01-20 16:48] #2718 closed

[2022-01-21 14:08] cwarnermm commented on #5331
Thanks for letting me know, @myasonik!

[2022-01-21 14:10] cwarnermm commented on #1502
@avats-dev - Are you working on this issue?

[2022-01-21 14:13] cwarnermm commented on #1050
@aaronrothschild - Is there a standard way to retry a Mattermost integration for cases where the Mattermost server may become/be unavailable that could be added to the integration documentation?

[2022-01-21 14:14] cwarnermm commented on #999
Closing.

[2022-01-21 14:14] #999 closed

[2022-01-21 14:16] cwarnermm commented on #994
Closing.

[2022-01-21 14:16] #994 closed

[2022-01-21 14:20] cwarnermm commented on #978
It is an interesting idea! I agree that we want to take action on this one, though perhaps later in the year.

[2022-01-21 14:21] cwarnermm commented on #3075
@DSchalla - Are you open to creating a PR with these updates?

[2022-01-21 14:22] cwarnermm commented on #2715
The GitLab Omnibus product documentation is being reviewed as part of January 2022 Growth Spike initiatives. Closing.

[2022-01-21 14:22] #2715 closed

[2022-01-21 14:23] cwarnermm commented on #2714
@justinegeffen - I've assigned this to you since it's a docs initiative that we're looking to focus on later this year.

[2022-01-21 14:24] cwarnermm commented on #2713
This work is underway now as a cross-functional team effort between docs and PMs. Closing as this will be tracked elsewhere.

[2022-01-21 14:24] #2713 closed

[2022-01-21 14:25] DSchalla commented on #3075
@cwarnermm OneLogin is owned by IT (@danielsischy) nowadays. We have some information here https://handbook.mattermost.com/company/how-to-guides-for-staff/how-to-change-mobile-device#onelogin-two-factor-authentication on the subject, but I dont think as detailed.

@danielsischy Let me know if I can help somehow!

[2022-01-21 14:29] cwarnermm commented on #1883
@mickmister - Would you be open to reviewing the existing developer documentation on [interactive messages and buttons](https://developers.mattermost.com/integrate/admin-guide/admin-interactive-messages/) to see if changes made would improve the clarity of that content?

[2022-01-21 15:32] justinegeffen commented on #2475
Thanks, @icelander. I don't see instructions in the install docs for TCP or Unix sockets, but I do see instructions for WebSockets: **https://docs.mattermost.com/install/installing-ubuntu-2004-LTS.html** so wondering if this request still applies. Thank you!

[2022-01-21 15:33] justinegeffen commented on #1504
@dontoisme, tagging you in this as it may be relevant to onboarding/the growth spike. Closing issue.

[2022-01-21 16:07] hmhealey commented on #3003
I don't think so. If it ends up being needed though, we can always reopen it.

[2022-01-21 17:23] cwarnermm commented on #3634
Thanks, @achintya-7! The next step for this documentation ticket would be to create a PR with requested changes. As noted in the original request, the sample OneLogin, OKTA, and ADFS scripts provided in the product documentation are missing important context that will help users succeed, including a confirmation that the scripts are written in Python, and details on how to run those Python scripts

[2022-01-24 13:37] cwarnermm commented on #3148
Thank you both! Closing.

[2022-01-24 13:37] #3148 closed

[2022-01-24 13:51] cwarnermm commented on #2719
@wiersgallak - Is there value in keeping this docs request open?

[2022-01-24 13:51] cwarnermm commented on #3003
Thanks! Closing.

[2022-01-24 13:51] #3003 closed

[2022-01-24 14:38] #2719 closed

[2022-01-24 14:38] wiersgallak commented on #2719
Closing issue as this is handled in other initiatives.

[2022-01-24 14:39] cwarnermm commented on #360
@svelle - Can you confirm whether install and setup via Windows with IIS is an officially supported configuration? If it's not, we'll want to move this content to the User Forum, rather than add it to the product documentation site.

[2022-01-24 14:40] svelle commented on #360
@cwarnermm Mattermost Server on Windows is *not* supported.

[2022-01-24 14:42] cwarnermm commented on #355
@wiersgallak - We don't provide Mattermost Product Documentation in a PDF format today because Mattermost docs are updated at regular interviews, and it's too easy for generated PDFs to become outdated. Is PDF availability something we want to consider for the future?

[2022-01-24 14:44] cwarnermm commented on #360
Thanks for the confirmation! Given that this content was last proposed in 2016, the content itself may be quite outdated by now. Closing.

[2022-01-24 14:46] cwarnermm commented on #812
@aspleenic - This is a great ask that may have much farther reaching implications than product documentation. Tagging you for visibility as there may be some new content that can be added or content that's already under consideration.

[2022-01-24 14:48] aspleenic commented on #812
Thanks for the add @cwarnermm - I'll keep an eye on things as they progress and adjust/chime in on any documents that may need updating or inclusion.

[2022-01-24 14:50] cwarnermm commented on #951
@enahum - Tagging you for visibility on this docs request, given that mobile V2 is in progress.

[2022-01-24 14:53] cwarnermm commented on #83
All localized product documentation content now lives in the User Forum where it can be maintained by the Mattermost Community. Closing.

[2022-01-24 14:53] #83 closed

[2022-01-25 14:47] justinegeffen commented on #355
I'm voting against PDF versions for that exact reason. Our in-product help is a good example of static help that is out of date very quickly (but not anymore, thanks to you @cwarnermm!)

[2022-01-25 18:16] #1883 closed

[2022-01-26 09:59] spaceKelan opened #5385 "Keyboard Shortcuts wrongly mapped/Documentation faulty?"
Hi, when I want to respond to the most recent message I need to write SHIFT UP instead of CTR SHIFT \ as described in the docu (https://docs.mattermost.com/messaging/keyboard-shortcuts.html). I use Ubuntu 20.04. I use Mattermost Desktop client 5.0.2.

[2022-01-26 14:11] justinegeffen commented on #5385
Hi @spaceKelan! Thanks for opening this issue. :) I've taken a look at the documentation and wanted to confirm whether the circled area is the one you're referring to.
![Screen Shot 2022-01-26 at 16 08 36](https://user-images.githubusercontent.com/4223530/151178110-ad8155fa-bd3e-45aa-a37e-3b4ebf0cb75f.png). If not, please let me know which content is problematic so we can assist you further. :)

[2022-01-27 13:06] spaceKelan commented on #5385
hi @justinegeffen , thank you for the quick response!

No, I refer to this one
![image](https://user-images.githubusercontent.com/51329415/151364813-48d68441-96dd-4cd1-84d1-4e730199c458.png)

Thank you :)

[2022-01-27 15:53] MM-Mikhail commented on #5098
Excuse my intrusion here but this dictionary thing is all broken - Windows App

How the hell can you set it up now to do checking for language you need ?

Currently it looks for system language and ignores everything else, previously it was an easy selection what you needed to check and with what to check, like in most current browsers,.

Error reporting on what you setup in the url link is none e

[2022-02-04 14:41] Sonichigo commented on #3005
Hey @cwarnermm Is this still up to take? or solved?

[2022-02-04 14:47] cwarnermm commented on #3005
@Sonichigo I'd welcome your contribution for this documentation issue! I've assigned this ticket to you. Please let me know if you need further details, context, or assistance.

[2022-02-04 17:03] Sonichigo commented on #3005
Hey Carrie! Need a bit of assistance! Do I have to make changes under here https://docs.mattermost.com/install/install-ubuntu-1804-server.html ?

[2022-02-07 16:43] icelander opened #5404 "Link to documentation about group constrains"
The `[mmctl group team disable/enable](https://docs.mattermost.com/manage/mmctl-command-line-tool.html#mmctl-group-team-disable)` commands control something called "group constrains" but it is unclear what this will do when enabled.

[2022-02-07 17:17] cwarnermm commented on #5404
@isacikgoz - Do we have documentation on group constrains that the existing mmctl docs could link to?

[2022-02-08 01:10] icelander opened #5407 "Help Wanted: Clarify Audit Logging Configuration Placement"
In the Audit Log v2 docs under [Configuring Audit Log in Mattermost](https://docs.mattermost.com/comply/audit-log.html#configure-audit-log-in-mattermost) it says this:

However, it does not provide an example of what this looks like in the `config.json`, nor a reference to describe what a `filespec` means.

[2022-02-08 13:33] isacikgoz commented on #5404
Good point, I think when this is enabled if there is a group associated with the entity (eg. a Team, a Channel), the entity will be accessible for the group members. cc @mkraft

[2022-02-14 13:53] M-ZubairAhmed opened #5418 ""mattermost sampledata" command now unavailable"
This was reported by a community member that he wasn't able to run `mattermost sampledata` as mentioned in https://developers.mattermost.com/contribute/server/developer-workflow/#useful-mattermost-commands.
I just quickly ran the command myself it seems that command isn't there anymore. We can change that to possible alternatives.

[2022-02-14 14:29] cwarnermm commented on #5418
@mgdelacroix @isacikgoz Can either of you help with identifying a way forward for this issue, please?

[2022-02-14 14:52] isacikgoz commented on #5418
Some of these commands are replaced with `mmctl` commands. For example the `sampledata` is now being used as `make test-data`.

Created the ticket to follow up on this: https://mattermost.atlassian.net/browse/MM-41809

[2022-02-15 12:52] svelle opened #5420 "Desktop App Troubleshooting missing new developer console steps"
On this page we're still referencing the old "hard mode" to open the dev console for the current tab in the desktop app.

https://docs.mattermost.com/install/desktop-app-install.html

![image](https://user-images.githubusercontent.com/7526550/154065772-10767a17-58c5-43a3-8123-dbe55ebebb1e.png)

as you can see in the screenshot we now have a very simple way in the ux to enter the dev tools.

[2022-02-16 07:08] agnivade commented on #5418
I think this should go along with the docs review project that we are doing. That page has some other areas which are outdated and does not work any more. Instead of doing a one-off fix like this, some one could own the review of the entire page and make changes accordingly.

[2022-02-19 14:57] Rutam21 commented on #4923
Hello @justinegeffen @cwarnermm, I would like to update this diagram. You can assign this to me.

[2022-02-22 16:30] #4923 closed

[2022-02-23 07:47] tkyoon commented on #1295
@thawn
I've been struggling with this problem all day.
I updated httpd to 2.4 and did everything possible, but it didn't work.
I solved it this way, thank you sooooooooooooooo~ much.

[2022-02-23 08:45] justinegeffen commented on #1295
Thanks for letting us know, @tkyoon! I have reopened this issue so that we can ensure the docs are updated appropriately. Would you be open to updating the docs with this content?

[2022-02-23 19:20] mkraft commented on #3135
https://mattermost.atlassian.net/browse/MM-42060

[2022-02-23 19:24] mkraft commented on #5404
https://mattermost.atlassian.net/browse/MM-42061

[2022-02-23 23:00] tkyoon commented on #1295
@justinegeffen  I just followed as https://docs.mattermost.com/configure/config-proxy-apache2.html.
thanks 😊

[2022-02-25 15:01] cwarnermm commented on #5404
Thank you, @mkraft!!

[2022-02-25 15:03] agnivade commented on #5418
Can do Carrie!

[2022-02-28 08:09] hanzei commented on #5199
`AutomaticPrepackagedPlugins` managed if prepackged plugins are installed/updated. I doesn't change the fact that the server loads the full list of prepackged plugins from the file store on startup. This procedure might indeed a a while. But it only happens once.

Could it be that the customer has `.PluginSettings.EnableRemoteMarketplace` enabled?

[2022-02-28 13:03] justinegeffen commented on #1502
@Sonichigo, thank you for your interest! I'd like to confirm with @avats-dev whether they're still working on this issue and then we can discuss further. :)

[2022-02-28 13:20] Sonichigo commented on #1502
Sure sure!!

[2022-03-02 21:02] laneycs commented on #5297
@cwarnermm just verifying the [Google doc](https://docs.google.com/document/d/1CdTYtOaE5U4WWEOzdguCFK5rFGNosnOWb5ovyzKeYpY/edit) I filled out for this works for documentation. Thanks!

[2022-03-03 14:06] cwarnermm commented on #5297
Thanks, @laneycs! This is amazing and a huge help! There's one small gap remaining around configuration settings for this feature:
- Where is this feature configurable via System Console?
- What's the config's config.json equivalent option/values?
CC @mkraft

[2022-03-03 19:50] glennschler opened #5449 "Extra step to see 'import process' status after slack import"
Hi. There is possibly one helpful debugging step to add to the [The 6.4-documentation for migrating from slack using the mattermost mmetl tool and bulk import](https://github.com/mattermost/docs/blob/v6.4-documentation/source/onboard/migrating-to-mattermost.rst#migrating-from-slack-using-the-mattermost-mmetl-tool-and-bulk-import) section. Following line 205 `mmctl import process <IMPORT FILE NAME>

[2022-03-03 19:54] cwarnermm commented on #5449
Thanks, @glennschler, for logging this documentation issue, and for identifying a way to update the content to help others succeed with their migrations! Would you be open to creating a PR with this documentation update? If so, an easy way to get started is to navigate to the docs page and click on the **Edit** button to go to the source file in GitHub. From there, you'd edit the file, make your c

[2022-03-03 20:18] glennschler commented on #5449
Yes @cwarnermm. I can submit a PR to resolve. Thanks!

[2022-03-08 14:05] #5449 closed

[2022-03-09 13:54] cwarnermm commented on #5297
Thanks, @mkraft! Are the valid values ``true`` and ``false``, and the default set to ``true`` for both self-hosted and Cloud deployments?

[2022-03-09 13:57] mkraft commented on #5297
Yes.

[2022-03-10 13:41] cwarnermm commented on #1502
@Sonichigo - You're welcome to work on this issue! Would you like me to assign it to you?

[2022-03-10 13:42] cwarnermm commented on #3005
Thanks for your documentation contribution, @Sonichigo! We're in the process of reviewing that PR with other stakeholders.

[2022-03-10 13:44] cwarnermm commented on #3927
@yash2189 - Are you interested in working on this issue?

[2022-03-10 13:45] Sonichigo commented on #1502
I would love to work on this! Can you also provide a bit of context to be kept in mind while working on this, it would be great!!

[2022-03-10 13:45] cwarnermm commented on #3992
@akshitadixit - Are you working on this issue?

[2022-03-10 13:47] cwarnermm commented on #5201
@Sayanta66 - Are you actively working on this issue?

[2022-03-10 13:49] Sayanta66 commented on #5201
Yes but the issue is a bit difficult.

[2022-03-11 12:13] svelle opened #5466 "Add note that mmctl user delete requires config change to work"
By default mattermost blocks the mmctl user delete command due to a config setting that defaults to false, namely:

https://docs.mattermost.com/configure/configuration-settings.html#enable-api-user-deletion

This also goes for mmctl team delete.

We don't mention this on the mmctl page as far as I can tell, so we should add a note to make sure it's visible. There also should be a note in the error

[2022-03-14 19:07] cwarnermm commented on #5297
Documentation for this feature is being tracked via https://github.com/mattermost/docs/pull/5406

[2022-03-14 19:07] #5297 closed

[2022-03-16 17:58] untergeek commented on #5407
I'm with @icelander here. I've tried and all I can get is errors:

[code]

And that comes from this:

[code]

[2022-03-19 17:04] Gregesp commented on #5407
Hello,

I try to use this parameter also for the LoggingSettings and NotificationLogSettings, it doesn't work for me also.

I put a JSON file with relative path, absolute path or else a Nested/Embedded JSON in the configuration file and i have this error or 2 others errors. I've try to use brackets [ ] and double quotes " " or not with the Embedded JSON with no sucess, i minified the nested JSON o

[2022-04-01 18:08] glennschler commented on #5466
The mmctl channel delete is similar to requirements of the "user delete" and "teams delete". The command has the same config settings requirement as these two commands, so can also be improved with similar changes as PR #5503. Is it possible to submit a similar PR related to this issue, or should I create a new issue first?

[2022-04-01 18:14] cwarnermm commented on #5466
Thanks, @glennschler! You're most welcome to submit a PR for this additional documentation update. Please include me as a reviewer, and I'll ensure it's added to the v6.6 release scheduled for April 14th.

[2022-04-04 12:51] cwarnermm commented on #1502
@Sonichigo Thank you for taking this documentation task on!

There are multiple ways to retrieve a Mattermost User ID.
- from the CLI (only available for customers up to v5.39)
- from the mmctl (replaces the CLI in v6.0 and later)
- from the System Console (the most common ways for a Mattermost System Admin to perform this task)

I recommend reviewing the existing product documentation for each of

[2022-04-04 12:57] cwarnermm commented on #5407
@wiggin77 - Would you be able to assist with this issue, please?

[2022-04-04 13:00] cwarnermm commented on #4034
Documented via https://github.com/mattermost/docs/pull/5317

[2022-04-04 13:01] cwarnermm commented on #4611
Documented via https://github.com/mattermost/docs/pull/5317

[2022-04-04 13:01] cwarnermm commented on #5338
Documentation updated via https://github.com/mattermost/docs/pull/5317.

[2022-04-04 13:01] cwarnermm commented on #4611
Documented via https://github.com/mattermost/docs/pull/5317

[2022-04-04 13:01] #4611 closed

[2022-04-04 13:01] cwarnermm commented on #5338
Documentation updated via https://github.com/mattermost/docs/pull/5317.

[2022-04-04 13:01] #5338 closed

[2022-04-04 14:38] wiggin77 commented on #5407
@Gregesp I know the docs don't (yet) make this clear, but when the main config is stored in the database then the auxiliary files also need to be in the database.  So your AdvancedLoggingConfig files would have to be added to the database via `mmctl`.  Someone did this recently and I'm trying to find the example command line for adding these files via mmctl.

[2022-04-04 15:11] Sonichigo commented on #1502
Thanks for assigning me the issue Carrie! Sure, I'll reach out to you if i have any concerns or questions.

[2022-04-07 20:18] Gregesp commented on #5407
Hello,
I tried to import JSON file on database with the CLI `mattermost import`, but it doesn't work. I tried also a formatted JSON file and it doesn't work.
I dont use `mmctl import upload` or others commands because i try to automate the deployment and as mattermost doesn't have an admin account builtin i can't use this CLI, to use it i think i do firstly create the account who will be affected

[2022-04-11 19:30] #5466 closed

[2022-04-11 19:30] #5420 closed

[2022-04-11 19:34] cwarnermm commented on #5334
@sadohert - Is there an update available for this docs request? Do you or members of your team have updated hardware sizing details available for inclusion in the docs?

[2022-04-11 19:59] cwarnermm commented on #5199
@aaronrothschild @sadohert @levb - Would you be open to assisting with this documentation update, please? I'm unclear about what's needed here.

[2022-04-11 20:07] #4102 closed

[2022-04-11 20:23] cwarnermm commented on #3639
@aaronrothschild - Are you open to helping draft a docs update for this issue?

[2022-04-13 19:36] esethna commented on #5334
cc// @nab-77 @sadohert @zefhemel ^

[2022-04-21 02:01] Sonichigo commented on #1502
Hey @cwarnermm , I have gone through the product documentation and found these docs. We can search for user and get there userID from running search option, still seeing for the system console option.

https://docs.mattermost.com/manage/command-line-tools.html#mattermost-user-search
https://docs.mattermost.com/manage/mmctl-command-line-tool.html#mmctl-user-search

[2022-04-23 12:51] cleitonpena opened #5572 "Mattermost apply error Kubernetes"
Hello!

Error trying to apply mattermost-installation.yaml (v1bta1 or v1, both version) in microk8s, 1.23.

[2022-04-25 14:24] amyblais commented on #5572
Hi @cleitonpena, would you be open to posting this troubleshooting question either on our [troubleshooting forum](https://forum.mattermost.com/) or on our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help)? One of our developers or other community members can likely help with this.

[2022-04-25 21:19] icelander commented on #5407
@Gregesp I was able to get the audit logging to work with configuration in database like this:

First, put the audit logging settings into a JSON file, e.g. `audit_logging.json`

Next, run this command to use  set a shell variable to the escaped JSON using `jq`

[code]

Then, run this command to set the configuration value:

[code]

If you are trying to automate deployment, you can use `mmctl --lo

[2022-04-25 21:26] icelander commented on #5407
Other improvements to add:

 - List the available log levels and what events are included
 - Indicate which log levels should go in `ExperimentalSettings.AdvancedLoggingConfig` and which should be in `LogSettings.AdvancedLoggingConfig`
 - Add a note about having to restart when changes are made
 - Also note that if you use a JSON object in the config file it must be escaped
 - Provide more example

[2022-04-26 19:10] cleitonpena commented on #5572
Hello, @amyblais
Thank you for your reply.👏
I solved  not from Mattermost's docs but from this link:
[INSTALL MATTERMOST KUBERNETES](https://computingforgeeks.com/install-and-configure-mattermost-on-a-kubernetes-cluster/#comment-10575)

[2022-04-26 19:15] #5572 closed

[2022-04-27 11:48] sadohert commented on #5199
Okay, finally getting back to this and digging up the history.  Here's what I think we need to change:

1. Configuration Settings Page - https://docs.mattermost.com/configure/configuration-settings.html#enable-remote-marketplace

We should explicitly tell admins about the endpoint that must be whitelisted for the "Remote Marketplace" to function.  It should normally be `https://api.integrations.ma

[2022-05-01 01:55] Sonichigo commented on #1502
Hey @cwarnermm , found the additional system admin roles docs and think it would be better to add about system console method [here](https://docs.mattermost.com/onboard/system-admin-roles.html) do let me know whether it works or not!

[2022-05-02 14:41] cwarnermm commented on #1502
@Sonichigo - The [Additional System Admin roles](https://docs.mattermost.com/onboard/system-admin-roles.html) page describes how to assign granular System Console access. On that page, there are a handful of cases where the applicable mmctl command uses ``userid``.  So this is certainly one place where this information could live.

I expect that there are numerous situations where a user may need

[2022-05-04 03:30] Sonichigo commented on #1502
That make sense! Depending what user is doing and how they are determining the UserID is situation dependent. Do let me know how I could help with these!!

[2022-05-09 19:27] sadohert opened #5642 "TypeError: echo() got an unexpected keyword argument 'fg'"
I'm getting back to building the docs to implement some edits on other Issues.  It has been a very long time :) (I think I updated from June 2020).

Some environment background:
1. I run MacOS Monterey 12.3.1
2. Mostly install tools with `brew`.  They are all up-to-date.
3. I run `zsh`, so maybe pipenv is looking for something that's not available?  I tried run in `bash` but same issue.

Running i

[2022-05-09 19:55] cwarnermm commented on #5642
Thanks, @sadohert. The docs team is also using Macs, and we mostly install tools via ``brew``, including ``brew install python``.

Have you tried the README instructions for the docs repo? https://github.com/mattermost/docs#building-and-validating

Setting up a docs environment typically requires me to run the following commands in order:
1. ``brew install python``
2.  ``pipenv -rm``
3.  ``pipenv

[2022-05-10 14:48] sadohert commented on #5642
I did some searching around to figure out what the problem was.  I don't have concrete links, but I *think* something in the `click` library that is used by `pipenv` is counting on a deprecated parameter for setting the foreground colour `fg`.

To work around this I setup a `virtualenv` environment, which used python3.9, and with this activated I was able to get past the `pipenv install` command..

[2022-05-18 13:38] coltoneshaw opened #5667 "Migrate to config in database should use mmctl"
The doc [here](https://docs.mattermost.com/configure/configuation-in-mattermost-database.html) currently points to using `bin/mattermost config get SqlSettings.DataSource` to switch the data source. It should use the `mmctl config get` equivalent. Would also require setting up local mode, or a token.

[2022-05-18 13:52] coltoneshaw commented on #5363
@cwarnermm - On the same thought as merging the PR for Ubuntu 22.04. This would need to be done, but also, if it needs to be simplified.

[2022-05-19 01:30] sadohert opened #5669 "Fix MaximumBurstSize on `configuration-settings.html`"
Looking at https://docs.mattermost.com/configure/configuration-settings.html#maximum-burst-size

The first line says:

I think that line might have been accidentally pasted from somewhere else.  I see this same line under these 2 places as well:

https://docs.mattermost.com/configure/configuration-settings.html#output-file-logs-as-json
https://docs.mattermost.com/configure/configuration-settings.h

[2022-06-01 15:12] spaceKelan commented on #5385
sorry for the late response. Haven't use Linux in a while. I tried it again and still have the same issue. I do not use keymapping on top as far as I know. At least definitely not for that combination. The other keymappings work.

[2022-06-05 16:20] robrecord opened #5696 "User unable to join teams, & documentation is ambiguous"
**On desktop, a user is unable to join themselves to available teams.**

The documentation [states](https://docs.mattermost.com/welcome/about-teams.html):

1. There is no "Main Menu"
2. The "+" icon does not show a list of teams (or even show at all if the user is unable to create teams).

Thus, on desktop (app or web), a user who is past the initial welcome stage is completely unable to join them

[2022-06-06 06:59] jprusch commented on #5696
Can not reproduce. I get "Join another team" on the current team main menu and, if I'm already a member of more than one team a + button on the sidebar. Desktop app 5.1.0.

[2022-06-06 12:06] robrecord commented on #5696
Where is this main menu you speak of? Does it have the link mentioned in the docs?

[2022-06-06 14:04] jprusch commented on #5696
Click on the team name. The drop down should display: Join another team.
I'm not sure, if this is shown, if there's only one team & the user isn't allowed to create a new team.

[2022-06-06 19:17] machineghost commented on #1006
This does not appear to be true.  When you click the icon in the lower-left, a bunch of options appear, starting with "Welcome to Mattermost".  However, that string doesn't appear in `en.json`.

[2022-06-06 21:21] machineghost opened #5704 "Instructions in https://github.com/mattermost/docs/issues/1006 Are Wrong"
The instructions at the above URL say:

However, the very first string I tried to change (see attached screenshot) wasn't in `en.json`.

Please update instructions to clarify how to change the strings that you can't change in `en.json`.
![UnlocalizableString](https://user-images.githubusercontent.com/448908/172251400-99b0327d-12d2-4dd0-b61e-b4c9dbd1b2ce.png)

[2022-06-06 21:34] cwarnermm commented on #1006
Hello @machineghost! Given the outdated nature of this closed PR, can you point me to where you found the content you believe to be incorrect/outdated, please?

[2022-06-06 22:27] machineghost commented on #1006
Well, I commented on a piece of documentation (the URL is literally "docs/issues"), not a PR, but I guess GitHub added it as a comment on  the PR?

In any case, the way I found this page was through Google.  I was trying to understand how to "white label" Mattermost, and first I found https://developers.mattermost.com/contribute/mobile/build-your-own/white-label/ (which was completely unhelpful, a

[2022-06-08 21:00] cwarnermm commented on #5696
Thanks, @jprusch! @robrecord - Are you able to reproduce the steps @jprusch has provided? Do you feel the product documentation would benefit from an update? Would you be open to creating a PR to update the product documentation based on your user experience?

[2022-06-08 21:19] cwarnermm commented on #5642
@sadohert - Does this continue to be an issue you're facing when building the documentation? Or can we close this issue?

[2022-06-09 10:45] robrecord commented on #5696
Hi @cwarnermm ,

I understand that if there is an available team to join, a user should see an option to "join a team" in these two places, and there would be no such option if there were no available teams to join (except if the user has the power to create a team, in which case the plus button allows this). If the "main menu" that is referred to is the one with the team name title at the top and

[2022-06-09 14:20] cwarnermm commented on #1006
Thank you for the context, @machineghost. Both Mattermost Cloud and self-hosted deployments include support for custom branding. You can find more information on our [custom branding tools](https://docs.mattermost.com/configure/custom-branding-tools.html) in our product documentation.

You can also find additional details about product white labeling here: https://docs.mattermost.com/about/faq-bus

[2022-06-09 15:20] sadohert commented on #5642
I'm not affected now that I use a `virtualenv` to control versions....might be worth a quick mention/note on the readme

[2022-06-10 10:22] robrecord commented on #5696
Thanks very much for this.

I forgot the issue was in the docs repo! I'll do the steps you suggested.

Thanks again!

[2022-06-10 22:16] machineghost commented on #1006
Thanks so much @cwarnermm, those links were very helpful.

[2022-06-12 15:39] machineghost commented on #5704
This was resolved in https://github.com/mattermost/docs/issues/1006#issuecomment-1151182390

[2022-06-12 15:39] #5704 closed

[2022-06-14 15:43] #5669 closed

[2022-06-19 08:34] bbodenmiller commented on #4611
Unfortunately this is still lacking for Team Edition - System Console > Authentication > OpenID Connect does not exist as instructions says to use.

And regarding following on https://docs.mattermost.com/onboard/sso-gitlab.html

What format is one supposed to use? Why does this guidance not match the scopes in instructions above on page?

[2022-06-20 04:31] jasonblais commented on #4611
cc @cwarnermm on above

[2022-07-01 10:04] sasi2022 opened #5759 "mattermost: https://comm.eyp.de/ > Verification Email is missing"
Dear all,

my regsitration process is not completed yet. Unfortunately I haven't received the email from you for the Verification of my email address: sandra sischka@eyp.de at https://comm.eyp.de/.

Could you please help me out?

Cheers,
Sandra

[2022-07-01 11:48] #5759 closed

[2022-07-07 09:26] Ornella452 opened #5767 "Bug update mattermost 7.0.1"
Hello,

We have put the latest version of mattermost, we are having some problems:
- a user has told us that they no longer see their private messages, they are like deleted
- on our side as admin in the system console, when we are looking for a person with their id, we have no results:/

Looking at our logs, we are getting errors:

_- "err_where":"GetUser","http_code":500,"err_details":"failed to

[2022-07-07 10:47] justinegeffen commented on #5767
Hi @Ornella452. I'm sorry you're experiencing this issue - it sounds very frustrating. As this is not directly related to the documentation, would you be open to posting this issue in the [Developers: Channels](https://community.mattermost.com/core/channels/messaging) channel on our Community server? Another option is to take a look at our [Support knowledgebase](https://support.mattermost.com/hc/

[2022-07-07 14:14] #5696 closed

[2022-07-07 14:15] #5767 closed

[2022-07-11 18:19] #5667 closed

[2022-07-11 19:46] cwarnermm commented on #5385
@spaceKelan - No worries at all! If you're continuing to see an issue, I encourage you to log an issue against the [mattermost/server](https://github.com/mattermost/mattermost-server/issues) repository so that our Engineering teams can review in more detail. Thanks!

[2022-07-11 19:46] #5385 closed

[2022-07-14 09:19] TwizzyDizzy opened #5778 "Ambiguous documentation regarding supported PostgreSQL versions"
I can only quote the [original issue from the mattermost-server repository](https://github.com/mattermost/mattermost-server/issues/15295), because @robert-scheck spelled out the problem meticulously already. I'll add a few additions below that quote.

It might, in general, be wise to remove all references to a specific PostgreSQL version and replace them by a link referencing a general "Supported

[2022-07-22 17:13] mickmister opened #5794 "Docs for `mmctl plugin marketplace install` references unsupported `version` argument"
As of https://github.com/mattermost/mmctl/pull/489, the `mmctl plugin marketplace install` no longer accepts a version as an argument, as only the latest version of the plugin will be installed. Docs should be updated to reflect this.

[2022-07-22 18:44] #5794 closed

[2022-07-29 12:46] TwizzyDizzy commented on #4253
Hi there,

it seems `SqlSettings.MigrationsStatementTimeoutSeconds` is also missing in the documentation.

Cheers
Thomas

[2022-08-02 15:41] neflyte opened #5817 "Help Wanted: Move Apps deployment guides from developer to product docs"
As part of a table of contents cleanup on https://developers.mattermost.com, we would like to move the Apps deployment guides out of the developer docs and into the product docs as it applies more to system administrators than developers or integrators. The existing [Packaging guide](https://developers.mattermost.com/integrate/apps/package/package-aws/) for serverless Apps will remain on the devel

[2022-08-03 16:25] justinegeffen commented on #5817
Awesome, @neflyte! This sounds like a great idea. Do you have a specific section in mind for the docs to live? How can we help you get this started?

[2022-08-08 15:32] cwarnermm commented on #5817
This is a good plan, @neflyte! The [Deployment Guide](https://docs.mattermost.com/guides/deployment.html#deployment-guide) section would be a good place to add these details. The dev docs source is likely in MD files, so we'll want to convert them to RST during the migration.

[2022-08-12 15:01] amyblais opened #5833 "Add a note about enabling EnableLocalMode to fix an mmctl error"
mmctl can fail with the following error:

[code]

This issue is fixed by setting ``EnableLocalMode`` to ``true`` in config.json. This resolution could be documented at the docs here: https://docs.mattermost.com/configure/configuration-settings.html#enable-local-mode.

See: https://github.com/mattermost/mattermost-server/issues/20221.

[2022-08-17 13:11] it33 opened #5843 "Define "Workspace""
Need somewhere in the docs to define a workspace, and link to relevant information about a workspace. Trying to update docs and can't find a definition.

Apologies if I missed one that's in there somewhere.

[2022-08-17 13:36] cwarnermm commented on #5843
@it33 - Good catch on this gap. We'll add a definition of a workspace to https://docs.mattermost.com/guides/welcome-to-mattermost.html.

[2022-08-17 17:23] justinegeffen commented on #5843
Thanks for raising this, @it33. For some additional context, there [is a page in the Handbook](https://handbook.mattermost.com/operations/research-and-development/product/technical-writing-team-handbook/our-terminology) that covers the work we're doing around terminology and it has a link to the [Google project doc](https://docs.google.com/document/d/1ImzS3UhCkFzMF2-6FNByw9W2r8Gvx1sudBA0FjazVH0/ed

[2022-09-10 15:43] smilster commented on #5833
Thanks. This was helpful!  Only setting `"EnableLocalMode": true,` and restarting service was not enough in my case. I guess I missed some steps during installation and messed around a little afterwards.

Eventually I solved my issue with the following steps (on Ubuntu 20.04, mattermost 7.2.0). I don't know which steps are necessary, but I hope they won't harm.

1. set `"EnableLocalMode": true,` i

[2022-09-14 20:07] cwarnermm commented on #5833
@isacikgoz - @smilster needed to perform additional steps to enable local mode for mmctl beyond setting ``EnableLocalMode`` to ``true``. He's kindly shared the steps he followed in this docs issue.

Can you confirm whether all users would need to perform these additional steps to enable local mode? If not all users need to perform these steps, can you comment on the conditions under which a user w

[2022-09-15 07:41] isacikgoz commented on #5833
Thanks for the ping @cwarnermm, actually we programmatically do what @smilster did :) The only key here is the owner of the process, it should be same for both `mmctl` and the mattermost-server. If the user doesn't have privileges to delete the socket (if it exists) it would fail. It doesn't matter changing the ownership of the `/opt/mattermost` as the socket file ownership is managed by the OS.

[2022-10-05 12:17] BabbarRaghav commented on #4484
Hi, is this issue still open and without any assignees?

I would like to solve it

[2022-10-05 13:36] cwarnermm commented on #4484
Thank you, @BabbarRaghav, for your interest in contributing to Mattermost product documentation. We welcome your help with this ticket. I've assigned it to you. Please note any questions or concerns you have about the work here in the PR.

[2022-10-05 17:44] cwarnermm opened #5912 "Help Wanted: Display code copy button for all inline code formatted text"
**Problem space**
Currently, visitors on the product documentation site can only use the copy code option for code blocks. This option isn't available for inline formatted code text lines.

Code block copy option in published documentation:
![image](https://user-images.githubusercontent.com/74422101/194125776-e227cc93-f329-4e22-93a5-4097458026f7.png)

Inline code text with no copy option:
![image]

[2022-10-05 17:50] cwarnermm opened #5913 "Help Wanted: Extend code copy button option to display a mouse pointer icon"
**Problem space**
Currently, it's not necessarily obvious that the code copy option available for code blocks is selectable/clickable/tappable for code samples.

**Target audience**
All users, and particularly system admins, developers, and integrators.

**Goal**
Incorporate a mouse pointer icon that displays when the user hovers over the copy code option on code samples.

**Delivery expectations*

[2022-10-05 17:55] cwarnermm opened #5914 "Help Wanted: Implement versioned product documentation"
# Context
Currently, Mattermost product documentation follows a "latest release" content approach rather than a versioned approach.

This means that:
- all documentation content is considered applicable to the latest release, unless otherwise noted.
- documentation site visitors can't select their specific Mattermost release version to focus on a filtered view of release-specific documentation det

[2022-10-05 17:55] Mustafa-Azad025 commented on #5913
Hey @cwarnermm ,
Will You Provide The Path To Code To Modify .
and Please Assign This Task To Me I Will Try To Solve This Issue

[2022-10-05 17:58] cwarnermm opened #5915 "Help Wanted: Open all external links in a new browser tab"
**Problem space**
Currently, links to external sites from the Mattermost product documentation take the visitor away from [docs.mattermost.com](http://docs.mattermost.com/).

**Target audience**
All users

**Goal**
All external links across the product documentation site open in a new browser tab, rather than the current tab.

**Delivery expectations**
- 1 PR with all proposed changes
- Leave all

[2022-10-05 18:04] cwarnermm opened #5916 "Help Wanted: Convert all internal absolute links to relative links"
**Problem space**
Currently, many internal links to other product documentation pages are formatted as absolute links ``https://docs.mattermost.com/channels/save-pin-message.html`` rather than relative links in the format ``:doc:`link name </channels/save-pin-messages>` ``

When absolute links are in place, and target destination pages move within the docs site, absolute links typically break whic

[2022-10-05 18:17] cwarnermm opened #5917 "Help Wanted: Add ALT text for embedded docs videos"
**Problem space**
Currently, video collateral across the documentation site don't include ALT (alternative) text which results in video assets not being accessible to documentation visitors using screen reader technologies.

**Target audience**
All users

**Goal**
Ensure that all video collateral includes appropriate ALT text that is detected and read aloud using supported screen reader technologi

[2022-10-05 18:18] Abhishek-Vaidya commented on #5915
I can help in solving this issue can you assign me this issue?

[2022-10-05 18:21] cwarnermm commented on #5915
Happy to have your help with this documentation improvement, @Abhishek-Vaidya!

[2022-10-05 18:22] devXprite commented on #5916
Hii @cwarnermm I want to work on this Issue.

[2022-10-05 18:24] cwarnermm commented on #5916
Thank you so much, @devXprite, for helping us with this documentation improvement!

[2022-10-05 18:29] Abhishek-Vaidya commented on #5915
can I know the path of the HTML and JavaScript files of the website, so that I can edit it and solve your issue? I was unable to find these files.

[2022-10-05 19:10] cwarnermm commented on #5914
@neflyte - Would you be open to outline the effort involved to version the Mattermost product docs based on your initial investigation? Contributors interested in this ticket would benefit from understanding the Sphinx-specific configuration needed to surface a version selection option that returns version-specific docs on demand (based on release data in GitHub).

[2022-10-05 19:47] shikhar13012001 commented on #5917
I want to work on this issue @cwarnermm

[2022-10-06 05:10] jpphilips commented on #5912
Hello, I would like to work on this issue.

[2022-10-06 06:53] lindy65 commented on #5912
Thanks @jpphilips - I've assigned the issue to you. Let @cwarnermm know if you have any questions :)

[2022-10-06 12:24] neflyte commented on #5913
@Mustafa-Azad025 You will need to add a CSS style for one or both of `.highlight:hover button.copybtn` and `.highlight button.copybtn:hover` selectors to the `source/_static/mytheme.css` file; those styles should cover the cases where the user hovers over the copy button.

[2022-10-06 15:53] neflyte commented on #5914
This one is a little complicated.

The versioning capabilities that we've seen so far are part of [ReadTheDocs](https://readthedocs.org/) instead of Sphinx. Furthermore, the versioning capability is meant for the ReadTheDocs hosted solution and not for standalone docs. I suspect the early authors of the MM product docs discovered this and decided to remove some of the implementation that could not

[2022-10-06 16:25] Mustafa-Azad025 commented on #5913
Ok I will see it

[2022-10-06 17:53] neflyte commented on #5915
HTML templates can be found in `source/templates`, and CSS/JS files can be found in `source/_static`.

[2022-10-06 17:56] cwarnermm commented on #5915
Hi @Abhishek-Vaidya! One approach to a ticket like this might be to format all links site-wide to open in a new tab. However, this particular documentation site features a mix of links that point to other pages of the same doc set as well as external links to other websites. With this in mind, formatting all links to open a certain way may impact more links than intended.

Another approach to this

[2022-10-07 00:33] jpphilips commented on #5912
If I understand the issue correctly, I'm supposed to modify the sphinx extension to effect the change. yes?

Specifically, I need to add the selector for the inline code text.

Going through the documentation, sphinx adds the copy button to the code block because it matches the selector "div.highlight pre" while the inline code is a span with a class of "pre".

What i'm thinking is to set the sele

[2022-10-07 03:52] Mustafa-Azad025 commented on #5913
Hi @cwarnermm ,
I Have Added The Hover Effect As You Said Please Merge the Code
and Thanks For Giving Me Opportunity.

[2022-10-07 09:39] justinegeffen commented on #5912
Yep, that sounds right, @jpphilips! We do have a preview server that spins up on PRs, so it's easy to see the change before it's merged. :)

[2022-10-07 17:10] BabbarRaghav commented on #4484
hey @cwarnermm, thank you so much for assigning me this issue. Is there any code snippet or do I have to write down solution from scratch?

[2022-10-07 17:21] cwarnermm commented on #4484
Hi @BabbarRaghav! In the Mattermost Product Documentation, the majority of source files are in RST format (reStructuredText), and those RST files typically use the standard tip or note directive already. We likely have few warnings or notes marked as important.

Any source file in this doc set that isn't in RST format will be in MD format (Markdown). These notes, tips, warnings, and notes marked a

[2022-10-07 17:24] cwarnermm commented on #5913
Thanks, @Mustafa-Azad025! Can you share a link to your PR with these changes, please?

[2022-10-07 17:29] cwarnermm commented on #5912
@jpphilips - I'm excited to see what you come up for this documentation ticket! I suspect that modifying the copy/paste extension code is a good way through. What I'm less sure about is how that the copy copy option will look on the page once applied to inline formatted code examples.

[2022-10-07 18:41] cwarnermm opened #5923 "Help Wanted: Document Mattermost user administration workflows"
**Problem space**
The Mattermost Product Documentation doesn't offer comprehensive information for system administrators on how to manage users in the System Console via https://docs.mattermost.com/configure/user-management-configuration-settings.html.

**Target audience**
System administrators

**Goal**
Develop and publish comprehensive documentation on how system administrators can manage users

[2022-10-07 18:45] cwarnermm opened #5924 "Help Wanted: Develop mobile v2 end user documentation for Channels user tasks"
**Problem space**
Currently, the existing [Channels end user documentation](https://docs.mattermost.com/guides/channels.html
) on focuses on the webapp/Desktop App user experience, and doesn't typically cover the user's mobile experience.

With Mattermost mobile app v2 in beta release, this is a great time to start developing end user channels documentation for tasks users would perform using the

[2022-10-07 18:50] cwarnermm opened #5925 "Help Wanted: Document visual accommodation best practices & guidelines for selecting or customizing Mattermost client themes"
**Problem space**
Mattermost supports the ability for all users to customize the look of their Mattermost client by applying a theme. Mattermost ships with a number of standard client themes, and supports the ability for users to create their own custom themes from scratch.

Mattermost users visiting the product documentation to learn about pre-built and custom themes would benefit from recommenda

[2022-10-07 18:52] cwarnermm opened #5926 "Help Wanted: Identify documentation content that would benefit from the addition of visual assets"
**Problem space**
In the Mattermost Product Documentation, there is content that is currently text-heavy. This text-heavy content is beneficial to visitors who learn well by reading, but is less beneficial to visual, audio, or kinaesthetic learners.

**Target audience**
All users

**Goal**
- Identify content across the product documentation site that would benefit from the addition of visual eleme

[2022-10-07 19:16] jpphilips commented on #5912
I made a PR. Pls check and see if I made the PR the right way

[2022-10-07 19:20] cwarnermm commented on #5912
@neflyte - Are you open to reviewing this PR from a technical perspective?

[2022-10-07 19:24] Valliammai-SM commented on #5923
Please assign me to this

[2022-10-07 19:29] cwarnermm commented on #5923
Thank you, @Valliammai-SM, for helping us with this important documentation update for system administrators!

[2022-10-07 19:30] justinegeffen commented on #5912
@neflyte, the PR is here (I couldn't add you as a reviewer for some reason): https://github.com/mattermost/docs/pull/5927

[2022-10-08 01:33] Mustafa-Azad025 commented on #5913
Which link mam??

[2022-10-08 02:20] Mustafa-Azad025 commented on #5913
I Have Again Push Changes and This Is The Link .Please Merge In Your Repo.
https://github.com/mattermost/docs/pull/5928

[2022-10-09 15:43] cwarnermm commented on #5817
Thank you, @bishal7679, for taking on this documentation update. The focus of this ticket is to move the section of developer documentation content currently available via https://developers.mattermost.com/integrate/apps/deploy/

![image](https://user-images.githubusercontent.com/74422101/194765916-a8045e0a-c3d8-4093-a3f9-c72aaa7457b6.png)

To the **Deploy Mattermost** section of the product docum

[2022-10-14 12:02] ayrotideysarkar commented on #5924
I want to work on this☺

[2022-10-14 12:04] cwarnermm commented on #5924
Excellent! Thanks, @ayrotideysarkar! Comment here with the next Channels documentation page you plan to work on.

[2022-10-14 12:11] Rutam21 commented on #5924
Hello @cwarnermm , I would pick up the `Renaming a Channel` page to work on. Thanks.

[2022-10-15 05:42] michizhou commented on #5924
Hello @cwarnermm, I would like to work on the `Join and leave channels` page. Thanks!

[2022-10-18 13:03] #5916 closed

[2022-10-18 19:19] cwarnermm opened #5951 "Help Wanted: Update format of configuration settings"
**Problem space**
~ 50% of Mattermost configuration settings are now published in a new format.

The following pages of configuration settings need to be updated to the new format:

- https://docs.mattermost.com/configure/site-configuration-settings.html (WIP)
- https://docs.mattermost.com/configure/authentication-configuration-settings.html
- https://docs.mattermost.com/configure/plugins-configur

[2022-10-18 19:19] cwarnermm opened #5952 "Help Wanted: Document that guest accounts support the ability to use different authentication than other user accounts"
**Problem space**
A common question system admins ask on the Community Server is whether guest accounts can be configured to use different authentication than other user accounts. This common question indicates that the product documentation is missing this information.

Answer: Yes. Admins can configure the authentication on a per user basis. For example: Guest user to remain with using local aut

[2022-10-18 19:19] cwarnermm opened #5953 "Help Wanted: Document how to delete all the contents of a channel, including posts from the database"
**Problem space**
A common question system admins ask on the Community Server is whether it's possible to delete all channel contents. This common question indicates that the product documentation is missing this information.

**Target audience**: System administrators, developers, integrators

**Goal**
Add links to the product documentation for administrators on how to delete contents of a channe

[2022-10-18 19:19] cwarnermm opened #5954 "Help Wanted: Clarify the methods of user authentication that Mattermost supports"
**Problem space**
A common question system admins ask on the Community Server is what user authentication methods are supported, and whether multiple authentication methods can be configured concurrently. This common question indicates that the product documentation is missing this information.

Answer: Mattermost supports up to four distinct, concurrent methods of authentication:
* An OpenID prov

[2022-10-18 19:19] cwarnermm opened #5955 "Help Wanted: Clarify whether inactive/deactivated users count towards the total number of active users reported via System Console"
**Problem space**
A common question system admins ask on the Community Server is whether inactive and/or deactivated users count towards the active user count reported in the System Console. This common question indicates that the product documentation is missing this information.

Answer: No. The Active User Count field reported via **System Console > Site Stats** is calculated using logic docume

[2022-10-18 19:19] cwarnermm opened #5956 "Help Wanted: Update Insights product documentation"
**Problem space**
A common question system admins ask on the Community Server is about Team Insights and whether system administrators can see more insights than end users. This common question indicates that the product documentation is missing this information.

Answer: No. While all public channels are listed for Team Insights, private channels are only included when the System Admin is a membe

[2022-10-18 19:19] cwarnermm opened #5957 "Help Wanted: Clarify Elasticsearch vs Bleve functionality"
**Problem space**
A common question system admins ask on the Community Server is about searching for content in Mattermost, and what happens when both Elasticsearch and Bleve search are enabled?

Example: If a system admin has a Mattermost server with Elasticsearch enabled (where ElasticsearchSettings.EnableSearching is true), but they also have Bleve search enabled (where SqlSettings.DisableDatab

[2022-10-18 22:28] amyblais opened #5958 "Broken links to legacy changelog"
**Repro steps:**
1. Navigate to https://docs.mattermost.com/upgrade/version-archive.html.
2. Find release version "v5.39.3" (or any release version prior to v6.0).
3. Click on View Changelog.

**Observed:**
A white screen shows.

**Expected:**
It should direct to https://docs.mattermost.com/install/legacy-self-hosted-changelog.html#release-v5-39-quality-release.

This is not high priority to fix.

[2022-10-19 13:26] #5953 closed

[2022-10-19 17:24] cwarnermm commented on #5924
Thanks, @michizhou! I've added you as an assignee for this ticket!

[2022-10-19 17:27] ayrotideysarkar commented on #5924
Hey @cwarnermm  i want to work on channel types.
Can you assign this to me?

[2022-10-19 17:28] cwarnermm commented on #5924
@ayrotideysarkar - Given that the Channel Types documentation page is conceptual information that explains the types of channels supported in Mattermost, and isn't a step-by-step task that users perform in-product, do you feel that this page would benefit from mobile updates?

[2022-10-19 17:34] ayrotideysarkar commented on #5924
Just read the channel type documentation.. I think there is no need to add mobile documentation because this documentation is more than enough.. So can i work one rename channel?

[2022-10-19 17:35] cwarnermm commented on #5924
I agree with your assessment, @ayrotideysarkar. The Rename Channel topic feels like a great fit. Please feel free!

[2022-10-19 17:38] ayrotideysarkar commented on #5924
Thanks @cwarnermm 🙂

[2022-10-20 12:07] #5958 closed

[2022-10-20 19:07] adithyaakrishna commented on #5956
Hey @cwarnermm
Can I take this up?

[2022-10-20 19:08] cwarnermm commented on #5956
Thanks, @adithyaakrishna! I've assigned this ticket to you.

[2022-10-20 19:14] adithyaakrishna commented on #5956
@cwarnermm I am a bit confused about the description, it says **based on all public channels available but is based on private channel membership** and the current one is **Most active threads across the team.**

Could you please let me know if I should replace it with that new one in description?

[2022-10-20 19:23] adithyaakrishna commented on #5954
Can I take this up?

[2022-10-20 19:24] cwarnermm commented on #5954
Thanks, @adithyaakrishna! I've assigned this ticket to you.

[2022-10-20 19:40] adithyaakrishna commented on #5952
Can I take this up?

[2022-10-20 19:47] cwarnermm commented on #5952
Thanks, @adithyaakrishna. I've assigned this ticket to you!

[2022-10-20 20:00] adithyaakrishna commented on #5917
@cwarnermm I guess this issue has been partially fixed as part of https://github.com/mattermost/docs/pull/5918 and there was one more video that was missed I guess so added the alt text for that one wrt to the above PR 😶

[2022-10-20 20:10] adithyaakrishna opened #5974 "[Bug] - 404 Link at Cloud Subscriptions Page"
Description:

The anchor link for current list prices at https://docs.mattermost.com/about/cloud-subscriptions.html leads to a 404 page

Screenshot:

<img width="1265" alt="Screenshot 2022-10-21 at 1 39 13 AM" src="https://user-images.githubusercontent.com/23498248/197048106-d4982c25-9a13-4aad-b4a1-70cad50c0d0d.png">

[2022-10-20 20:15] adithyaakrishna opened #5976 "[Bug] - Broken Link at Self Managed Changelog Page"
**Description:**

The link which directs to the guest accounts section at https://docs.mattermost.com/install/self-managed-changelog.html is broken

**Screenshot:**

<img width="997" alt="Screenshot 2022-10-21 at 1 44 33 AM" src="https://user-images.githubusercontent.com/23498248/197049148-8e608b4d-0a66-45b0-83d3-ac62564ac2d7.png">

[2022-10-20 20:20] adithyaakrishna opened #5977 "[Bug] - Broken Link at License FAQ Page"
Description:

The anchor link at https://docs.mattermost.com/about/faq-license.html#copyright-and-licensing-of-mattermost-server-open-source-code for per our licensing policy is broken

Screenshot:

<img width="1109" alt="Screenshot 2022-10-21 at 1 48 09 AM" src="https://user-images.githubusercontent.com/23498248/197050342-3ba6cb6e-c69c-4ab4-a85a-9be25ff001ce.png">

[2022-10-20 20:35] cwarnermm commented on #5977
Thanks, @adithyaakrishna! Are you open to fixing this broken link?

[2022-10-20 20:36] cwarnermm commented on #5976
Thanks, @adithyaakrishna! Are you open to fixing this broken link?

[2022-10-20 20:41] uravgkarthik commented on #5976
@cwarnermm I am working on this one
Can you please assign it to me

[2022-10-20 20:41] adithyaakrishna commented on #5977
No problem @cwarnermm, I think I will let someone else take it up :)

[2022-10-20 20:41] uravgkarthik commented on #5977
Hi @cwarnermm
I'm working on this
Can you please assign it to me

[2022-10-20 20:52] uravgkarthik commented on #5977
Hi @cwarnermm

I am not sure which of these following links is apt here
Can you please help me here

1. https://mattermost.com/enterprise-edition-terms/
2. https://docs.mattermost.com/about/faq-license.html

[2022-10-20 20:54] cwarnermm commented on #5977
Thanks for confirming, @uravgkarthik! Please use the second URL as the correction.

[2022-10-20 20:55] uravgkarthik commented on #5977
Thanks @cwarnermm
Noted!

[2022-10-21 02:32] sdclipper opened #5980 "Does not accept the language in Portuguese (Brazil)"
I installed the focalboard on an unbutun server when configuring for the language of the Portuguese language of Brazil it just does not accept the others are ok.

[2022-10-21 15:46] #5976 closed

[2022-10-21 18:14] matthew-src opened #5985 "Broken links in README"
The links in the README file to the Documentation Style Guide and reStructuredText Markup section are broken. The working links are:

[Documentation Style Guide](https://handbook.mattermost.com/operations/research-and-development/product/technical-writing-team-handbook/documentation-style-guide)
[reStructuredText Markup](https://handbook.mattermost.com/operations/research-and-development/product/t

[2022-10-21 18:37] cwarnermm commented on #5985
Thank you so much, @matthew-src! We'd welcome you help fixing these broken links. I'll assign you this issue.

[2022-10-21 18:42] #5974 closed

[2022-10-21 18:50] #5952 closed

[2022-10-21 18:52] matthew-src commented on #5985
Great, thank you!

[2022-10-21 19:13] #5985 closed

[2022-10-21 19:35] #5977 closed

[2022-10-21 20:01] ayrotideysarkar commented on #5924
I want to work on Add members to a channel
 for my next one 😊
@cwarnermm and @justinegeffen

[2022-10-24 15:09] #5917 closed

[2022-10-24 15:15] #5954 closed

[2022-10-24 16:40] cwarnermm opened #5991 "Help Wanted: Improve Kubernetes Operator product documentation"
**Problem space**
While the Mattermost [Kubernetes product documentation](https://docs.mattermost.com/install/install-kubernetes.html) shouldn't be a comprehensive guide for all things Kubernetes and operators, this content needs to provide clear guidance on how to have success with a Mattermost deployment that is deployed via Kubernetes.

**Target audience**: System Administrators, Developers, In

[2022-10-24 16:41] cwarnermm opened #5992 "Help Wanted: Apply abandoned API documentation correction"
**Problem space**
https://github.com/mattermost/mattermost-api-reference/pull/682 was submitted in March 2022. This PR can't move forward because the original submitter hasn't signed the Mattermost CLA.

**Target audience**: Developers, Integrators

**Goal**
API documentation contains a description of the structure of the command= parameter.

**Delivery expectations**
- 1 PR for all changes.
- Res

[2022-10-24 16:44] cwarnermm opened #5993 "Help Wanted: Fix broken documentation links"
**Problem space**
Links in product documentation to legacy changelogs are broken.

**Target audience**: system administrators

**Goal**
All links to legacy changelogs work as expected.

**Delivery expectations**
- 1 PR for all link corrections.
- Within the [Version Archive source file](https://github.com/mattermost/docs/blob/master/source/upgrade/version-archive.rst), correct the following links

[2022-10-24 17:50] zafar-hussain commented on #5993
hi @cwarnermm,

please assign this issue to me.

cheers

[2022-10-24 18:15] ayrotideysarkar commented on #5993
I want to work on this☺

[2022-10-24 18:48] cwarnermm commented on #5993
Thanks, @zafar-hussain! We appreciate your help with this ticket!

[2022-10-24 19:59] cwarnermm commented on #5992
Thanks, @zafar-hussain!

[2022-10-24 21:25] cwarnermm commented on #5951
Thank you, @matthew-src! Really appreciate your help with this important work!

You've explained the work well. The tables are reStructuredText formatted. The description of the config setting is written in plain English for all audiences.

Some existing configuration settings in the docs may be missing enough detail, such as a decent description, default values, possible values, and/or the full p

[2022-10-25 11:40] adithyaakrishna commented on #5956
Hi @cwarnermm :)
Could you please let me know if you have any updates on this?

[2022-10-25 13:24] cwarnermm commented on #5956
Thank you for your patience, @adithyaakrishna! I recommend adding a note under the Team Insights section, after the table that alerts page visitors of the following 2 points:

- Team Insights are based on all public channels available as well as private channel membership. System Admins must be a member of private channels to see threads from those channels.

- System admins who can't see public t

[2022-10-26 00:12] matthew-src commented on #5951
I have made some progress, but I have a question regarding the notation for the ``config.json`` path. It seems that for ease of copy and pasting, the path should be given in dot notation without including the default value or other possible values. For Site Name this would be ``.TeamSettings.SiteName``, as opposed to `` ".TeamSettings.SiteName": "Mattermost"``.  What do you think?

(I did not see

[2022-10-26 12:57] cwarnermm commented on #5951
Great question, @matthew-src! And you're correct: the goal is to make copying and pasting easy for the user.

The default values are included in dot notation in straightforward cases such as numeric and boolean values, and avoided for strings. This was done intentionally to prevent users from copying and pasting incorrect values; however, this approach has introduced an inconsistency in the dot no