[2019-04-19 16:21] icelander opened #2646 "BindPassword is not required"
https://docs.mattermost.com/administration/config-settings.html#bind-password was changed with https://mattermost.atlassian.net/browse/MM-14678

[2019-04-20 15:27] hico11 commented on #1920
could show image as to where to turn off the notification sounds?

[2019-04-23 17:23] #1927 closed

[2019-04-23 19:01] #2287 closed

[2019-04-24 17:31] #2646 closed

[2019-04-30 09:48] torgeirl opened #2665 "Extended Support Release (ESR) docs"
On April 14, 2019 I received the following email from Mattermost Support:

**tl;dr:** 5.9 is the new ESR, support for 4.10 ends on July 15.

These updates are currently not included in the documentation, and I haven't seen this announced anywhere else either (official Twitter, official blog). At an absolute minimum the docs should be updated to prevent someone from setting up a server now using 4.

[2019-04-30 14:51] amyblais commented on #2665
Twitter and blog announces sound good too, @wiersgallak is that something you can help coordinate with marketing or let me know if you need any help with that?

[2019-05-02 10:11] torgeirl commented on #2665
My suggested changes got approved and have been merged to `master` so the immediate nature of this issue has been resolved. :+1:

@amyblais: great! Should we keep this issue open while that's been prepared or for any broader   discussion a roadmap/improved ESR comms in general, or would you like to keep that internally?

[2019-05-02 14:29] svelle commented on #2030
I think this has been included in the docs by now.

[2019-05-02 14:56] #2125 closed

[2019-05-02 19:19] bweslowski opened #2673 "NGINX proxy instructions incorrect for RHEL7"
The latest NGINX on RHEL 7 has the configuration file in a different location than specified in the installation instructions.  The following corrections should be made:

In section To configure NGINX as a proxy, #2 :
sudo touch /etc/nginx/sites-available/mattermost
should be: sudo touch /etc/nginx/conf.d/mattermost

#3: Open the file /etc/nginx/sites-available/mattermost
should be: Open the file

[2019-05-02 19:23] amyblais commented on #2673
Hi @bweslowski,

Thank you for noticing this. Would you be interested in making these edits to the documentation?

[2019-05-03 14:28] amyblais commented on #2673
Hi @bweslowski,

I opened a doc PR to add notes for RHEL 7: https://github.com/mattermost/docs/pull/2678.

Since the "To configure NGINX as a proxy" section is used for different docs (e.g. https://docs.mattermost.com/install/install-ubuntu-1804.html), do you know if the changes you suggested only apply to RHEL 7 or also for other environments?

[2019-05-03 19:48] bweslowski commented on #2673
I haven't tested this on other environments, only RHEL 7.  I agree that the
NGINX Proxy configuration might be different for other operating systems,
so I don't know if it's best to edit the main install document or leave
comments in the comments section.  I can edit the main document, or I can
re-write my changes to the instructions for RHEL7 as a comment.  I'll do
whichever you think is best.  T

[2019-05-03 21:49] amyblais commented on #2673
Thank you @bweslowski,

I opened a doc PR to add notes for RHEL 7: https://github.com/mattermost/docs/pull/2678. Let me know if this is what you were thinking and feel free to make any changes to the formatting on the notes that I added.

[2019-05-06 14:39] bweslowski commented on #2673
@amyblais, I think that's perfect.  Thank you.

On Fri, May 3, 2019 at 5:49 PM amyblais <notifications@github.com> wrote:

[2019-05-06 18:26] #2030 closed

[2019-05-09 12:07] #2673 closed

[2019-05-15 14:15] wiersgallak commented on #2357
Related ticket: https://mattermost.atlassian.net/browse/MM-14874

[2019-05-17 14:20] #2297 closed

[2019-05-17 18:18] wiersgallak opened #2710 "Administration Guide Information Architecture"
Improve the information architecture of the Administration Guide. Consider the following aspects
 - Order of information presented
 - Accessing information from one topic to the next in a sequenced flow
 - Improved information retrieval from search and browsing

[2019-05-17 18:19] wiersgallak opened #2711 "User’s Guide Information Architecture"
Improve the information architecture of the User's Guide. Consider the following aspects
 - Order of information presented
 - Accessing information from one topic to the next in a sequenced flow
 - Improved information retrieval from search and browsing

[2019-05-17 18:20] wiersgallak opened #2712 "Integration Guide Information Architecture"
Improve the information architecture of the Integration Guide. Consider the following aspects
 - Order of information presented
 - Accessing information from one topic to the next in a sequenced flow
 - Improved information retrieval from search and browsing

[2019-05-17 18:25] wiersgallak opened #2713 "Feature Documentation Template"
Create a template to documenting product features improving consistency of presentation and retrieval of information of product features.  Consider the following types of information to be included (not exhaustive)
 - Enabling the feature
 - Use cases supported
 - A technical explanation of how the feature works
 - Troubleshooting issues

[2019-05-17 18:32] wiersgallak opened #2714 "“How to” Documentation Template"
Create a template for "How to" type documentation so that all instructions follow a similar format and order for consistency to our doc users.

Consider (not an exhaustive list):
 - Before getting started instructions
 - Troubleshooting instructions

[2019-05-17 18:34] wiersgallak opened #2715 "GitLab Mattermost Guide"
Review and revision of information at https://docs.gitlab.com/omnibus/gitlab-mattermost/

Consider:
 - Order of information presented
 - Accessing information from one topic to the next in a sequenced flow
 - Improved information retrieval from search and browsing

[2019-05-17 18:54] wiersgallak opened #2718 "Template for Product Recipes"
Create a template for writing product recipes.
Consider (not an exhaustive list):
 - Problem to be solved by recipe
 - Pre-installation/pre-configuration notes
 - How to instructions to set up and configure the solution
 - categorization of recipe amongst others for easy search and retrieval.

[2019-05-17 18:56] wiersgallak opened #2719 "Product Recipes Information Architecture"
Propose how Product recipes should be organized and accessible through our doc and linked back to our blog.  This likely includes coordinating with our Marketing department and other internal stakeholders on a solution.

When writing a recipe, please follow [this format](https://docs.mattermost.com/process/guest-article.html#mattermost-recipes)

[2019-05-17 18:57] wiersgallak opened #2720 "Product Recipe: How to use Mattermost with Minio"
Include setup, configuration, and talk about the Minio project

Category Suggestion: Storage

[2019-05-17 18:59] wiersgallak opened #2721 "Product Recipe: How to use Python to talk to Mattermost"
Make a simple incoming and outgoing webhook with Python.

There are a couple of Python/Flash examples to use as a starting point at https://github.com/cvitter/mattermost-standup-slash

Category Suggestion: Developers

When writing a recipe, please follow [this format](https://docs.mattermost.com/process/guest-article.html#mattermost-recipes)

[2019-05-17 19:01] wiersgallak opened #2722 "Product Recipe: How to make a Mattermost Raspberry Pi appliance"
How to set up Mattermost on a Raspberry Pi and make it discoverable on a network. (ie: Shared drive with an invite link?)

Category Suggestion: Enthusiasts

When writing a recipe, please follow [this format](https://docs.mattermost.com/process/guest-article.html#mattermost-recipes)

[2019-05-17 19:14] wiersgallak opened #2723 "Product Recipe: How to Set Up Mattermost with Azure ADFS"
A comprehensive guide to setting up Mattermost with Azure ADFS providing authentication via SAML and LDAP group syncing

Suggested Category: Integrations

When writing a recipe, please follow [this format](https://docs.mattermost.com/process/guest-article.html#mattermost-recipes)

[2019-05-20 09:35] torgeirl opened #2725 "Extended Support Release (ESR) upgrade guide"
A new ESR was announced last month (related discussions in issue #2665), but there doesn't seem to any dedicated migration guide for upgrading from 4.10 to 5.9. [The docs](https://docs.mattermost.com/administration/extended-support-release.html) does mention a clear path to upgrade will be provided:

Reading the [Important Upgrade Notes](https://docs.mattermost.com/administration/important-upgrade

[2019-05-20 09:49] torgeirl opened #2726 "Downgrade guide should be updated to include 5.9 (ESR)"
After a failed upgrade from 4.10 (last ESR) to 5.9 (current ESR) as mentioned in issue #2725, I tried downgrading using [the downgrade guide for 5.0](https://docs.mattermost.com/administration/downgrade.html) (I know it doesn't say 5.x, but there isn't any other guide available).

There are no errors when appling the the database reverts:

[code]

Running the database with your backed up 4.10 bina

[2019-05-22 20:35] amyblais commented on #2725
Hi @torgeirl, letting you know that I've forwarded your feedback on these two doc issues for our product managers. As a next step they will be discussing with our devs about what we can document for upgrade paths and how to handle issues requiring a downgrade. Thank you for bringing these up,

[2019-05-23 07:48] torgeirl commented on #2725
@amyblais: thank you. Please let me know if you need any feedback on this.

[2019-05-23 16:54] bradl001 opened #2731 "Reword initial sentence for bulk export tool"
The initial sentence for "source/administration/bulk-export.rst" may need to be adjusted. A suggestion is below:

"Moving data from one Mattermost instance into another begins with exporting data to a JSONL file then using the bulk loading feature."

[2019-05-25 12:34] blackandred commented on #2720
:+1:

[2019-05-25 13:28] fataljoy commented on #2714
Hello, I would like to help create this template)

[2019-05-25 21:29] ABresting commented on #2718
Hi @wiersgallak
I want to contribute to the Product recipes project. As a developer and researcher, I will do both PoC and generalizing the process involved in the form of a blog.

I want to approach this by first discussing the possible templates. I believe there exists a template like the following:
https://mattermost.com/blog/mattermost-recipe-how-to-create-a-chatbot-with-dialogflow-and-google-

[2019-05-27 13:35] it33 opened #2733 "Print is truncated at 1 page"
Repro

- Go to https://docs.mattermost.com/overview/product.html and print

Expected

- Print the entire document

Observed

- Print is only for first page, see screenshot:

![image](https://user-images.githubusercontent.com/177788/58423259-7bd47580-8049-11e9-9c48-95f605f27690.png)

Possible fixes:

- Propose opening this as a Help Wanted ticket

[2019-05-29 18:04] #2720 closed

[2019-06-02 12:28] SanjeevYadavcr7 commented on #2714
Hi, i want to donate my work to create this template.

[2019-06-02 22:54] c5c86a opened #2749 "WIP: Guest Access"
https://github.com/mattermost/docs/pull/2747
https://github.com/mattermost/docs/pull/2748

[2019-06-02 22:55] c5c86a opened #2750 "WIP: Suggestion on Product Planning Templates and Communication Tools"
Thank you @wiersgallak for suggesting me to start my Proof of Concept. I assume this is the right repository. I am converting [this](https://docs.google.com/document/d/1DDReqCPWyK8KNDyQkNhCJ5YWt0tIrIMosXpMoQGjfPw/edit#) example spec that you gave me into https://github.com/mattermost/docs/issues/2749

## Scope

This a duplicate of [this](https://docs.google.com/document/d/1DDReqCPWyK8KNDyQkNhCJ5YW

[2019-06-03 19:19] amyblais commented on #2725
Closing via https://github.com/mattermost/docs/pull/2740.

[2019-06-03 19:19] #2725 closed

[2019-06-03 19:19] amyblais commented on #2726
Closing via https://github.com/mattermost/docs/pull/2740.

The ESR page has now been updated: https://docs.mattermost.com/administration/extended-support-release.html.

[2019-06-03 19:19] #2726 closed

[2019-06-06 16:46] toni517b commented on #2733
This might be helpful info.  If I print the document in Firefox and then choose the "simplify page" option at the top, it prints all 3 pages.  Otherwise, only the first.

![MatterMost Print](https://user-images.githubusercontent.com/51376973/59050751-1b1f1700-8859-11e9-8144-398736b341eb.JPG)

[2019-06-06 22:22] it33 commented on #2733
thanks @toni517b super helpful, hopefully we can figure out how to default to full page print...

[2019-06-11 18:30] cjdavis62 opened #2775 "Enumerating a list is broken for descending lists"
When I was writing a reply to a message (they listed issues in the format
(as one single message)

When I made a reply in the format
(as one single message)

It was printed to the screen as

[2019-06-12 13:00] amyblais commented on #2775
Hi @cjdavis62, what Mattermost server version, as well as device and OS are you on?

[2019-06-13 15:25] cjdavis62 commented on #2775
It's Mattermost 4.2.1, and I'm working on a Windows desktop running Windows 10 version 1809 (build 17763.529)

[2019-06-13 16:14] amyblais commented on #2775
Thank you, also, what server version are you on? What is the "expected" part of the issue you're seeing?

[2019-06-13 22:44] cjdavis62 commented on #2775
Is this what you need? (it's a bit hard to find the right place to Mattermost's about.)

Mattermost Version: 5.1.1
Database Schema Version: 5.1.0
Database: postgres
Build Hash: 77274a7aca64491a1898d4e4239158817a503a8e
EE Build Hash: f1f822d34ec7426dea87ec1193e2a969888a3a86
Webapp Build Hash: acf0c6a1ebb17feab428a01ebacbd907bc59373d
Build Date: Tue Aug 7 18:15:46 UTC 2018

What is seen in the chann

[2019-06-13 23:02] amyblais commented on #2775
Hi @cjdavis62, I'm not able to reproduce this on the latest server version so there may have been a bug earlier. Would you be open to upgrading to v5.11 to see if you can still reproduce the issue? You can test it out at https://community.mattermost.com if you want which is currently on the latest version.

[2019-06-18 13:13] #1511 closed

[2019-06-18 13:13] #1592 closed

[2019-06-25 10:36] Mayeu opened #2812 "Wrong SHA 256 for Mattermost Enterprise 5.12.0"
Hello 👋

In the [Version Archive](https://docs.mattermost.com/administration/version-archive.html) documentation the SHA256 sum of the Mattermost Enterprise Edition v5.12.0 seems to be the wrong one.

In the documentation we can find:
* `https://releases.mattermost.com/5.12.0/mattermost-5.12.0-linux-amd64.tar.gz`
* SHA-256 Checksum: `df1615d9c3bfe25c8d9dbad201e5f938bd40daaf93701d3954638212fb54425d

[2019-06-25 10:39] Mayeu commented on #2812
Additional info, the GPG signature is the good one:
[code]

[2019-06-25 12:07] amyblais commented on #2812
Thank you, this is fixed now in the docs.

[2019-06-25 12:07] #2812 closed

[2019-06-26 13:44] amyblais commented on #2775
We haven't received an update for a while, so I'll close this for now. Please let us know if you had a chance to upgrade your server and whether you still see this issue on a recent version.

[2019-06-26 13:44] #2775 closed

[2019-06-27 20:43] sadohert opened #2820 "mattermost export compliance - `exportFrom` should be in Epoch Milliseconds"
Ran into this when using the compliance export from the command line.

In [the docs](https://docs.mattermost.com/administration/command-line-tools.html#mattermost-export-actiance) we specifically say:

But this should be in milliseconds since Epoch.

[2019-07-01 18:10] justinegeffen commented on #985
I'll take this.

[2019-07-01 18:10] justinegeffen commented on #985
I'll take this one.

[2019-07-03 16:06] grundleborg commented on #2820
Fix merged to docs.

[2019-07-03 16:06] #2820 closed

[2019-07-06 10:50] justinegeffen commented on #2722
I'll take this one.

[2019-07-08 13:39] Roshchenya opened #2831 "MATTERMOST account is blocked"
Hi! I received a message that my MatterMost account is BLOCKED due to a lot of attempts using an invalid password. I tried to reset it using my email, but I didn't receive any reset emails.
Could you help me to resolve this situation?

Kind regards,
Ksenia

[2019-07-08 13:44] amyblais commented on #2831
Hi @Roshchenya, please check your spam / junk email folder in case those emails went there. Otherwise, you will need to contact your System Admin of your server to help reset your email.

[2019-07-14 19:06] jasonblais commented on #2722
Thanks @justinegeffen! Linking your recipe here for reference https://github.com/justinegeffen/mattermost_raspberrypi_recipe/blob/master/README.md

[2019-07-14 19:06] #2722 closed

[2019-07-18 02:44] tapaswenipathak commented on #2712
@wiersgallak There are lot of tickets where you have suggested improving the already present doc. Can you write what improvements you want fixed?

[2019-07-18 20:31] NOP64 opened #2858 "Add another SAML troubleshooting topic"
A customer had used Migratemost and may not have used the proper parameter since they had SAML. That parameter is `--authentication-data-field`.

As a result, the `AUTHDATA` column in the `USERS` table was empty. That was causing SAML to throw an error: "An account with that username already exists."

Please consider adding this as a possible cause for SAML issues in https://docs.mattermost.com/in

[2019-07-19 12:40] #2231 closed

[2019-07-26 11:05] janvt opened #2871 "Broken Link on CLA page"
Not sure where to report this, can't find this text in any docs repos.

The link on https://www.mattermost.org/mattermost-contributor-agreement/ to the Karl Fogel book is broken (404) (https://producingoss.com/en/copyright-assignment.html)

[2019-07-26 12:04] amyblais commented on #2831
I'll close this issue for now because we haven't received feedback. Please re-open this issue if the problem persists.

[2019-07-26 12:04] #2831 closed

[2019-07-26 12:09] amyblais commented on #2858
Hi @NOP64, is the issue you're describing similar to this one: https://docs.mattermost.com/install/troubleshooting.html#an-account-with-that-username-already-exists-please-contact-your-administrator?

If not, I can help open a PR for this. If you're interested in opening a PR for this too, let us know.

[2019-07-29 23:11] jasonblais commented on #2871
Thanks for the report @janvt! We'll look at getting this fixed

[2019-07-29 23:13] jasonblais opened #2875 "Document: when using reverse proxy, connection security shouldn't be set to TLS"
It seems that if you’re using a reverse proxy - the Mattermost console option for Connection Security within Web Server settings must be set to None. Even though Use Let's Encrypt is set to false, somehow it seems Mattermost still thinks this option is enabled if Connection Security is set to TLS instead of None.

See more details at https://forum.mattermost.org/t/apache-client-sent-an-http-reques

[2019-07-29 23:48] jasonblais opened #2876 "Clarify when TLS is required on the Mattermost server and the NGINX proxy"
If someone sets up TLS on the Mattermost server before doing so for NGINX breaks the connection as the TLS prevented it from successfully communicating with the Mattermost server. This is particularly true if Mattermost server and NGINX are in the same box.

You also don't need to set up TLS with Mattermost if it's set up on NGINX.

We should add an explanation of this in our [install guides](http

[2019-07-30 01:01] jfrerich opened #2877 "Replace `System Console > Integrations > Custom Integrations` with new System Console naming convention."
Proposal to find existing `Custom Integrations` occurrences and replace with the appropriate location.

ag 'Custom Integrations' reports 19 occurrences.

[2019-07-30 10:24] jasonblais commented on #2871
We've removed the link for now 👍

[2019-07-30 10:24] #2871 closed

[2019-07-30 20:03] #2877 closed

[2019-08-27 00:16] icelander opened #2950 "Add instructions for indicating SLA level"
[Add to this document](https://docs.mattermost.com/process/support.html#general-questions-for-any-issues)

[2019-09-05 13:19] matterdoc opened #2967 "Request for Documentation: Test; Please Ignore"
Mattermost user `joram` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/duwboyguqj8y9mdpar1p8z47nw).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-09-05 13:20] jwilander commented on #2967
Closing as this was a test

[2019-09-05 13:20] #2967 closed

[2019-09-05 16:36] matterdoc opened #2969 "Request for Documentation: This is a test."
Mattermost user `joram` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/aciqohp5jtfnpkk9spzydafzxh).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-09-05 16:42] matterdoc opened #2970 "Request for Documentation: Update Config setting description for Team Name Display"
Mattermost user `katie.wiersgalla` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/npc6xw7c9j8u3cg7495jbh43kr).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-09-05 16:44] matterdoc opened #2971 "Request for Documentation: Something that should be documented"
Mattermost user `paul.rothrock` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/p6gu5dhnfty39n1rbsabu8nior).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-09-05 16:44] icelander commented on #2971
Closing as an example

[2019-09-05 16:44] #2971 closed

[2019-09-05 16:47] #2969 closed

[2019-09-05 16:53] matterdoc opened #2972 "Request for Documentation: test"
Mattermost user `paul.rothrock` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/3c8oqeb9dp8kzyefh9hgika1xy).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-09-05 16:53] #2972 closed

[2019-09-05 22:47] matterdoc opened #2973 "Request for Documentation: HTTPS + WSS protocol usage for Posts"
Mattermost user `ahmad.danial` from https://community.mattermost.com has requested the following be documented:

See the original post [here](https://community.mattermost.com/_redirect/pl/agaqe88q6t865kdeuc6n6w8hzh).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-09-06 14:25] matterdoc opened #2974 "Request for Documentation: add azure ad notes to ldap docs"
Mattermost user `sven.huester` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/9ncao336gig97q3yhp9fa38f8e).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-09-11 14:08] matterdoc opened #2980 "Request for Documentation: Need guidance on developers going to conferences"
Mattermost user `corey` from https://community-daily.mattermost.com has requested the following be documented:

[code]

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-09-11 15:14] matterdoc opened #2981 "Request for Documentation: Test"
Mattermost user `joram` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/cjxwxmhg83bm3e1hpjunj74bqh).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-09-11 15:17] #2981 closed

[2019-09-13 10:28] tuxmanu opened #2985 "Link to Openssl Site doesn´t exist anymore in generate-certificates/gencert.md"
Link is broken
https://www.openssl.org/docs/apps/x509v3_config.html#Subject-Alternative-Name

[2019-09-13 10:29] tuxmanu commented on #2985
https://github.com/mattermost/docs/blob/master/source/scripts/generate-certificates/gencert.md

[2019-09-13 12:30] #2970 closed

[2019-09-17 06:13] ZouHongxue opened #2993 "Can't Login"
![image](https://user-images.githubusercontent.com/20573881/65015642-b2196600-d954-11e9-96e1-c6fa69b5d74e.png)
![image](https://user-images.githubusercontent.com/20573881/65015658-bb0a3780-d954-11e9-8621-81b43e103f9f.png)

I only can switch on two pages in my mac, in my browser can connect correctly.
I think this because I use my personal email, so how can I clean all the cache?
I uninstall & inst

[2019-09-17 15:11] matterdoc opened #2994 "Request for Documentation: Poll results from 10/17/2019"
Mattermost user `jelena.gilliam` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/phm1736hhidfidsmo7qs61piua).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-09-17 16:37] matterdoc opened #2995 "Request for Documentation: Instructions for how to verify your TLS certificates are compatible with iOS 13/macOS 10.15"
Mattermost user `paul.rothrock` from https://community.mattermost.com has requested the following be documented:

[code]

Which will return something like this:

[code]

Verify that the key is 2048 bit or higher.

3. Use this command to check the signature algorithm:

[code]

Which will return something like this:

[code]

Verify that the `Peer signing digest` is `SHA256`, `SHA2`, or `SHA384`

5.

[2019-09-18 01:36] matterdoc opened #2996 "Request for Documentation: Usage of config.json file when server configuration has been migrated to the database"
Mattermost user `jason.blais` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/7gjm16xb6bfzpkiwobtshgi7ka).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-09-18 13:18] amyblais commented on #2993
@ZouHongxue On Mac, you can go to your top of the screen > View > Clear Cache and Reload.

If that doesn't work, please help us with more information from this page for further troubleshooting: https://docs.mattermost.com/process/support.html#general-questions-for-any-issues.

[2019-09-18 21:57] matterdoc opened #2997 "Request for Documentation: Fix Set-ADFSRelyingPartyTrust description in SAML doc to refer to correct step"
Mattermost user `sven.huester` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/zju8fn54a3d5m8mtitsk99qwya).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-09-19 14:55] jgilliam17 commented on #2994
test

[2019-09-19 14:55] jgilliam17 commented on #2994
test

[2019-09-19 15:58] amyblais commented on #2985
@jasonblais After research, I wasn't able to find a link that could replace https://www.openssl.org/docs/apps/x509v3_config.html#Subject-Alternative-Name. Do we remove the link from https://github.com/mattermost/docs/blob/master/source/scripts/generate-certificates/gencert.md or do you know the correct link?

[2019-09-19 16:26] jasonblais commented on #2985
@amyblais Let's remove for now

[2019-09-19 17:24] #2985 closed

[2019-09-20 06:11] matterdoc opened #3001 "Request for Documentation: 1123"
Mattermost user `teli` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/a7ksy4g1opgfzxtaoomuty3bbc).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-09-23 06:29] matterdoc opened #3003 "Request for Documentation: Add desktop app troubleshooting FAQ item: the message/input box goes missing after zooming in/out"
Mattermost user `jason.blais` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/i5w67jwhh3f538mfahtkcijzcc).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-09-23 09:18] svelle opened #3004 "clarify setcap step in upgrade docs"
right now it says that the setcap step only needs to be run when using TLS.

But it's also needed when using port 80 (which some companies use for MM instances running only in intranet)

[2019-09-23 20:44] matterdoc opened #3005 "Request for Documentation: Add uninstall instructions to installation instructions"
Mattermost user `paul.rothrock` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/p1zmgpsq4pb7tj1bj9hzo817oy).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-09-24 14:13] matterdoc opened #3007 "Request for Documentation: Add note to upgrade docs for users migrating from 4.x to 5.x versions"
Mattermost user `sven.huester` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/yxt4jshhcbfndj6z8jtq3b8bbo).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-09-25 11:08] sadohert opened #3008 "SAML Configuration Assistance - sso-saml-technical reference broken"
When I view the docs page the reference at this line doesn't render correctly:

https://github.com/mattermost/docs/commit/c809f13b8f4b4b28b15247897d3a9d14d8c475ec#diff-ff3d74952ad9adc2544c992605794d31R42

<img width="1105" alt="Screen Shot 2019-09-25 at 7 07 18 AM" src="https://user-images.githubusercontent.com/260544/65595636-34141b00-df63-11e9-8079-fca23aa44dbf.png">

[2019-09-25 13:17] #2994 closed

[2019-09-25 13:49] #3008 closed

[2019-09-27 17:06] matterdoc opened #3017 "Request for Documentation: Clarification on HPNS"
Mattermost user `joram` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/5d9e5b1fjin49bjh1oyqgqyhxe).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-10-02 10:57] sadohert opened #3023 "config-in-database - Example text not visible on the public docs page"
Looking at this link:
https://docs.mattermost.com/administration/config-in-database.html

I see
<img width="1103" alt="Screen Shot 2019-10-02 at 6 54 23 AM" src="https://user-images.githubusercontent.com/260544/66039001-a5167e00-e4e1-11e9-811e-0038cc28e0a1.png">

The 2 red arrows point to missing examples.  I can see them when I view the file within github:

<img width="1136" alt="Screen Shot 2019

[2019-10-02 13:38] sadohert opened #3024 "Add example for database config to file-based config"
Add an example to the docs for `config migrate` to explicitly show how a customer would move from database-based config back to file-based.

[2019-10-02 14:25] amyblais commented on #2993
We haven't received feedback for a while so I'll close this issue for now. Please re-open this issue if the problem persists,

[2019-10-02 14:25] #2993 closed

[2019-10-02 19:27] matterdoc opened #3025 "Request for Documentation: AD Groups for Multi-Domains, Single forrests"
Mattermost user `katie.wiersgalla` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/b5xrq38eht813dzw8dp6bwocar).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-10-03 11:36] rothirschtec commented on #1295
If you want to open mattermost inside an iframe you have to add following inside your apache vHost configuration.

`
Header append Content-Security-Policy "frame-ancestors 'self' https://*.your.domain.local"
Header unset Content-Security-Policy
Header append X-Frame-Options "ALLOW-FROM 'https://*.your.domain.local'"
Header unset X-Frame-Options
`

An example: https://documentation.kopano.io/kopano

[2019-10-04 16:41] kumar1202 commented on #3005
Hi, Can I take up this issue?

[2019-10-07 15:08] #3023 closed

[2019-10-09 16:37] icelander opened #3038 "Add Troubleshooting section to Zoom Plugin"
Review zoom plugin support tickets - e.g. 10909 - to find common issues and their solutions

[2019-10-09 20:53] Prodian0013 opened #3039 "PDF Export of Documentation"
Unable to find a link to download the documentation in pdf format.

[2019-10-09 23:43] amyblais commented on #3039
@Prodian0013 Thank you for the report, I'll close this as a duplicate of an existing Help Wanted issue https://github.com/mattermost/docs/issues/355.

[2019-10-09 23:43] #3039 closed

[2019-10-10 03:33] Prodian0013 commented on #3039
@amyblais i was able to get a pdf i just forked the repo and used readthedocs site to generate it.

https://buildmedia.readthedocs.org/media/pdf/mattermost-docs/latest/mattermost-docs.pdf

[2019-10-10 09:47] 2019-05-10 opened #3042 "session expires suddenly"
- client is running
- communicated an hour ago or so via mattermost
- suddenly a popup appears "your session has expired"

???
given that the cumbersome client not even remembers credentials, this constantly breaks my workflow

[2019-10-10 09:51] 2019-05-10 opened #3043 "client does not remember credentials"
the client needs to remember credentials
i have a never-ending session (computer hibernates usually, no reboots), but mattermost nevertheless likes to unpredictably destroy my sessions (#3042)
when that happens i have to look up the credentials again, because the client does not store them
if this is a "security feature": i am a grown up, i am quite capable to think and decide by myself and don't

[2019-10-10 09:53] 2019-05-10 opened #3044 "systray popup does not open client"
if a new message arrives, a popup appears -but it does not open the client, nor does a simple click.
i always have to right-click and select the channel before i can read the message

this is cumbersome and decidedly user-unfriendly and needs to be fixed

[2019-10-13 00:16] NOP64 opened #3057 "Kubernetes installation doc suggestions"
Most of the following comes from someone very new to Kubernetes. I think it's in our interest to err on the side of being overly explicit since it's a relatively new aspect to Mattermost.

* Is it possible to document the Kubernetes platform & version being used/tested as well? The docs simply say 1.12 and higher but I had issues with it not working on 1.16.
* When editing the installation manifes

[2019-10-14 13:53] 2019-05-10 opened #3062 "client's new message notification does not disappear reliably from systray icon"
- systray icon signals new message(s) by showing a fat black dot
- open client and read message
- close client
dot is still there
- open again
- switch to another channel and back
dot finally disappears

it does not happen always but very often, so often in fact as to render the "new message" notification almost useless, since I can never tell whether there's really a new message or just the systr

[2019-10-15 11:24] gunn4y opened #3064 "iframe integration into Confluence"
Hi, I got a request to implement mattermost into confluence via iframe. The documentation states to change the "head.html" which seems to be gone since 2015 (https://docs.mattermost.com/integrations/embedding.html#embedding-mattermost-in-web-applications-using-an-iframe )

To this point I found no way to implement mattermost via iframe into confluence. What is the current correct way and why isn´t

[2019-10-15 12:37] justinegeffen commented on #3007
Hi @svelle. I've taken a look at the documentation here: https://docs.mattermost.com/administration/upgrade.html and agree that there is no explicit mention of this. Could you let me know which document you saw that note in, so I can align them?

I also noted that this is mentioned in the upgrade notes: https://docs.mattermost.com/administration/important-upgrade-notes.html
"platform binary is ren

[2019-10-15 15:12] amyblais commented on #3042
@2019-05-10 Did you mean to open these issues in the desktop app repo https://github.com/mattermost/desktop/issues?

Can you help with more details about your environment from here https://docs.mattermost.com/process/support.html#general-questions-for-any-issues?

[2019-10-15 15:20] matterdoc opened #3065 "Request for Documentation: Document supported ES versions."
Mattermost user `george` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/ccfpn8bk73y4bep6gg6tx66q8a).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-10-15 15:21] matterdoc opened #3066 "Request for Documentation: Note compatible Elasticsearch versions in Elasticsearch deployment docs"
Mattermost user `sven.huester` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/ccfpn8bk73y4bep6gg6tx66q8a).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-10-15 15:22] #3066 closed

[2019-10-15 15:22] svelle commented on #3065
The page were we should document it: https://docs.mattermost.com/deployment/elasticsearch.html

[2019-10-16 15:35] matterdoc opened #3075 "Request for Documentation: Add Instructions on adding the first or additional MFA Method to a OneLogin Account"
Mattermost user `dschalla` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/nmc4hqk4bibgpfhqocph3ennah).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-10-17 09:06] 2019-05-10 commented on #3042
a) didn't know there were separate repos
b) no idea whether this is caused by the client or server
c) don't have access to the server

[2019-10-17 09:13] #3043 closed

[2019-10-17 09:15] 2019-05-10 commented on #3062
should go into mm/desktop

[2019-10-17 09:15] #3062 closed

[2019-10-17 09:15] 2019-05-10 commented on #3044
should go into mm/desktop

[2019-10-17 09:15] #3044 closed

[2019-10-17 13:09] jasonblais opened #3081 "Images do not render at ../formatting-text.html#in-line-images"
See below
![image](https://user-images.githubusercontent.com/13119842/67011505-c1a7de00-f0bd-11e9-97d8-bb56e8d2c17a.png)

https://docs.mattermost.com/help/messaging/formatting-text.html#in-line-images

[2019-10-17 13:30] anayroy0007 commented on #3081
I am working on this.

[2019-10-17 13:44] jasonblais commented on #3081
Thanks @anayroy0007! :tada:

[2019-10-17 15:16] anayroy0007 commented on #3081
please merge the pull request.

[2019-10-18 17:26] amyblais commented on #3042
Thank you for transferring into the desktop repo, I responded to your issue reports,

[2019-10-18 17:26] #3042 closed

[2019-10-18 19:46] svelle opened #3088 "Add note to change web server data transfer limit if increasing file upload limit"
If users follow the default Mattermost install guide they have an NGINX setup with the following setting in it:
`            client_max_body_size 50M;`
Increasing the max upload file size will not work file sizes larger than 50M and instead fail with a 413 error.

We should add a note here and maybe also to the system console for that setting that the web server's configuration needs to be adjuste

[2019-10-19 03:14] DaKeiser opened #3090 "UPDATING DOCUMENTATION: Fixing broken links related to Contribution Guidelines"
#### BUG

###### Description
In [`overview.rst`](https://github.com/mattermost/docs/blob/master/source/process/overview.rst) there are a few links like [this](https://docs.mattermost.com/developer/contribution-guide.html), which I believe to my knowledge are broken.

###### Suggestions for improvement
On researching I did find a [link](https://jeffschering.github.io/mmdocs/upgrade/developer/contri

[2019-10-21 15:39] CDRO opened #3092 "Request for Documentaiton Update: Migrating from Slack"
The [migration guide](https://docs.mattermost.com/administration/migrating.html#migrating-from-slack) suggests to spin up the platform docker image which doesn't really do anything (at least on linux). It seems that `docker-compose` is the way to go.

Please clarify or update the documentation accordingly.

Best Regards

[2019-10-21 18:57] #3090 closed

[2019-10-22 22:57] matterdoc opened #3098 "Request for Documentation: Test issue"
Mattermost user `jason.blais` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/65tgtpwmqjdd9df11g9t7w16da).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-10-22 23:04] #3098 closed

[2019-10-23 01:43] matterdoc opened #3099 "Request for Documentation: How to migrate config.json to the database in RHEL7/MySQL"
Mattermost user `jason.blais` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/q4twey84gjdgtjaib84zfpmsar).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-10-23 09:09] justinegeffen commented on #3057
Thanks, @NOP64. These are very good points and I agree with you.

Could you tell me a bit more about the issue with ``storageClassName`` and some of the pointers you think may be helpful? It's definitely far better to provide some context to the process so that users don't feel like they're just following instructions.

I'm working on your other questions and will revert shortly.

[2019-10-23 09:44] matterdoc opened #3100 "Request for Documentation: Add FAQ for localization docs"
Mattermost user `jason.blais` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/oyco4cztmtggzpzik4we4qzrww).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-10-23 11:47] DSchalla opened #3102 "Enhance documentation for TLS Overwrite Ciphers"
Our current documentation for the `TLSOverwriteCiphers` should contain some examples how to use it and make a mention that it does not affect TLS 1.3

[2019-10-23 14:17] sadohert commented on #3099
Can we add some language about how cluster nodes are triggered to pick up the new configuration change?  Are they polling the DB?  Is there some refresh period?

[2019-10-23 14:21] matterdoc opened #3104 "Request for Documentation: Troubleshooting the desktop app connection to the server"
Mattermost user `john.thompson` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/tuzfj4wg9idgpgwokd8hk8senr).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-10-24 15:04] matterdoc opened #3106 "Request for Documentation: Update iframe embedding documentation"
Mattermost user `sven.huester` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/4drcz4xp5pdg7qecxg6bwybnpo).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-10-25 20:03] matterdoc opened #3111 "Request for Documentation: ElasticSearch FAQs"
Mattermost user `katie.wiersgalla` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/iaypyggwm3ga9fbnjmcmus8m7w).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-10-29 18:45] NOP64 commented on #3057
I'm going to try and make sense of what I learned but I'm equally happy to talk more with others to nail it down for new users.

------------------
There is no explicit `storageClassName` set in the MySQL operator YAML file. I think that means it makes a `PersistentVolumeClaim` with no storage class. That's reasonable. I had to learn more about PV, PVC, storage classes, etc. to understand the simp

[2019-10-30 21:57] matterdoc opened #3118 "Request for Documentation: Guest account FAQ's"
Mattermost user `john.thompson` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/onnktoyqp3yeujynm8iuag6pmc).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-10-31 08:07] #985 closed

[2019-10-31 09:09] boschkundendienst opened #3119 "Windows App showing white screen"
Hi,

I am running the Mattermost Desktop Client for Windows `Version 4.3.1` and have it setup to autostart automatically. It starts up well, the top bar shows the last communication, the menu items `File`, `Edit`, `View`, `History`, `Window` and `Help` are there and usable to the rest of the application only shows a white screen like this:

![2019-10-31_10h03_41](https://user-images.githubusercont

[2019-10-31 09:14] JtheBAB commented on #3119
@boschkundendienst

Wrong Repo.

Here is the desktop repo.
https://github.com/mattermost/desktop/issues/new/choose

Best regards

[2019-10-31 09:37] boschkundendienst commented on #3119
Thanks for pointing me in the right direction. I openend the case there.

[2019-10-31 09:37] #3119 closed

[2019-10-31 09:58] justinegeffen commented on #3111
I've added three of the four questions to the ES content.

For question four, I'd like to clarify whether the customer is asking for a search string to account for that or whether they're confirming that it's possible to access logs that indicate the number of queries per user per day.

[2019-11-01 16:59] matterdoc opened #3124 "Request for Documentation: Improve ESR Documentation"
Mattermost user `lindsay.brock` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/6fi6a1ogf7rfbyzp6jju7bu18h).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-11-02 08:46] focusonmx opened #3125 "Clarifying is needed for CJK search explanation in Administarator's Guide."
https://github.com/mattermost/docs/blob/master/source/install/i18n.rst

In this part of Installing Mattermost Guide Line, there are explanations about special configuration for  Chinese,Japanese and Korean Search .

There is no explanation of Korean but only about Chines and Japanese. I think this because  there is no problem for Korean Search. But there is no mention that special configuration of

[2019-11-05 07:26] matterdoc opened #3129 "Request for Documentation: test"
Mattermost user `dhkim` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/hnsoxy9wr7gqjp8i1e3hiuxxfa).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-11-05 13:25] matterdoc opened #3130 "Request for Documentation: What happens when you change the configured "data retention" period?"
Mattermost user `george` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/6cxcyquyipr3jcs9bjjr1anjnw).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-11-05 13:27] matterdoc opened #3131 "Request for Documentation: Does the sysadmin get any notification when the data retention period is changed."
Mattermost user `george` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/bueh65hs83fg7f9bezdxcomuke).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-11-05 14:39] amyblais commented on #3124
https://github.com/mattermost/docs/pull/3128

[2019-11-06 08:42] gunn4y commented on #3064
The Issue was resolved by the MM support. Really bummed nobody cared about this.

[2019-11-06 08:42] #3064 closed

[2019-11-06 15:43] justinegeffen commented on #3125
Hi @focusonmx. Thanks for raising this. You're welcome to make the edits to the documentation and you can do so directly on the GitHub page. Let me know if you run into any issues or have any questions.

[2019-11-06 15:51] bvineyar commented on #3131
Can I take this one?

[2019-11-06 18:17] matterdoc opened #3135 "Request for Documentation: How Mattermost stores AD objectGUIDs in Users.AuthData and UserGroups.RemoteId"
Mattermost user `martin.kraft` from https://community.mattermost.com has requested the following be documented:

[code]

You can convert this GUID format in powershell like this:

[code]

Significantly, these values in LDAP filters, only the backslash-escaped format will return the object:
* `(objectGUID=\1e\bc\ff\1e\a3\4a\9d\4f\a5\08\d4\d8\1f\1f\58\73)` :white_check_mark:
* `(objectGUID=1effbc1e-

[2019-11-06 22:19] bvineyar commented on #1579
I can work on this one.

[2019-11-07 03:30] matterdoc opened #3140 "Request for Documentation: FaceID for EMM devices"
Mattermost user `ahmad.danial` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/k1mjj8dgytdkmq8xsjtm3sstee).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-11-07 20:09] justinegeffen commented on #3118
Hi @wiersgallak, I'm almost done with updating the FAQs and wanted to confirm the invitation validity period. The current documentation indicates that invitations are valid for 48 hours but a period of 24 hours is mentioned here. Could you confirm which is correct?

[2019-11-07 20:34] wiersgallak commented on #3118
@justinegeffen Thanks for confirming - I just checked the server code and can confirm it is 48 hours. See code reference here: https://github.com/mattermost/mattermost-server/blob/b9329d19841fb4e5f6e2f674ddea31d5d1e94cd8/app/user.go#L45

[2019-11-08 07:42] justinegeffen commented on #3118
Awesome, thank you!

[2019-11-08 10:33] matterdoc opened #3144 "Request for Documentation: What happens when posts you are viewing get deleted by data retention policy, and when a thread gets partially deleted due to data retention policy?"
Mattermost user `george` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/zwwoamat3tyzdgbq73yhakxjpy).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-11-08 10:34] matterdoc opened #3145 "Request for Documentation: If all the posts from a given channel are purged by a retention job, does the channel still remain in place?"
Mattermost user `george` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/xra3quxcppnbbqptrehxnz6k1h).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-11-08 11:41] svelle commented on #3007
Hey @justinegeffen sorry for taking so long with this. I tried finding the blog post I mentioned here but for some reason I simply can't find it.

I'll see if I can remember the differences and note them down here. Later today.

[2019-11-09 17:04] jasonblais opened #3147 "Mobile Usability issues detected on https://docs.mattermost.com/"
Google Search Console has identified that docs.mattermost.com site is affected by 3 Mobile Usability issues:

- Text too small to read
- Clickable elements too close together
- Content wider than screen

[2019-11-11 10:41] matterdoc opened #3148 "Request for Documentation: Update windows installer documentation for 4.3.X windows installs"
Mattermost user `guillermo.vaya` from https://community-release.mattermost.com has requested the following be documented:

[code]
should solve the problem.

I've tested this approach with the MSI, which uses /quiet for that to run silently
[code]

[2019-11-11 13:41] matterdoc opened #3149 "Request for Documentation: How do I delete a webhook message attachment after someone clicks on an interactive button?"
Mattermost user `jason.blais` from https://community-release.mattermost.com has requested the following be documented:

[code]
[code]

[2019-11-11 20:27] justinegeffen commented on #3125
Hi @focusonmx, I wanted to follow up on this and find out if I can help with anything on this issue. :)

[2019-11-12 08:43] hanzei commented on #3149
@jasonblais Is https://docs.mattermost.com/developer/interactive-messages.html#how-do-i-manage-properties-of-an-interactive-message not enough?

[2019-11-12 10:59] jasonblais commented on #3149
It wasn't immediately obvious to me, but I'm not a developer so may just have a gap in technical understanding. Also, the community member part of the original discussion that generated that FAQ had a question after the FAQ was created.

0/5 though, if not needed, we can close this issue

[2019-11-12 11:22] sadohert commented on #3099
Also, I think we need to consider the following updates:

1.  Specifically link to the 2 sets of properties in `config.json` that are NOT visible in the System console, with description of how these properties must be updated using the CLI
2.  Describe how invoking the CLI should work to still leverage config-in-database.  It seems we have to ensure the shell that invokes the cli needs to include

[2019-11-12 11:50] focusonmx commented on #3125
Hi @justinegeffen, Thank you for your reply :) I wonder that is it right that Korean doesn't need any special configuration  unlike Chinese and Japanese?

[2019-11-12 12:16] justinegeffen commented on #3125
That's a very good question. I can't answer that conclusively and I'm wondering if this channel might be able to provide more info: https://community.mattermost.com/core/channels/i18n-korean.

[2019-11-12 12:40] focusonmx commented on #3125
I'm new to open source and have joined hoping to learn and hopefully contribute. So can I ask you what is your role in Mattermost?  Because I want to ask you properly about this issue. Do you  manage the issues of docs and commit them to main branch?

[2019-11-12 12:56] justinegeffen commented on #3125
Absolutely - I'm a Technical Product Writer and I write feature documentation for the Administration Guide. I also work on issues that are raised, but there is also a big community component which means that everyone is welcome to work on any of the issues in the queue.

One of the best things about Open Source is that anyone can contribute and, when you do, the changes/suggestions you make are op

[2019-11-13 16:09] #3111 closed

[2019-11-13 23:42] #3118 closed

[2019-11-14 09:43] #3129 closed

[2019-11-14 11:03] justinegeffen commented on #3092
Hi @CDRO. Thanks for raising this issue. Would you mind confirming whether you clicked through to https://docs.mattermost.com/install/docker-local-machine.html and used the one-line install command?

I have also requested confirmation on the command as there is a discrepancy between that and the one listed in the install document.

[2019-11-14 12:59] craph opened #3157 "Update documentation about Incomming Webhooks"
I open this issue related to [this one](https://github.com/mattermost/mattermost-server/issues/13079)

I was unable to see the Add Incoming Webhook in Mattermost.

Please could you update the documentation to avoid misunderstanding here : https://docs.mattermost.com/developer/webhooks-incoming.html#simple-incoming-webhook

Please could you add to switch back to the Team view after enabling the Inc

[2019-11-14 13:07] CDRO commented on #3092
Hi @justinegeffen. I can confirm that the way described on your link effectively starts the container (and rather quickly at that), but I did not click this one through at first, since the migration suggested first starting the other one.

[2019-11-14 13:08] justinegeffen commented on #3092
Thanks for confirming! I'll update the migration page.

[2019-11-14 19:21] matterdoc opened #3159 "Request for Documentation: Korean search doc updates"
Mattermost user `jason.blais` from https://community-release.mattermost.com has requested the following be documented:

[code]
  # in your mysql configuration
  [mysqld]
  ft_min_word_len = 2
  innodb_ft_min_word_len = 2
[code]
  - to search hashtags ([ref](https://github.com/mattermost/mattermost-server/pull/4555)):
[code]
  - to search users: rebuild `Users.idx_users_txt_all` and `Users.idx_user

[2019-11-15 05:59] focusonmx commented on #3159
I'll do it for [this part](https://github.com/mattermost/docs/blob/master/source/install/i18n.rst) of the docs by adding the Korean explanation for Korean guide reader.

[2019-11-15 14:23] wiersgallak commented on #3131
Some additional content from the discussion in channel:

Data retention runs the actual deletion query in batches. It deletes data in blocks of 1,000 records per query in order to not lock-up the database for extended periods of time with slow, long-running queries (keeping to this limit keeps the query down to a few milliseconds execution time on the database itself). Each batch of data is delete

[2019-11-15 20:21] matterdoc opened #3162 "Request for Documentation: Update push proxy documentation to use systemd service files instead of upstart"
Mattermost user `sven.huester` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/mrfpbuaxo3bydfdqwck6brs3wa).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-11-16 05:57] #3092 closed

[2019-11-17 15:11] #950 closed

[2019-11-17 16:16] bvineyar commented on #3148
I will take this one.

[2019-11-18 16:02] #1507 closed

[2019-11-20 15:35] focusonmx commented on #3125
@justinegeffen Thank you for your help, I communicated with Localization channel members and [this issue](https://github.com/mattermost/docs/issues/3159) is opend. So this excisting issue can be closed.

[2019-11-20 15:37] #3125 closed

[2019-11-20 17:41] justinegeffen commented on #3125
It's a pleasure, and I am glad I could help. :)

[2019-11-21 15:39] #3159 closed

[2019-11-21 15:40] amyblais opened #3179 "Update ESR graphic in 2020"
Update supported release graphic in 2020 https://docs.mattermost.com/administration/extended-support-release.html#what-is-the-life-cycle-of-an-extended-support-release.

[2019-11-21 15:41] #3124 closed

[2019-11-22 14:49] svelle opened #3184 "Add info on formatting for DB connection strings"
DB connection strings need to be formatted with [URL escaping](https://www.w3schools.com/tags/ref_urlencode.asp) not 'regular' escaping.

So for example a `,` would be escaped using `%2C` instead of `\u002C` or `\x2C`.
This should be noted somewhere in the documentation because the default connection strings we provide break for example when trying to add those to the DataReplicationSource setting

[2019-11-22 18:43] justinegeffen commented on #3057
Thanks for raising this, @NOP64. I wanted to follow up and include @jwilander in this conversation as he'll be able to answer your questions regarding db behavior.

In terms of the information around PVs, I'm working on the documentation to incorporate that.

[2019-11-22 19:02] justinegeffen commented on #2615
I've taken a look through https://docs.mattermost.com/deployment/sso-saml-adfs.html and it looks like the corrections have been made. @icelander, if you're able to confirm that would be great. :)

[2019-11-25 16:53] nmatt opened #3187 "Documentation on muting channels is unclear"
From reading the documentation on muting channels, I can't figure out the following: Does one still get (a) desktop and (b) e-mail notifications for direct mentions on a muted channel?

[2019-11-26 22:26] jasonblais opened #3191 "Help Wanted: Consider setting a referrer-policy for NGINX proxy configuration"
See context: https://gitlab.com/gitlab-org/omnibus-gitlab/merge_requests/3763

That MR sets Referrer-Policy for Mattermost to `strict-origin-when-cross-origin` by default, allow customization via gitlab.rb. Same as GitLab.

[2019-11-28 12:45] #1590 closed

[2019-11-28 19:26] justinegeffen commented on #1504
I've updated the RHEL docs to include a link to the config section. Looking through the suggestions, I feel they are addressed by the Docker content for [Prod](https://docs.mattermost.com/install/prod-docker.html) and [Local](https://docs.mattermost.com/install/docker-local-machine.html).

@peterdamian, I agree with all your suggestions. As this issue is a couple of months old, if you have the ban

[2019-11-29 13:19] justinegeffen commented on #3187
Thanks, @nmatt! I've made some changes to the documentation in light of this issue. Let me know if it clarifies things or you have any feedback. :)

[2019-11-29 20:10] nmatt commented on #3187
Thanks @justinegeffen, however it's still not 100% clear to me. Under "Notification Preferences", there are two setting, "Mute channel" and "Ignore mentions for @channel, @here and @all". When editing "Mute channel", the description is "Muting turns off desktop, email and push notifications for this channel. The channel will not be marked as unread unless you're mentioned." My question is whether

[2019-11-29 20:13] justinegeffen commented on #3187
Thanks for the additional information, @nmatt. I understand what the issue is and I'm tagging @esethna on this to further clarify.

[2019-12-02 11:31] justinegeffen commented on #833
I've reviewed https://docs.mattermost.com/process/release-faq.html#release-numbering and it has been updated to include more detailed information about release numbering.

[2019-12-02 11:31] #833 closed

[2019-12-02 11:39] swapnilogale commented on #804
Happyto look at this @justinegeffen

[2019-12-03 15:58] amyblais opened #3205 "Docs with `md` file formatting show the file name for images below or beside the image"
This is an issue with any file with ``md`` file format.

Example docs with this issue:
https://docs.mattermost.com/deployment/sso-google.html
https://docs.mattermost.com/deployment/sso-office.html

Found while reviewing: https://github.com/mattermost/docs/pull/2622

<img width="544" alt="file-name" src="https://user-images.githubusercontent.com/29708087/70067038-afc1c200-15bb-11ea-9a9c-c9c5eab789e

[2019-12-04 12:53] svelle opened #3211 "Using Mattermost CLI as described in the docs causes errors"
I thought I opened an issue for this before but I seem to be mistaken.
Anyways there's an issue in the CLI docs where we recommend running the CLI commands from inside the bin directory.

See: https://docs.mattermost.com/administration/command-line-tools.html#using-the-cli

This however causes errors to appear, like the plugins directory not being found etc. Basically every path in the config that

[2019-12-04 23:27] swapnilogale commented on #804
@justinegeffen as discussed, I'll look at merging the 2 RHEL topics (across 6 and 7) and address these inconsistencies in the process-

[2019-12-05 15:47] jasonblais opened #3215 "FAQ on audio/video/screenshare is outdated"
Current FAQ: https://docs.mattermost.com/overview/faq.html#video-audio-and-screen-sharing

We should update the FAQ to link to an admin doc which summarizes all the options currently available (close to 10): https://docs.mattermost.com/deployment/video-and-audio-calling.html

We should also update the admin page linked above to include the new Webex plugin from Mattermost https://github.com/matter

[2019-12-05 17:54] esethna commented on #3187
Thanks for bringing this up @nmatt, to clarify on this:

1. Muting a channel does not send notifications (desktop, email, push) for any mentions (whether they are channel-wide or directed at you). However, while a channel is muted if you receive a mention you will still see the channel at reduced opacity with the mention badge in the sidebar:
![image](https://user-images.githubusercontent.com/1433

[2019-12-05 19:07] nmatt commented on #3187
@esethna: Just to be sure: If a channel is muted, then the "ignore mentions for channel, here and all" setting doesn't make any difference for the muted channel, correct?

In any case, I will open a feature request to enable notification for mentions in muted channels, as that would be an important feature for me.

[2019-12-05 19:24] nmatt commented on #3187
I now see that there's already a feature request on UserVoice: https://mattermost.uservoice.com/forums/306457-general/suggestions/36650401-ability-to-receive-notifications-for-muted-channel

[2019-12-05 20:32] matterdoc opened #3220 "Request for Documentation: Document silent install of MSI"
Mattermost user `eric.sethna` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/ueoctp9eb3d75cazsdto636waw).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-12-06 12:10] justinegeffen commented on #3187
Thanks, @esethna. I'll have some time to look at this and do testing next week and will make updates as suggested.

[2019-12-08 15:33] src-r-r opened #3224 "Setting siteUrl in config.json for Ubuntu 18.04"
Regarding the instructions here: https://docs.mattermost.com/install/install-ubuntu-1804.html#installing-mattermost-server

A minor step is missed to set the siteUrl option (about step 7/8). Otherwise the server will not start. A warning is produced regarding this option, but it would be better to include this in the documentation.

[2019-12-09 07:25] #2615 closed

[2019-12-09 14:31] svelle opened #3225 "Improve troubleshooting/docs for gfycat integration"
Currently we have zero troubleshooting for the gfycat integration.
99% of cases the gif preview is not working because admins don't know that the images from gfycat in chat (unlike the preview in the emoji picker) is being loaded through the Mattermost server.

We should add a section that has the following info included:

### What to do if gifs are not loading even though they show up in the emoj

[2019-12-09 22:13] matterdoc opened #3230 "Request for Documentation: This is a test."
Mattermost user `ahmad.danial` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/riw689amppgn5x46eswrti1fky).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-12-10 23:42] bermudezmt opened #3234 "Help Wanted: Local Machine Setup using Docker Error"
Command for Ubuntu 18.04:
[code]
Error:
`E: The repository 'https://download.docker.com/linux/ubuntu eoan Release' does not have a Release file.`

Suggested fix:

https://stackoverflow.com/questions/41133455/docker-repository-does-not-have-a-release-file-on-running-apt-get-update-on-ubun - See question and [suggested answer](https://stackoverflow.com/a/45881841)

[2019-12-11 13:59] matterdoc opened #3235 "Request for Documentation: Some FAQs for Elasticsearch"
Mattermost user `george` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/ktngd9141fb5bmmpt7qw17mb3o).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-12-11 14:54] svelle opened #3236 "Add note to config in database docs about CLI usage"
Just got off a call with a customer that had database connection errors when running the CLI commands after they ingested the config into the database as described here: https://github.com/mattermost/docs/blob/master/source/administration/config-in-database.rst

They are supplying the Mattermost service with the envvars using a systemd envvar file but the CLI of course does not have access to this

[2019-12-11 22:40] matterdoc opened #3237 "Enable behaviour for Ubuntu's Unity notifications"
Mattermost user `guillermo.vaya` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/oopx7ufdtfftfrkhfbgbq6dowy).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-12-16 17:01] svelle opened #3247 "Make the segment.io endpoint used for optional telemetry more visible"
Right now it's kind of hidden in at the bottom of this page: https://docs.mattermost.com/administration/telemetry.html#error-and-diagnostics-reporting-feature

But I feel like this should be more visible to avoid any possible confusion.

[2019-12-16 22:49] matterdoc opened #3248 "Request for Documentation: What is our recommended max latency between app servers and DB and read replicas across DC's in a clustered set up?"
Mattermost user `jason.blais` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/34dpoqk6aif6df64zsj65phnch).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-12-18 12:35] neethumoltp opened #3258 "We're having trouble connecting to Mattermost. If refreshing this page (Ctrl+R or Command+R) does not work, please verify that your computer is connected to the internet."
I have followed below instructions to install mattermost. While accessing it with http://localhost:8065 seeing below error.
We're having trouble connecting to Mattermost. If refreshing this page (Ctrl+R or Command+R) does not work, please verify that your computer is connected to the internet.

[2019-12-18 14:09] amyblais commented on #3258
Hi @neethumoltp,

1. What Mattermost server version are you on? What OS / device / browser are you using?
2. Can you help check if this troubleshooting guide might help https://docs.mattermost.com/install/troubleshooting.html#cannot-connect-to-the-server-please-check-your-server-url-and-internet-connection?
3. Would you be open to check if this previous troubleshooting thread might help https://fo

[2019-12-19 12:11] justinegeffen commented on #1505
I've reviewed the current Docker and Kubernetes documentation and from what I can see they are more comprehensive than they likely were in 2017. For example, links to additional configurations (such as adding users) are now included as are links to Docker documentation.

The only information that is not included is limitations. @acgustafson, would you be open to sharing some of those and letting m

[2019-12-20 06:18] justinegeffen opened #3269 "Style Guide: Standardize numbers under ten from digits to spelled out"
Proposal to review documentation to bring it in line with our style guide regarding numbers - numbers under ten are written out in full, numbers over ten are presented as digits (https://docs.mattermost.com/process/documentation-guidelines.html#numbers).

Suggest working with @AninditaBasu on this and folding it into the stopWords Hackthon project and including it in phase one application.

[2019-12-20 06:20] justinegeffen commented on #3269
See also: https://github.com/mattermost/mattermost-developer-documentation/pull/442.

[2019-12-29 00:07] llhhaa commented on #2299
@amyblais I'd appreciate a second look at this - after trying to use it myself, I think the documentation linked by @dkarchmer is incomplete and unusable.

The issue is that we don't control the Dockerfiles for the images and so can't set permissions on the volumes. We'd  have build and upload our own version of the Mattermost docker images, and upload a modified `Dockerrun.aws.json` file that ref

[2019-12-31 13:31] matterdoc opened #3280 "Jira plugin: Troubleshooting "/jira install" error in local developer environment"
Mattermost user `jason.blais` from https://community-release.mattermost.com has requested the following be documented:

Problem:  After enabling [Jira plugin for Mattermost](https://github.com/mattermost/mattermost-plugin-jira) and running `/jira install` with site URL set to `LOCALHOST`, an error about an invalid site URL is received.

Solution:

1. Setup an [Ngrok connection](https://ngrok.com/)

[2020-01-02 15:24] matterdoc opened #3282 "Request for Documentation: Max page size description - AD/LDAP"
Mattermost user `dennis.kittrell` from https://community.mattermost.com has requested the following be documented:
In reference to: [MM-15417](https://mattermost.atlassian.net/browse/MM-15417)

[code]
Most customers should probably configure their `LdapSettings.MaxPageSize` to match their LDAP system's configured limit. Since most customers use AD and AD's default is `1500` then most customers sho

[2020-01-06 10:59] #3230 closed

[2020-01-06 11:01] justinegeffen commented on #3234
Hi @bermudezmt! Thank you for raising this issue. Would you be open to updating the documentation with your findings? Let me know if you have any questions about the process. :)

[2020-01-06 11:03] justinegeffen commented on #3148
Hi @bvineyar! Thanks for taking this on. I wanted to follow up and find out if you have any questions or concerns that I can assist with. :)

[2020-01-06 13:05] amyblais commented on #3258
I'll close this for now as we haven't received any feedback on this, but I hope that you will re-open this issue if the problem hasn't been solved yet.

[2020-01-06 13:05] #3258 closed

[2020-01-06 16:43] icelander opened #3288 "Help Wanted: Update Mobile Troubleshooting Docs"
Relevant page: https://docs.mattermost.com/deploy/mobile-faq.html

Notification messages have been placed in their own log file, `notifications.log`, so the docs should be updated to include checking that file for errors related to push notifications.

[2020-01-08 14:43] svelle opened #3292 "Update Slack and Bulk import common issues"
Just a list of common issues when running a large slack import or bulk import.

1. Run the command as mattermost user, else it'll screw up permissions on attachments
2. Make sure you have enough space for attachments
3. If you're using a version < 5.17 make sure to change the default password requirements to be 5 characters and nothing else. Otherwise the account creation will fail!
4. Make sure y

[2020-01-09 18:46] justinegeffen commented on #3282
Jira ticket is here: https://mattermost.atlassian.net/browse/MM-21661.

[2020-01-13 10:29] svelle opened #3303 "SMTP/Email configuration still says to use /bin/bash in docker"
Since the switch to alpine linux we don't have bash installed in the docker images.

[This page](https://docs.mattermost.com/install/smtp-email-setup.html) however still refers to using it.
We should change it to use /bin/sh instead **or** install bash in the docker images.

[2020-01-13 10:59] svelle commented on #3303
Also it says to use telnet but we don't install telnet on the app image.

[2020-01-13 13:10] PackElend commented on #3303
is `openssl `part of alpine linux?
As `SMTP `shall be encrypted, `openssl `is the right tool to use.

[2020-01-14 13:57] NeelBhatt opened #3307 "Auto login(skip login page) for ADFS and identity server 4"
Hello Guys,

Just wondering if anyone can help me with this question on StackOverflow: https://stackoverflow.com/questions/59731578/auto-loginskip-login-page-for-adfs-and-identity-server-4

Thanks in advance

[2020-01-14 14:33] svelle commented on #3307
@NeelBhatt is that question related to mattermost?

[2020-01-14 14:50] NeelBhatt commented on #3307
I guess no sorry. you may close this thread

[2020-01-14 14:50] #3307 closed

[2020-01-16 12:48] jKostet commented on #3236
Hi, I have a similar issue.

I'm trying to use mattermost CLI on gitlab omnibus installation. The CLI commands require --config, but the mattermost's config.json does not have the same external database options set in gitlab.rb, and tries to connect to dockerhost instead.

Is there a way to use the CLI in this situation?

[2020-01-16 13:47] justinegeffen commented on #3282
PRs: https://github.com/mattermost/docs/pull/3306 and https://github.com/mattermost/docs/pull/3308.

[2020-01-16 14:12] #3282 closed

[2020-01-17 12:09] justinegeffen commented on #3007
hey @svelle, just following up on this to find out whether you were able to find the blog content. :) Otherwise maybe @amyblais might be able to help?

[2020-01-17 12:11] svelle commented on #3007
Hi Justine, sorry again.
Github notifications go under so easily.

I didn't find it.

Working directory would need to be set to /opt/mattermost
and ExecStart to /opt/mattermost/bin/mattermost

I think in new configurations this shouldn't be an issue but as we apparently communicated this differently in the past it might be worth putting up an article for users migrating from earlier versions as I'

[2020-01-17 12:35] justinegeffen commented on #3007
Thanks, @svelle! Do you have the bandwidth to make this update in the docs? :)

[2020-01-17 12:40] svelle commented on #3007
Not till the 27th unfortunately. But after that I can do it no problem.

[2020-01-17 13:55] justinegeffen commented on #3007
That works for me! :)

[2020-01-17 14:59] matterdoc opened #3318 "Request for Documentation: Suggestions/Notes for tuning "Open File" limits with `systemctl` unit file"
Mattermost user `stu.doherty` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/y199scu9cbr5ifcjups565tixc).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-01-22 11:23] christian-steinmeyer opened #3326 "List of Supported Languages for Syntax Highlighting is out of date"
I have just noticed that not all languages given in the [documentation](https://github.com/mattermost/docs/blob/master/source/help/messaging/formatting-text.rst) do render correctly but some that are not given actually do. I assume there have been some updates in the rogue library that have been integrated but not made their way into the documentation.

For example, when writing:

[code]

This sho

[2020-01-22 11:36] justinegeffen commented on #3326
Hi @christian-steinmeyer. Thanks for raising this, it's very helpful. Would you be open to updating the documentation with your findings? If you have any additional documentation examples that would also be great!

[2020-01-22 11:48] christian-steinmeyer commented on #3326
Hi!

I can certainly update the list in the existing documentation to the one published by rogue. And perhaps add a link to their list for future changes. However, I believe that it would make sense to test or varify that list first, for which I lack the time, unfortunately.

[2020-01-27 19:29] faase opened #3336 "Wrong iOS version in mobile app requirements"
It's really just a typo in the [mobile app requirements](https://docs.mattermost.com/install/requirements.html#mobile-apps).

wrong: `iPhone 5s devices and later with iOS 12+`
correct: `iPhone 5s devices and later with iOS 11+`

thanks to @enahum for reporting it.

[2020-01-27 19:57] justinegeffen commented on #3336
Thanks, @faase!

[2020-01-27 20:14] justinegeffen commented on #3326
Thanks, @christian-steinmeyer that's a good point. I'm cc'ing @lieut-data: is there a way we can verify the languages listed in the "Syntax Highlighting" section? Or is there a list we can link to?

[2020-01-27 20:21] justinegeffen commented on #3179
@amyblais, it looks like this has been done but wanted to check before I close this issue.

[2020-01-27 20:22] amyblais commented on #3179
This can be kept open for now.

[2020-01-28 09:00] faase commented on #3336
ok my bad! looks like i jumped the gun. just read this

_Originally posted by @amyblais in https://github.com/_render_node/MDE3OlB1bGxSZXF1ZXN0UmV2aWV3MzQ4MzI2NjE3/pull_request_reviews/more_threads_

so it was correct in the mobile app requirements, but not in the change logs.

[2020-01-28 09:06] faase commented on #3336
closing the issue

[2020-01-28 11:59] enahum commented on #3336
@faase, @amyblais and @esethna so this means that we should then bump the supported OS to iOS 12+ and Android 9+? And then why does the changelog is different than the doc? I’m really confused here.

[2020-01-28 12:00] enahum commented on #3336
Re-opening until we decide where to correct the disparity

[2020-01-28 13:02] amyblais commented on #3336
@enahum I will fix the changelog for iOS.

Android version is correct since the guideline is any versions supported by Google.

[2020-01-28 13:09] enahum commented on #3336
@amyblais is not only the changelog BUT also the app in itself.

[2020-01-28 14:53] amyblais commented on #3336
@enahum What is the work involved in changing it in the app itself?

[2020-01-28 14:55] enahum commented on #3336
@amyblais is just changing a setting, but do we bump it just like that?

actually there is this ticket in the backlog https://mattermost.atlassian.net/browse/MM-20643

[2020-01-28 15:28] amyblais commented on #3336
I've merged the PR for now to change it back to iOS 11 since it's not changed in the app itself.

Will open a new discussion with PMs on how our software guidelines can be improved and planned ahead properly.

[2020-01-28 15:28] #3336 closed

[2020-01-29 14:58] lieut-data commented on #3326
@justinegeffen, I /think/ we depend on https://highlightjs.org/ for the highlighting. @hmhealey, is that correct?

I wonder if we shouldn't just link out to their documentation, identifying the version we're using for reference?

[2020-01-30 15:23] hmhealey commented on #3326
We use Highlight JS, but the languages are enabled manually, so we haven't enabled them all. If we were to add something like lazy loading of languages, we could turn them all on and just link out to their docs, but that's not possible currently.

We shouldn't be linking to Rogue's list of languages though since that's not the library that we use.

[2020-01-31 11:36] #3303 closed

[2020-01-31 13:20] justinegeffen commented on #3326
Perhaps we should add a disclaimer such as: We use Highlightjs.org for highlighting. Not all languages are enabled however they can be manually enabled as required."

If that is accurate, could we add some steps for manually enabling them or, if inaccurate, any alternative suggestions would be appreciated.

[2020-01-31 13:38] christian-steinmeyer commented on #3326
Possibly not my cup of tea, but isn't it weird, that Gitlab uses another library for syntax highlighting than Mattermost? As a user, I find this confusing, as I would expect Mattermost and Gitlab to coordinate their efforts.

Having said that, Gitlab [clearly states](https://docs.gitlab.com/ee/user/project/highlighting.html) they are using rogue (which is why I assumed that to be the case for Matt

[2020-01-31 13:57] lieut-data commented on #3326
@christian-steinmeyer, sorry for the confusion here. While it's true that GitLab and Mattermost have a very close relationship, with Mattermost included with the GitLab Omnibus, the products are completely distinct. In particular, Mattermost isn't written using Ruby, and thus can't use Ruby gems like Rogue.

@hmhealey, I love the idea of lazy loading languages. This seems like the most viable appr

[2020-02-01 08:38] matterdoc opened #3351 "Request for Documentation: Files used by Desktop App"
Mattermost user `guillermo.vaya` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/7oafknfdj78riro8wn84o5wf1o).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-02-03 10:29] svelle opened #3352 "Add sample SAML responses to docs"
I think it would be really helpful if we'd add sample saml assertion responses to the docs for all the service providers we support so that admins can check if the one's they get match the type mattermost is expecting.

It's more of a suggestion so any feedback here is greatly appreciated :)

[2020-02-03 19:24] hmhealey commented on #3326
That's a good idea. I've filed a ticket to discuss as a team before we could open it up as a Help Wanted ticket: https://mattermost.atlassian.net/browse/MM-22249

[2020-02-12 10:00] justinegeffen commented on #3352
Thanks @svelle. I've taken a look at our SAML docs to make sure I'm looking at the correct sections. For example, we have a list of provider docs here: https://docs.mattermost.com/deployment/sso-saml.html and each provider section has some screenshots. We also have an update going out about the SAML metadata URL which can be used for this configuration.

Do those docs address the issue at all or w

[2020-02-12 10:12] justinegeffen commented on #3292
Thanks, @svelle. This is very helpful and could really provide a better customer experience. Do you think this would work best here: https://docs.mattermost.com/deployment/bulk-loading.html? Or is this more of a Troubleshooting list?

I have a few questions and was wondering if you'd be open to updating the docs at the link above and possibly address these questions:

- Does this apply only to Sla

[2020-02-12 10:14] justinegeffen commented on #3288
Thanks, @icelander! Would you be open to updating the docs with that change?

[2020-02-12 10:16] justinegeffen commented on #3184
Thanks @svelle! Do you have an idea of where the updates need to be made (e.g., which pages, which doc set etc)? It'd be good to know the scope of the issue so we can plan accordingly. :)

[2020-02-12 10:38] svelle commented on #3292
Hey Justine,
good questions.

1. I think this could very well be added to the bulk loading docs because it applies to all imports. It just came up during a customer migration from Slack to Mattermost
2. Basically all extended password requirements need to be disabled (no uppercase, no special characters, no numbers and password length needs to be 5)
3. Totally dependent on the size of the import.

[2020-02-12 10:48] svelle commented on #3184
@justinegeffen I've opened a PR for this, maybe you can have a quick look :)

[2020-02-12 11:04] justinegeffen commented on #3292
Thanks, @svelle, that's very helpful! Let me know if have the bandwidth to do the update - I've marked it as Help Wanted in the meantime. :)

[2020-02-12 11:40] justinegeffen commented on #3131
Took a look through https://docs.mattermost.com/administration/data-retention.html and I think @wiersgallak's comments would be useful in the doc as FAQs.

FAQ 1: How long does it take to run a deletion query and does it affect server performance?
FAQ 2: How do I know whether the data retention job is running/scheduled?

Let me know what you think.

[2020-02-12 11:58] matterdoc opened #3384 "Request for Documentation: This is a test for Docup"
Mattermost user `der_test` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/8xhagfbe7prn3ewnxqqngxb1ao).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-02-12 11:58] der-test commented on #3384
Test post, pls ignore.

[2020-02-12 11:58] der-test commented on #3384
@jasonblais Please close.

[2020-02-12 12:30] #3384 closed

[2020-02-12 14:51] svelle commented on #3292
If the internet on my flight tomorrow is okay'ish then I'll be happy to update it.

[2020-02-12 15:16] justinegeffen commented on #3292
Thank you! :)

[2020-02-12 18:20] #3130 closed

[2020-02-13 12:09] matterdoc opened #3389 "Request for Documentation: uninstall silently mattermost as an admin"
Mattermost user `guillermo.vaya` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/gz14j3y117ds8ja61ka31y1qqy).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-02-20 07:59] NicFaecks opened #3408 "Add push message if app is not connected to a server"
Due to security concerns the app disconnects from the server after 30 days without any notification. The app user can not know if there are no new messages or if the app disconnected until opening the app.

[2020-02-22 15:55] svelle opened #3412 "Remove "production docker" setup docs"
Right now we have the production docker deployment listed under the admin docs but in light of recent conversations it's not recommended for production use so we should remove it asap and then replace it with some basic guidance about the official docker hub images.

[2020-02-25 22:00] amyblais commented on #3408
@NicFaecks What mobile app and server version are you on?

[2020-02-26 07:20] NicFaecks commented on #3408
Andriod App Version: 1.28.0 (Build 268)
Server Version: 5.17.0 (Build 5.17.3)
Database: postgre

[2020-02-28 13:29] matterdoc opened #3422 "Request for Documentation: Test issue"
Mattermost user `justine.geffen` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/yfu3y6njg7njfmrswotu9inq3o).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-02-28 13:30] #3422 closed

[2020-02-28 14:01] justinegeffen commented on #2278
hi @icelander - I wanted to find out whether you are open to providing the updated content so we can add it to the documentation. Thank you!

[2020-02-28 14:29] justinegeffen commented on #1589
Hi @seenthattinker! Thanks for raising this issue. Could you provide a little more detail around the guidelines you're suggesting?

In the example you've given, I do see the benefit in using bullets as it's a list but there is definitely a case for not using them and having paragraphs instead because the information is still effectively conveyed.

We have a style guide but it doesn't dictate speci

[2020-02-28 15:47] justinegeffen commented on #3004
Thanks, @svelle. Could you confirm whether these are the upgrade docs in question: https://docs.mattermost.com/guides/administrator.html#upgrade-mattermost and, if so, which section needs to be updated? :)

[2020-02-28 16:03] amyblais commented on #3408
@NicFaecks Would you mind re-opening this issue in the mobile repo along with information on whether your device is still in the list of active sessions when this bug happens https://github.com/mattermost/mattermost-mobile/issues.

[2020-02-28 17:51] justinegeffen commented on #2858
Hi @NOP64. I wanted to follow up on this and find out whether the link @amyblais provided addresses the issue? There have been some new SAML additions to the Troubleshooting guide which possibly address this issue. Thanks! :)

[2020-02-28 17:52] #3001 closed

[2020-02-28 17:53] justinegeffen commented on #2997
Hi @svelle! Could you share the link for this doc change - there are now two ADFS documents, one for 2012 and one for 2016, let me know if both are affected. Thanks! :)

[2020-02-28 18:12] NOP64 commented on #2858
We were able to work around the customer issue so I'll close this issue. My apologies for missing the link from @amyblais so long ago, too.

[2020-02-28 18:12] #2858 closed

[2020-02-28 20:27] seenthattinker commented on #1589
I would use bullets when the description item is a term or a definition which does not need a complete sentenece but is a long phrase. Cocatenating them makes them creates clumsy complex-compound sentences which read like a Romanian encyclppdia entry. Long lists of single word items can be put in a sentence with commas. Using bullets for them creates too much white space on the page.

[2020-02-28 22:46] #1911 closed

[2020-03-02 11:21] justinegeffen commented on #3057
Hi @NOP64. Update on this: The docs have been reviewed and some changes made. WRT your question about the Helm Chart, it is still available and a note has been added in the documentation to indicate that as well as the differences between the Helm Chart and MM Operator.

I'd like to get your feedback on this if you have the bandwidth to take a look at the updates and confirm whether they address y

[2020-03-02 12:22] justinegeffen commented on #2536
If you're interested in taking on this documentation request, let us know by commenting on the issue.  The documentation that needs to be updated is located here: https://docs.mattermost.com/administration/config-settings.html#jobs. The submitter of this issue may have additional links and content available.

- If you're a new contributor take a look through the [Technical Writing Handbook](https:

[2020-03-02 12:30] justinegeffen commented on #3004
If you're interested in taking on this documentation request, let us know by commenting on the issue. The submitter of this issue may have additional links and content available.

- If you're a new contributor take a look through the [Technical Writing Handbook](https://handbook.mattermost.com/operations/research-and-development/product/product-technical-writing-team-handbook#processes) to learn m

[2020-03-02 12:30] justinegeffen commented on #2357
If you're interested in taking on this documentation request, let us know by commenting on the issue.  The documentation that needs to be updated is located here: https://docs.mattermost.com/deployment/sso-google.html. The submitter of this issue may have additional links and content available.

- If you're a new contributor take a look through the [Technical Writing Handbook](https://handbook.mat

[2020-03-02 12:33] justinegeffen commented on #2995
If you're interested in taking on this documentation request, let us know by commenting on the issue.  The submitter of this issue (@icelander) can confirm the pages that need to be updated.

- If you're a new contributor take a look through the [Technical Writing Handbook](https://handbook.mattermost.com/operations/research-and-development/product/product-technical-writing-team-handbook#processes

[2020-03-02 12:37] svelle commented on #3004
@justinegeffen looks like that additional info got added to the upgrade docs. I could've sworn that wasn't the case before. I think we can close this imo.

[2020-03-02 12:52] justinegeffen commented on #3004
Thanks, @svelle! That's great news. Closing this. :)

[2020-03-02 12:52] #3004 closed

[2020-03-02 13:04] justinegeffen commented on #3412
Thanks, @svelle. It looks like this issue is related to: https://github.com/mattermost/docs/pull/3425 - what are your thoughts?

[2020-03-02 13:05] svelle commented on #3412
@justinegeffen yup, looks like it. Thanks for pointing it out. I linked them :)

[2020-03-02 14:31] justinegeffen commented on #2055
If you're interested in taking on this documentation request, let us know by commenting on the issue.  The documentation that needs to be updated is located here: [https://docs.mattermost.com/install/prod-docker.html](https://docs.mattermost.com/install/prod-docker.html). The submitter of this issue may have additional links and content available.

- If you're a new contributor take a look through

[2020-03-02 14:39] justinegeffen commented on #2875
If you're interested in taking on this documentation request, let us know by commenting on the issue.  The documentation that may be affected by this issue is: https://docs.mattermost.com/install/config-apache2.html. The submitter of this issue may have additional links and content available.

- If you're a new contributor take a look through the [Technical Writing Handbook](https://handbook.matte

[2020-03-02 15:13] justinegeffen commented on #2950
Following up on this to confirm whether you've had a chance to add this content, @icelander. Let me know if I can help with it. :)

[2020-03-02 16:00] #3412 closed

[2020-03-02 17:34] #2980 closed

[2020-03-02 17:56] justinegeffen commented on #1502
Hi @peterdamian, thanks for raising this.

I can confirm that it's now possible to obtain the user ID via the System Console in System Console > Users (screenshot attached). Would you say that's the best option for users (vs using the CLI)? If so, would you be open to submitting a PR for the [CLI docs ](https://docs.mattermost.com/administration/command-line-tools.html#mattermost-user-search) to r

[2020-03-02 19:51] justinegeffen commented on #984
Jira ticket: https://mattermost.atlassian.net/browse/MM-10674.

[2020-03-02 20:41] justinegeffen commented on #804
Hi @swapnilogale - wanted to follow up on this and find out if you have any questions or issues I can assist with. :)

[2020-03-03 10:19] #3408 closed

[2020-03-03 19:41] justinegeffen commented on #1589
Thanks, @seenthattinker I understand your perspective and experience with our documentation.

We have not received any supporting comments or suggestions for this change and I was wondering if you'd be open to sharing the style guide recommendations for this suggestion?

There are stylistic recommendations around bullet lists and how to punctuate and capitalize them in guides such as The Chicago M

[2020-03-03 21:34] seenthattinker commented on #1589
Sure, I can do that. I need a few days. I am working on a book right now.
point me to your style guide please.
*_____________________________________________*
*Bruce MacDonald*
*seenthattinker@gmail.com <seenthattinker@gmail.com>*
*TextMe: 647 491 7106*
*Skype Phone Number: 864 810 1039*

*Skype: seenthattinker1*

On Tue, Mar 3, 2020 at 1:41 PM Justine Geffen <notifications@github.com>
wrote:

[2020-03-04 12:12] justinegeffen commented on #1589
That's no problem at all! :)

Our style guide is located [here](https://docs.mattermost.com/process/documentation-guidelines.html) and you can also read about our [technical writing handbook](https://handbook.mattermost.com/operations/research-and-development/product/product-technical-writing-team-handbook) for more details about processes.

[2020-03-04 12:30] #3235 closed

[2020-03-04 12:34] #3184 closed

[2020-03-04 12:41] svelle commented on #3352
Hey Justine,
with the upcoming changes in SAML configuration I think we can close this for now. If the saml configuration is still an issue after those changes I'll just reopen and add some more info on what I'm specifically looking for :)

[2020-03-04 12:41] #3352 closed

[2020-03-04 12:47] #3211 closed

[2020-03-04 12:53] justinegeffen commented on #3147
Thanks, @jasonblais. Is there a report available to look at with more details so we can open a Jira ticket or PR for it and have QA take a look?

[2020-03-04 13:08] jasonblais commented on #3147
@justinegeffen I forwarded you the report via email

[2020-03-04 13:49] justinegeffen commented on #3147
Thanks, I've received it and took a look at the search console. The console isn't reporting those issues at the moment - wondering if they were possibly resolved in one of the recent releases as part of unrelated work. No other errors are displaying so I'll close this issue. :)

[2020-03-04 13:49] #3147 closed

[2020-03-04 15:46] matterdoc opened #3431 "Request for Documentation: Document email alias"
Mattermost user `hanzei` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/bo7brfxwdib15fejsax18msgcw).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-03-04 20:47] jshackatpair opened #3433 "Jumping window location"
Running Linux desktop v 4.4.0 on Ubuntu Linux 18.04

IF: I move the application window, and subsequently minimize it
THEN: when I restore the application window, it shows up in the top left corner of my workspace desktop and not at the location where I put it.

[2020-03-04 21:24] amyblais commented on #3433
Would you be open to re-opening this in the desktop repo https://github.com/mattermost/desktop/issues?

[2020-03-04 21:28] jshackatpair commented on #3433
Yes, of course. My bad, a rookie mistake.

On Wed, Mar 4, 2020 at 4:24 PM Amy Blais <notifications@github.com> wrote:

[2020-03-04 21:31] #3433 closed

[2020-03-06 19:10] #3236 closed

[2020-03-07 01:32] #3389 closed

[2020-03-09 14:24] #3088 closed

[2020-03-11 13:03] #3247 closed

[2020-03-11 19:04] matterdoc opened #3442 "Request for Documentation: Document process for creating a new autolink in community.mattermost.com"
Mattermost user `jason.blais` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/c7eyg5qht3b1jjtpczygf6rxah).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-03-11 19:05] jasonblais commented on #3442
@justinegeffen This should go to the handbook repository (I selected "Company Handbook" as the option in Doc Up plugin)

Can you help ask Joram to update the autolink plugin on community.mattermost.com, so that issues marked for "Company Handbook" are created in https://github.com/mattermost/mattermost-handbook/issues?

[2020-03-14 09:25] justinegeffen commented on #1597
Hi @seenthattinker. I wanted to follow up on this and get some more details about your suggestion. Readability and clarity are important to us, so improvements in that respect are always welcome.

It would be great to have an idea of how this would look so you're welcome to edit the docs to include your suggestion and submit a pull request for review and feedback. Let me know if you have any quest

[2020-03-14 09:28] justinegeffen commented on #1595
Thanks for raising this, @seenthattinker. Would you be open to editing the section in question and submitting a pull request?

[2020-03-14 09:31] justinegeffen commented on #1593
Hi @seenthattinker. Thanks for raising this issue. Would you be open to updating the page in question and submitting a pull request? That will allow us to review the changes and confirm the next steps. Thank you!

[2020-03-14 09:35] justinegeffen commented on #1580
Hi @seenthattinker. This is great feedback. I've taken a look at the [Overview](https://docs.mattermost.com/overview/index.html) section and as there are multiple sections I was wondering if you had any specific section in mind for which you'd be open to editing and submitting a pull request?

[2020-03-14 09:38] justinegeffen commented on #1594
Thanks for letting us know about this, @seenthattinker. I wanted to find out whether this issue has been resolved or it's something that requires investigation. Here is [one example of a code block](https://docs.mattermost.com/install/install-mmte-helm-gitlab-helm.html) - if you'd be open to taking a look and letting me know your thoughts that would be great. :)

[2020-03-14 09:42] justinegeffen commented on #1591
Thanks for picking this up, @seenthattinker. I've taken a look at the [Deployment section](https://docs.mattermost.com/deployment/deployment.html) of our documentation and it looks like this has been revised and resolved. Are you open to looking it over and letting me know whether that's the case?

[2020-03-14 20:39] seenthattinker commented on #1597
I will do this starting Monday. The PDF is awful. You need to go through Latex on the Sphinx system, customize the output, then generate the same way web is generated, or go straight to epub, which Sphinx does exceptionally well. I will start editing next week. Be prepared. I am going to be ruthless and unsparing with the language.

[2020-03-15 02:04] seenthattinker commented on #1591
Yes.

[2020-03-15 02:06] seenthattinker commented on #1594
I'll do it.

[2020-03-15 02:07] seenthattinker commented on #1580
All of them, next week.

[2020-03-15 02:07] seenthattinker commented on #1593
Yes, next week.

[2020-03-15 02:07] seenthattinker commented on #1595
Yes, next week.

[2020-03-15 12:18] justinegeffen commented on #1597
Thanks, @seenthattinker. I look forward to your contribution and working with you on it. :)

[2020-03-15 12:20] justinegeffen commented on #1591
Great! :)

[2020-03-15 12:22] justinegeffen commented on #1513
Hi @peterdamian. I wanted to follow up on this and find out whether you'd be open to submitting a pull request for your changes? They look very useful and it would be great to have the team look them over. Thank you!

[2020-03-15 12:27] justinegeffen commented on #1581
Hi @seenthattinker. I've taken a look through our Requirements and Installation Guides and wanted to confirm whether you're referring to a specific guide or the guides in general?

Here's [one example](https://docs.mattermost.com/install/install-ubuntu-1604.html) of a guide with hyperlinks. If you'd be open to letting me know whether this is the correct guide or, if not, providing the link/s that'

[2020-03-16 17:31] amyblais opened #3456 "Broken examples on Configuring Proxy to Mattermost Transport Encryption document"
**Before** and **After** examples in the "Configuring Mattermost" section are not rendering on this doc: https://docs.mattermost.com/install/transport-encryption/config-mattermost.html.

There were attempts to fix it here but it wasn't clear how to fix it: https://github.com/mattermost/docs/pull/3206.

[2020-03-16 18:23] justinegeffen commented on #3456
I forgot about this one, @amyblais. Thanks for reopening.

@DSchalla, do you perhaps have the output available to send to me? I just need to see the indenting so I can try fix this. A screenshot would be fine. :)

[2020-03-16 18:49] justinegeffen commented on #3442
Done. :) https://github.com/mattermost/mattermost-handbook/issues/84.

[2020-03-16 18:49] #3442 closed

[2020-03-17 08:26] justinegeffen commented on #3225
Hey, @svelle! Would you be open to updating the docs to reflect this new content? It seems like it'd fit well into the [Configuration > Integrations section of the Troubleshooting guide](https://docs.mattermost.com/install/troubleshooting.html#configuration-issues)?

[2020-03-17 08:43] justinegeffen commented on #1579
Hi @bvineyar! Thanks for offering to take this on. Are you still open to taking a look at it? If so, please let me know whether you have any questions - I am more than happy to help and look forward to working with you on this. :)

[2020-03-17 08:44] justinegeffen commented on #1579
To add to this, we are working on a larger IA/organization project and community feedback/insight would be really helpful. Let me know if you want more information or come join the [Documentation channel](https://community.mattermost.com/core/channels/documentation) and we can discuss further.

[2020-03-17 09:17] svelle commented on #3225
Yeah sounds like a good idea. I'll add it later today. Thanks for looking that up :)

[2020-03-17 09:42] svelle commented on #3224
Closing per this PR https://github.com/mattermost/docs/pull/3227

[2020-03-17 09:42] #3224 closed

[2020-03-17 10:34] justinegeffen commented on #1583
Hi @seenthattinker. Thanks for raising this. Would you be open to providing an example of limiting the white space and averting the LHS navigation? We're actively working on documentation improvements, so your insight and suggestions are extremely helpful. Thank you!

[2020-03-17 10:35] justinegeffen commented on #3225
Thank you for helping out, much appreciated!

[2020-03-17 14:12] martinwilczak opened #3459 "Hamburger menu"
How do I disable hamburger menu and enable menu bar that is standard accross apps in whole system? I have no idea why is everyone so eager to create yet another version of this user-unfriendly stupidity.

[2020-03-17 14:45] justinegeffen commented on #3459
Hi @martinwilczak. Thanks for raising this issue. I understand you're frustrated and would like to find out if you're open to raising this in the [Ask Anything](https://community.mattermost.com/core/channels/ask-anything) channel or on the [Mattermost Forum](https://forum.mattermost.org/). The community members on both platforms may have experience with this and be able to provide you with some so

[2020-03-17 20:02] matterdoc opened #3461 "Request for Documentation: Okta Setup instruction changes"
Mattermost user `scott.bishel` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/rpztb9yx8j8uzxkyup1x7xpsfh).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-03-18 15:03] #3225 closed

[2020-03-18 15:29] svelle commented on #3459
Closing as it's the wrong repo for this kind of issue.
Thanks @justinegeffen for giving pointers for the right locations to report this :)

[2020-03-18 15:29] #3459 closed

[2020-03-18 15:46] justinegeffen commented on #3461
Thanks, @sbishel! I can't access the link in the issue for some reason. Could you share a screenshot for context?

[2020-03-18 18:22] seenthattinker commented on #1583
You need to do what u have done on the first splash page the documentation presents. You have a number of boxes which lead the reader to books. Similarily, the TOCs of some of the books should be presented with a little more style to make top level selecion possible by glancing at one page. At present your information is lacking all architecture and design.

[2020-03-19 19:26] rubberneck opened #3468 "Themes causing white screen."
For example the [Gruvbox Dark theme](https://github.com/mattermost/docs/blob/master/source/help/settings/theme-colors.rst#gruvbox-dark-theme) causes a blank white screen after you paste the JSON in.

I played around with it if you add the `"dndIndicator": "#be5046"` to the JSON it will stop giving you the blank screen.

The `dndIndicator` seems to be missing from all of them execpt.
[One Dark](htt

[2020-03-19 20:32] amyblais commented on #3468
Thanks, opened a ticket here: https://mattermost.atlassian.net/browse/MM-23456.

[2020-03-23 14:22] svelle opened #3472 "Add documentation for changes to bulk import"
More of a note to myself.

We need to add documentation for the changes introduced to the bulk import with this PR:
https://github.com/mattermost/mattermost-server/pull/14034

Basically the post object now has a new attribute called props which can contain message attachments.

[2020-03-23 15:07] justinegeffen commented on #3472
Awesome, thanks @svelle! This is a very helpful change. :)

[2020-03-24 17:08] icelander opened #3474 "Improve License Deployment Docs"
Things to add [to this location](https://docs.mattermost.com/install/ee-install.html#changing-a-license-key):

 - Deploying licenses across a cluster
 - Replacing a license
 - Deploying licenses as files rather than through the System Console

[2020-03-25 06:59] justinegeffen commented on #1583
Hi @seenthattinker. I've taken a look at the docs and I'd like to confirm that splash page refers to [these docs](https://docs.mattermost.com/)? Additionally, what I understand of your feedback is that each doc set should be an individual block so that it only contains its own TOC rather than navigating to the entire doc set?

[2020-03-25 07:16] seenthattinker commented on #1583
That is correct. Apologies, I have not been able to get to your work as I
am occupied.
*_____________________________________________*
*Bruce MacDonald*
*seenthattinker@gmail.com <seenthattinker@gmail.com>*
*TextMe: 647 491 7106*
*Skype Phone Number: 864 810 1039*

*Skype: seenthattinker1*

On Wed, Mar 25, 2020 at 12:59 AM Justine Geffen <notifications@github.com>
wrote:

[2020-03-25 07:20] justinegeffen commented on #1583
No problem at all, @seenthattinker - we appreciate you raising these issues and working with us thus far. I can confirm that your suggestion is under consideration as part of a larger improvement plan (you'll see the overarching project link in this ticket).

Would you be open to working with us on this once we've moved into the next phase and providing some feedback?

[2020-03-25 07:23] seenthattinker commented on #1583
It is entirely possible I might be getting a technical writing teaching job
here in Costa Rica. If I do, I would like to take on Mattermost as a class
project. Reorganize and publish epubs, sphinx site, and pdf.
*_____________________________________________*
*Bruce MacDonald*
*seenthattinker@gmail.com <seenthattinker@gmail.com>*
*TextMe: 647 491 7106*
*Skype Phone Number: 864 810 1039*

*Skype: s

[2020-03-25 07:30] justinegeffen commented on #3456
Following up on this, @DSchalla, when you have a moment! :)

[2020-03-25 07:34] justinegeffen commented on #1583
Congratulations on the potential job - that sounds very exciting! I'm adding @jasonblais and @wiersgallak to this thread as they're also involved in the current publishing project and can provide insight into how to potentially fold this into the overall architecture part of the GSoD project goals.

[2020-03-25 10:00] DSchalla commented on #3456
Sorry for the delay @justinegeffen and @amyblais! Just opened a pull request to fix the issue.

[2020-03-26 13:11] justinegeffen commented on #3474
Thanks, @icelander! Would you be open to updating the docs with the content you've listed? Alternatively, if you have the steps/content available to share we could open this up as a Help Wanted issue. :)

[2020-03-27 13:03] #3456 closed

[2020-03-27 17:53] amyblais commented on #3468
Closing as this is fixed for upcoming v5.22 release,

[2020-03-27 17:54] #3468 closed

[2020-03-30 13:02] matterdoc opened #3483 "Request for Documentation: Add (optional) pgpass steps to postgres installation in docs"
Mattermost user `sven.huester` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/f98sb8g873fj7esw63kfiuhtkr).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-03-30 13:14] justinegeffen commented on #3483
Thanks, @svelle. Do you have an idea of where this content should be added in the docs? I've taken a look through the original post but if you have more context that'd be great. :)

[2020-03-30 13:15] svelle commented on #3483
Hey @justinegeffen that would be here: https://docs.mattermost.com/install/install-ubuntu-1604.html#installing-postgresql-database-server

and on the same section of the other OS's

[2020-03-30 13:45] justinegeffen commented on #3483
Thanks, @svelle. Would you be open to updating that doc, and then I could replicate it across the other docs if it's one-size-fits-all?

[2020-03-30 13:47] svelle commented on #3483
sure once I find the time :)

[2020-03-30 18:46] justinegeffen commented on #3351
Hi @Willyfrog, thanks for this. Do you have an idea of where this update should be added in terms of the documentation? If not, @icelander, do you have any suggestions? Thanks!

[2020-03-30 19:04] justinegeffen commented on #3483
Thanks, @svelle! :) :)

[2020-03-30 19:05] Willyfrog commented on #3351
I don’t think there is a documentation for how the desktop app is setup, is there? Something like the admin handbook but for apps? Maybe we should add a section there? Not really sure, sorry

[2020-03-30 23:51] matterdoc opened #3486 "Request for Documentation: Update docs to reference NAS"
Mattermost user `aaron.rothschild` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/8rubpfimofnqtq9nmiaicp5ngw).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-03-31 08:22] justinegeffen commented on #905
Hi @JeffSchering! I've taken a look at the docs and wanted to follow up on this to find out whether you'd be open to updating the docs as they would definitely benefit from the suggested changes. Let me know if you have any questions - happy to assist!

[2020-03-31 10:23] wildbodom opened #3487 "Please add the time in the Direct Messages session"
Hello,

Please add a sort option (currently only alphabet sorting is available) to the Direct Messages session.
After having a conversation with someone via direct message. If I go to another channel, there is no way to find the recent direct message other than having to remember the name of the person, which is a difficulty when communicating with multiple people with different nationalities.

I

[2020-03-31 12:13] justinegeffen commented on #3351
Thanks, @Willyfrog. The two places I had in mine were in the [Deployment Guide](https://docs.mattermost.com/deployment/desktop-app-deployment.html) and the [Installation Guide](https://docs.mattermost.com/install/desktop.html#). Would you be open to taking a look at those and letting me know whether either would be a good fit? :)

[2020-03-31 12:37] justinegeffen commented on #3487
Hi @wildbodom. Thanks for raising this! Would you be open to joining our [Contributors channel](https://community.mattermost.com/core/channels/tickets) on the Community server? That way you can get feedback on how best to go about initiating this request and then at the end of the process the documentation gets updated. :)

As this isn't directly related to our documentation I'm going to close thi

[2020-03-31 12:37] #3487 closed

[2020-03-31 12:41] justinegeffen commented on #3486
Hi @aaronrothschild. Thanks for raising this. Would you be open to updating [the doc](https://docs.mattermost.com/deployment/cluster.html#file-storage-configuration) with the required information? Happy to assist with the process, let me know if you have any questions. :)

[2020-03-31 15:05] #885 closed

[2020-04-01 10:13] Willyfrog commented on #3351
I'd say that deployment guide is probably the better option

[2020-04-01 16:16] amyblais commented on #821
Closing as this is covered in our [release process checklists](https://docs.mattermost.com/process/feature-release.html#d-t-minus-19-working-days-feature-testing).

[2020-04-01 16:16] #821 closed

[2020-04-05 12:51] esbeeb commented on #2722
Based on Justine's excellent recipe, I wrote an up-to-date recipe (Ubuntu 64-bit 18.04.4 and 19.10), posted [here](https://www.raspberrypi.org/forums/viewtopic.php?f=36&t=269505).

@justinegeffen is free to use it as a basis to update her recipe again.

[2020-04-05 12:55] justinegeffen commented on #2722
Thanks, @esbeeb, that's really helpful and much appreciated! You obviously put a lot of work into this, and it looks great. I'll have a chance to look at it in the next two weeks or so. :)

[2020-04-10 08:03] justinegeffen commented on #892
Addressed by: https://github.com/mattermost/mattermost-handbook/pull/103.

[2020-04-10 08:03] #892 closed

[2020-04-10 08:04] justinegeffen commented on #3486
Following up on this, @aaronrothschild - let me know if I can help with anything. :)

[2020-04-11 13:51] justinegeffen commented on #3472
Hi @svelle. Wanted to follow up and find out whether you've had a chance to update the docs for this? If not, let me know what the change is and I'll be happy to sort it out. :)

[2020-04-13 07:54] Naman-Bhalla commented on #2299
Hi @llhhaa !
Were you guys able to figure out a fix for the issue ? I also found the same issue while deploying Mattermost on an EBS.
Thanks.

[2020-04-13 09:28] svelle commented on #3472
Hey @justinegeffen ,
I'm out for the long weekend because of Easter holidays. I'll get on to it this week (ideally before the release of the new server version ;))

[2020-04-13 19:46] justinegeffen commented on #3472
Thanks @svelle! I've opened [this PR](https://github.com/mattermost/mattermost-server/pull/14034) in the meantime and will sync up with you when you're back. :)

[2020-04-13 22:05] Naman-Bhalla commented on #2299
Hi @llhhaa  ! Were you able to find a solution to the problem ?
Thanks

[2020-04-15 07:00] MirceaAndreiAlbu opened #3527 "Non alpha numeric characters are escaped in chat"
I am using Mattermost 4.4.0 and almost all non alpha numeric characters get escaped only in the chat box.

I've tried different fonts, but the result is the same.

![mattermost encoding](https://user-images.githubusercontent.com/7541796/79307582-ca0f9300-7eff-11ea-83e1-1fa1fa910da8.png)

[2020-04-15 12:03] amyblais commented on #3527
@mirceaeu What Mattermost server version are you on?

[2020-04-15 13:29] amyblais opened #3529 "SAML Service Provider Identity"
Original report: https://forum.mattermost.org/t/saml-service-provider-identity/9488

When configuring SAML, one of the steps is to configure the identity provider with the service provider identity URL or URI. Normally this would be done using the SP URL or some other unique ID. However, Mattermost has coded theirs to use the Identity Provider request URL. This is incorrect as if every SP did this

[2020-04-15 13:42] mirceaeu commented on #3527
Most of my colleagues don't seem to have this problem. So it looks like an account settings. But I cannot find anything in the profile settings dashboard or in the documentation.

The server version I think is 2.1.0
![image](https://user-images.githubusercontent.com/7541796/79344054-f21ae880-7f37-11ea-9678-0528f8a557f6.png)

[2020-04-15 13:43] amyblais commented on #3527
v2.1.0 is quite old, would you be able to upgrade to a more recent version? Our most recent version is v5.21.0.

[2020-04-15 13:51] mirceaeu commented on #3527
I know, but it is not my decision to take for upgrading this server.

Given the fact that other colleagues don't have this encoding problem, I suppose there is an account settings.
From were can I change the encoding of my account as the documentation doesn't say anything about this.

[2020-04-15 17:38] justinegeffen commented on #3529
Thanks, @amyblais. I've checked in with the Enterprise team to find out what the next steps are.

[2020-04-15 17:42] amyblais commented on #3529
It turns this doesn't seem to be a documentation issue after all, but probably a code bug. I'll see if Enterprise team responds or if support team can step in.

[2020-04-15 23:10] #3472 closed

[2020-04-21 18:12] JeffSchering commented on #905
Hi @justinegeffen

Sorry for the late response. I'm not in a position to help out with this right now. Thanks!

[2020-04-22 18:11] johnthompson365 commented on #3529
Is there any progress on this potential bug? Thanks.

[2020-04-22 18:35] amyblais commented on #3529
Latest update is that we are getting additional information from the reporter https://forum.mattermost.org/t/saml-service-provider-identity/9488/4.

[2020-04-25 17:42] justinegeffen commented on #3057
Hi @NOP64. Following up on this to find out whether you have any feedback on the changes, and whether they're aligned with your questions. :)

[2020-04-27 08:09] justinegeffen commented on #1505
Following up on this; @acgustafson, are you open to taking a look at this and letting me know whether they address your comments? It would be much appreciated. :)

[2020-04-27 08:10] justinegeffen commented on #3007
Hey @svelle, following up on this to find out whether I can help with this in any way. :)

[2020-04-27 11:41] svelle commented on #3007
Hey @justinegeffen I knew I forgot something.

I've opened a PR for this and assigned you as reviewer ;)

[2020-04-27 15:32] #3007 closed

[2020-04-29 07:25] jvs64893 opened #3572 "Privacy policy desktop application"
I checked the website and didn't find any privacy policy which covers the desktop application of mattermost.

There is a privacy policy regarding the server application and there is a special excerpt about telemetry in the Android application. It doesn't say anything about the desktop application though.

Is the desktop application collecting and sending any data (to 1st or 3rd parties), that is d

[2020-05-01 16:29] kaakaa opened #3589 "Request for documentation: radio button for interactive dialog"
Radio button have been supported for interactive dialog by https://github.com/mattermost/mattermost-server/issues/10465, but [`Interactive Dialogs` page](https://docs.mattermost.com/developer/interactive-dialogs.html#dialog-submission) doesn't have any mentions about `radio` type.

[2020-05-08 18:18] justinegeffen commented on #3589
Hi @kaakaa, thanks for picking this up! Would you be open to updating the page with your feedback?

[2020-05-10 02:48] fakela commented on #3486
@justinegeffen if this is not worked on I would love to work on this with your guidance.

[2020-05-10 03:58] fakela commented on #3483
@justinegeffen has this doc been updated.

[2020-05-10 07:38] svelle commented on #3483
@fakela that would be fantastic!
Unfortunately I haven't had the time to do so yet.

[2020-05-10 09:05] justinegeffen commented on #3572
Hi @jvs64893. Thanks for this question and your suggestion. I am following up on this and will revert as soon as I have an answer to your question.

[2020-05-10 09:26] justinegeffen commented on #3486
Hi @fakela! Thanks for picking this up. It has not been worked on yet, and it would be awesome working with you to update the docs. Let me know how I can help you get started. :)

[2020-05-10 09:26] justinegeffen commented on #3483
Thanks so much, @fakela, that would be awesome. Please let me or @svelle know how we can help. :)

[2020-05-10 09:38] fakela commented on #3486
@justinegeffen thanks I will start with this first

[2020-05-12 00:17] robsoncassol opened #3609 "Incorrect link on kubernetes page"
I think the link "Using a Custom Configuration"  [here](https://docs.mattermost.com/install/install-kubernetes.html#setting-up-a-kubernetes-cluster) is not correct, is linking to [Nginx page](https://kubernetes.github.io/ingress-nginx/deploy/).

[2020-05-12 15:17] #3486 closed

[2020-05-13 08:06] justinegeffen commented on #3609
Hi @robsoncassol. Thank you for letting us know about this. That sentence has been removed and the docs are pending an update which will link to that section.

If there's anything we can assist with in the interim, please let us know.

[2020-05-13 16:41] jasonblais opened #3615 "Broken images in "in-line images" section"
See: https://docs.mattermost.com/help/messaging/formatting-text.html#in-line-images

![image](https://user-images.githubusercontent.com/13119842/81840521-2245af00-9517-11ea-8e13-66dbee47a0ea.png)

[2020-05-13 17:31] #3609 closed

[2020-05-14 02:34] fakela commented on #3615
@justinegeffen I would love to work on this

[2020-05-14 04:14] justinegeffen commented on #3615
That would be awesome, @fakela! Thanks. :)

[2020-05-15 11:31] #3483 closed

[2020-05-16 09:25] justinegeffen commented on #3589
Following up on this, @kaakaa, to find out if you'd be open to updating the docs for this. I'm happy to answer any questions you have. :)

[2020-05-16 09:26] justinegeffen commented on #3474
Following up on this, @icelander. Let me know if you have any available content and if you're open to updating the docs. Also happy to collaborate on this. :)

[2020-05-18 19:58] matterdoc opened #3625 "Request for Documentation: Update HA Docs to indicate how the multi-server configuration behaves (no error catching)"
Mattermost user `aaron.rothschild` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/wh1mbxmubbfzjf5pc5yg1ijqgr).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-05-19 05:08] pulkownik1803 opened #3626 "Can not open conversation with three people"
I have created conversation with two other users and now non of us can close it nor open it. It's showing in the left pane
![image](https://user-images.githubusercontent.com/59015743/82286941-4124c500-999f-11ea-95c3-8b30e7d59463.png)
and while I'm clicking on it another entry pops up in the pane
![image](https://user-images.githubusercontent.com/59015743/82286997-729d9080-999f-11ea-8107-d604f92841

[2020-05-19 11:42] kaakaa commented on #3589
I'm sorry for my late replay. @justinegeffen
I'm interested in updating docs, however, I can't promise when I'm going to start working on it because I don't have much time right now.

[2020-05-19 11:44] justinegeffen commented on #3589
That would be extremely helpful, thank you so much. :) I totally understand time constraints so if you are able to find the time that would be awesome. Please let me know if I can assist in any way. :)

[2020-05-19 14:27] matterdoc opened #3627 "Help Wanted: How Mattermost stores Active Directory ObjectGUID."
Mattermost user `martin.kraft` from https://community-daily.mattermost.com has requested the following be documented:

[code]

You can convert this GUID format in powershell like this:

[code]

I highly doubt it, but rather these format conversions likely confuse humans.
[code]

[2020-05-19 22:56] amyblais commented on #3626
@pulkownik1803 What Mattermost server version are you on?

[2020-05-20 14:10] fakela commented on #3625
@justinegeffen can I take this up

[2020-05-20 14:16] fakela commented on #3625
@justinegeffen  if I can get more info on this I could work on this

[2020-05-20 16:11] icelander opened #3630 "Add note about DB performance to LDAP docs"
The nature of LDAP syncs can put significant load on a database server. To let customers know we should add a note like this to the [LDAP Sync Interval configuration docs](https://docs.mattermost.com/administration/config-settings.html#synchronization-interval-minutes)

[2020-05-20 18:10] justinegeffen commented on #3625
Thanks, @fakela, that would be awesome. @aaronrothschild raised the issue and he would be the best person to get more info from. Let me know if I can help with anything! :)

[2020-05-20 19:42] fakela commented on #3625
Alright sure

[2020-05-20 19:58] aaronrothschild commented on #3625
Unfortunately I'm not that familiar with the issue - I
think @dennis.kitrell is more aware of it.

On Wed, May 20, 2020 at 12:42 PM Favour Kelvin <notifications@github.com>
wrote:

[2020-05-20 20:07] fakela commented on #3625
Okay @aaronrothschild would wait for more info from @thefactremains on this

[2020-05-22 20:26] icelander opened #3634 "Help Wanted: users.json generation code samples don't say what language they're in"
[On this page](https://docs.mattermost.com/administration/command-line-tools.html#mattermost-user-migrate-auth) we provide code samples for generating a users.json file from various providers, but give no instructions on how to run this code or even what language it's in. I think it might be Python but whoever wrote it should clarify.

[2020-05-26 10:10] aaronrothschild opened #3639 "Integration Docs: When to use webhooks vs plugin vs a slash command?"
Provide some context for admins based on what they are trying to do. Perhaps a chart showing the pros/cons of each approach?  Use cases?

[2020-05-26 10:33] justinegeffen commented on #3630
Thanks, @icelander! Would you be open to adding the update to the doc?

[2020-05-26 18:48] matterdoc opened #3642 "Request for Documentation: How is away status triggered"
Mattermost user `eric.sethna` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/ghhngxgpei8g3y6gq8nwiayfce).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-05-27 05:28] thefactremains commented on #3625
Sorry for the delay on this everyone - and I apologize because I do not have the answers you're seeking.

@wiersgallak can you point us in the right direction?
[original conversation here](https://community.mattermost.com/private-core/pl/gxes5oqr7frdprzwafn9x3exrc)

[2020-05-27 11:54] #3589 closed

[2020-05-27 11:58] justinegeffen commented on #3642
Thanks, @esethna. It looks like the update would be [here](https://docs.mattermost.com/help/getting-started/signing-in.html?highlight=away%20status#setting-your-status). @deanwhillier, would you be open to confirming this behavior ahead of the update being made? Thanks!

[2020-05-27 15:40] esethna commented on #3642
Correct, that would be the right place. We should try to be as detailed as possible for the ambiguous terms. ie what does "interacting" mean in the case of browser vs desktop

[2020-05-27 17:56] deanwhillier commented on #3642
I'd propose a slight adjustment as follows:

[code]

[2020-05-29 04:13] justinegeffen opened #3647 "Request for Documentation: Data Retention FAQ"
Two new FAQs added to [data](https://docs.mattermost.com/administration/data-retention.html) retention doc based on additional comments in: https://github.com/mattermost/docs/issues/3131.

Context around the original question was provided:

- Data retention runs the actual deletion query in batches. It deletes data in blocks of 1,000 records per query in order to not lock-up the database for exten

[2020-05-29 04:14] justinegeffen commented on #3131
Closing as the initial request is complete. A new issue has been opened for the potential new FAQs.

[2020-05-29 04:14] #3131 closed

[2020-05-29 09:03] fakela commented on #3642
@justinegeffen I would love to take this up

[2020-05-29 09:19] justinegeffen commented on #3642
That's awesome news, thanks @fakela! It looks like there should be enough info to go on for now but if you get stuck or anything is unclear please don't hesitate to ping me. :)

[2020-05-30 03:51] justinegeffen commented on #3187
Hi @nmatt! The documentation has been updated as per this PR: https://github.com/mattermost/docs/pull/3189. I'm going to close this issue but please don't hesitate to reopen it should you have any questions. :)

[2020-05-30 03:51] #3187 closed

[2020-06-02 20:58] philzyk opened #3659 "Any chance to see guide for GLUU SAML config?"
Tried to setup SAML auth over GLUU, but failed.
Any help will be appreciated.

[2020-06-03 03:14] johnnykoo84 opened #3660 "AWS Beanstalk Installation Error"
I was pretty much following [Official Mattermost AWS Beanstalk Installation Guide](https://docs.mattermost.com/install/docker-ebs.html)
and I was unable to get it running.
AWS Beanstalk Application Status: severe

Any insight that I can resolve this issue?
OR anyone is able to reproduce Mattermost installation is successful with [Official Mattermost AWS Beanstalk Installation Guide](https://docs.m

[2020-06-03 08:03] justinegeffen commented on #3660
Hi, @johnnykoo84. Thanks for letting us know about this. I've alerted our Support team and in the meantime I can also recommend asking in the [Peer-to-Peer](https://community.mattermost.com/core/channels/peer-to-peer-help) channel as someone else may have experienced a similar issue and can provide some guidance.

[2020-06-03 08:05] justinegeffen commented on #3659
Hi @philzyk. Thanks for letting us know about this. Would you be open to providing the steps you followed to set SAML auth up? If you can provide any error messages or logs, and details about your environment, that would also be great. Thank you! :)

[2020-06-03 18:32] justinegeffen commented on #3660
Hi @johnnykoo84. To follow up on my previous comment, I can also recommend posting on the Troubleshooting [forum](https://forum.mattermost.org/) for additional assistance.

[2020-06-03 18:33] justinegeffen commented on #3659
To follow up on my previous comment, I also recommend posting this on the [Mattermost Forum](https://forum.mattermost.org/) for additional assistance.

[2020-06-04 17:40] matterdoc opened #3667 "Request for Documentation: ElasticSeach 7 support"
Mattermost user `katie.wiersgalla` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/ywbmdfuwkigmmjxeo1mjfrktjh).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-06-05 23:07] amyblais commented on #3529
Closing as this is not a documentation issue and is tracked via https://mattermost.atlassian.net/browse/MM-24467.

[2020-06-05 23:07] #3529 closed

[2020-06-08 14:11] svelle opened #3674 "Add troubleshooting steps to MFA page"
https://docs.mattermost.com/deployment/auth.html?highlight=mfa

Has no troubleshooting steps

[2020-06-09 13:54] #3667 closed

[2020-06-10 18:40] slt-uxd opened #3681 "Feature request: Hyperlink support + Keyboard shortcut"
Requesting the capability to have hyperlinks via a keyboard shortcut (like Cmd+K).

[2020-06-11 21:59] svelle commented on #3674
One of the most common issues with MFA is when the system's time is out of sync with the real clock.

If your server time is adrift too much the MFA code verification will stop working.

you can check this on systemd powered systems using `timedatectl`

[2020-06-12 16:12] amyblais commented on #3681
Thanks, appreciate your feedback @slt-uxd,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we

[2020-06-12 18:08] slt-uxd commented on #3681
Done: https://mattermost.uservoice.com/forums/306457-general/suggestions/40654393-hyperlink-support-keyboard-shortcut

[2020-06-12 18:20] #3681 closed

[2020-06-14 07:58] justinegeffen commented on #3660
Hi @johnnykoo84. I wanted to follow up on this and find out whether you've been able to solve the problem. :)

[2020-06-14 07:59] justinegeffen commented on #3659
Hi @philzyk. I wanted to follow up on your question and find out whether you've been able to find a resolution. :)

[2020-06-14 08:04] justinegeffen commented on #3634
Thanks, @icelander. The docs have been written by multiple contributors so it's difficult to isolate the author of this section. @wiersgallak may have some insight into this though.

[2020-06-16 04:08] gshmu opened #3692 "I want edit/delete message's addtional file"
I can edit and delete message, but wen I delete the message's addtional file. the message deleted too.

I edit this message, no way to change the addtional.

[2020-06-16 04:10] gshmu commented on #3692
Any one know how to recovery the message?

[2020-06-16 04:17] gshmu commented on #3692
Why not forbidden deleted pinned message?

[2020-06-16 13:40] amyblais commented on #3692
@gshmu What Mattermost server version are you on? What OS and version are you on?
How are you deleting the file attachment on a message?

[2020-06-17 00:19] gshmu commented on #3692
Mattermost version: 5.23.1
db Schema version: 5.23.0
db: postgres

server OS: Ubuntu
PC OS: MAC
Client: chrome browser

Because the message and the attachment is one message, I delete both message content and attachment, and all the reply of this message.  @amyblais It's a pinned message, I really want restore it.

[2020-06-17 00:50] amyblais commented on #3692
I'm guessing you deleted the first message in a thread which also deletes the rest of the thread (this is expected behaviour). Deleted messages are stored in the database, so you should contact your System Admin about recovering the message.

[2020-06-17 02:00] gshmu commented on #3692
The first message has attachment, post them same time. and I can't delete the attachment.
<img width="497" alt="image" src="https://user-images.githubusercontent.com/1797676/84846380-3da95a00-b081-11ea-9bac-c14eb4970a2f.png">

any restore guide? @amyblais

[2020-06-17 12:45] amyblais commented on #3692
@gshmu It is currently not possible to delete/edit an attachment from a posted message.

What you could do is copy the text you posted, delete the post, and then re-post the text without the attachment.

[2020-06-17 15:48] matterdoc opened #3698 "Request for Documentation: using mac's default archive utility prevents users from openning the app"
Mattermost user `guillermo.vaya` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/9ze4ju3rzjfk9b86g3z341ji8y).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-06-17 15:49] Willyfrog commented on #3698
related info: https://github.com/mattermost/desktop/pull/1110#issuecomment-571352980

[2020-06-18 09:29] #3642 closed

[2020-06-18 12:59] #3698 closed

[2020-06-18 13:53] wiersgallak commented on #3572
@jvs64893 The Desktop application is a wrapper around our web application, so it is covered by our standard privacy policy (https://github.com/mattermost/mattermost-server/blob/master/build/PRIVACY_POLICY.md). There is no difference in what data is being collected.  You can review the telemetry data collected on our Telemetry docs: https://docs.mattermost.com/administration/telemetry.html

Please

[2020-06-19 10:09] gshmu commented on #3692
@amyblais any guide to restore the message and reply. some sql or guide url, thx.

[2020-06-19 13:32] matterdoc opened #3705 "Request for Documentation: Document the use of managed resources in the desktop app"
Mattermost user `guillermo.vaya` from https://community-release.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-release.mattermost.com/_redirect/pl/t7u7qe4o83fg3czjm5pgng41fc).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[MM-2

[2020-06-22 15:40] mickmister opened #3707 "Excerpt about mscalendar plugin points to private repo"
The link at https://docs.mattermost.com/deployment/microsoft-integrations.html that points to the Microsoft Calendar plugin docs is using the private repo, rather than the gitbook docs https://mattermost.gitbook.io/plugin-mscalendar

_Issue created from a [Mattermost message](https://community-daily.mattermost.com/_redirect/pl/yx5hzjrwu3yb3e8r3jqq5fh3to) *by `@joewai.tye`*._

[2020-06-23 16:36] justinegeffen commented on #958
This is addressed and resolved by: https://zeroheight.com/29be2c109/p/741553-product-design.

[2020-06-23 16:36] #958 closed

[2020-06-23 21:38] philzyk commented on #3659
No, my boss decided to use E10 without SAML (SAML available with E20 licence) and use LDAP from GLUU
to make all run i did port mapping localhost:1636-->gluu{ip}:389
then i've connected mattermost over LDAP
some settings are a bit tricky, so if you interested in such workaround - i can share my experience
my next try will be over OpenAuth2.0+UMA in GLUU
Now studying guides

[2020-06-24 06:55] justinegeffen commented on #3659
Hi @philzyk, thanks for your reply.

If you'd be open to sharing your workaround that would be really helpful. You're welcome to share it here, or you could also create a blog post detailing your steps. @jasonblais and I will be happy to work with what you provide and find the best way to share it with the community.

Looking forward to your contribution and please let us know if we can help with

[2020-06-24 10:10] philzyk commented on #3659
Hello!
my work around:
1. iptables -t nat -I PREROUTING -p tcp -d 1[Gluu ip]/32 --dport 389 -j DNAT --to-destination 127.0.0.1:1636
2. sysctl -w net.ipv4.conf.[your interface name eth0 or ens192].route_localnet=1
3. in Mattermost:
Connection Security: TLS
Skip Certificate Verification: true
BaseDN: o=gluu
Bind Username: cn=Directory Manager
User Filter: (objectClass=gluuPerson)
Group Filter: (obje

[2020-06-24 13:55] #3707 closed

[2020-06-26 15:02] fakela commented on #3647
@justinegeffen I would love to work on this

[2020-06-26 15:20] justinegeffen commented on #3647
Awesome! It's all yours. :)

[2020-06-26 16:34] fakela commented on #3627
@justinegeffen I would love to do this, but I have a little issue as to where this information is to be located

[2020-06-27 07:47] justinegeffen commented on #3627
thanks, @fakela!

In this instance I'm going to loop @svelle and @mkraft into this discussion as they have all the background info and will be able to give you more context. This may need to go into the [SAML troubleshooting guide](https://docs.mattermost.com/install/troubleshooting.html#saml-issues) or into the [SAML documentation](https://docs.mattermost.com/deployment/sso-saml.html). Also loopi

[2020-06-28 21:47] svelle commented on #3627
Hey @fakela thank you for taking this on.

So in my mind this would fit great under the FAQ in the [SAML documentation](https://docs.mattermost.com/deployment/sso-saml.html) page, in particular the guides for ADFS 2012 and 2016.
Maybe something like "Why does the objectGUID of a user in Mattermost differ from what we're seeing in ADFS"?

Cheers!

[2020-06-29 07:52] faase commented on #3627
**@svelle wrote:**

I like the title and the idea, but I would put it into the [troubleshooting section](https://docs.mattermost.com/install/troubleshooting.html#saml-issues) mentioned by @justinegeffen.

👍

[2020-06-29 15:37] faase commented on #3674
@svelle I will add this to the [corresponding troubleshooting section](https://docs.mattermost.com/guides/administrator.html#troubleshooting).

Are there any other issues i should cover?

[2020-06-29 23:41] fakela commented on #3627
Thanks @svelle and @faase I will update the docs accordingly

[2020-06-30 18:14] #3647 closed

[2020-06-30 19:01] justinegeffen opened #3725 "Integrations: Update Message Buttons example"
Update https://docs.mattermost.com/developer/interactive-messages.html?highlight=matterpoll#message-buttons for https://github.com/mattermost/mattermost-webapp/pull/4993.

[2020-07-01 13:58] sonsofabraxas opened #3727 "MM with apache2 Proxy / Windows Client / Links to another path of subdomain not working"
**Environment:**
Mattermost Version: 5.24.1
Database Schema Version: 5.24.0
Database: mysql
Mattermost Site URL: "https://mysubdomain.mydomain.ch/mattermost"

Apache2 **Proxy** Config on Linux Debian:
[apache2_config_mydomain.txt](https://github.com/mattermost/docs/files/4858226/apache2_config_mydomain.txt)

**Reproduction**
1. As any user, post a link to a domain, that is a "sister" domain of the

[2020-07-01 16:02] icelander opened #3729 "Improve feature deprecation in Configuration Settings"
Under [Allow which users to delete messages](https://docs.mattermost.com/administration/config-settings.html?highlight=config%20settings#allow-which-users-to-delete-messages) and [Allow users to edit their messages](https://docs.mattermost.com/administration/config-settings.html?highlight=config%20settings#allow-users-to-edit-their-messages) it says "Removed in June 16, 2018 release."

This could

[2020-07-02 12:43] amyblais commented on #3727
@sonsofabraxas What Windows OS version as well as Mattermost desktop app version are you on?

[2020-07-02 13:23] sonsofabraxas commented on #3727
Windows OS 10 Pro, Version 1909, Build 18363.900 and Mattermost Desktop App v4.5.0

[2020-07-02 13:28] amyblais commented on #3727
As this sounds like a desktop app issue, would you be open to re-opening this issue in the desktop app repo https://github.com/mattermost/desktop/issues?

[2020-07-02 13:38] sonsofabraxas commented on #3727
Sure.

[2020-07-07 19:56] rajashekhargundeti opened #3735 "Kubernetes Deployment is not working"
Hi,
I'm following https://docs.mattermost.com/install/install-kubernetes.html guide to install on kubernetes.

it is failing while executing the following command, with error of unable to create CustomResourceDefinitions.
kubectl apply -n mattermost-operator -f https://raw.githubusercontent.com/mattermost/mattermost-operator/master/docs/mattermost-operator/mattermost-operator.yaml

rajashekhar_gun

[2020-07-07 20:00] rajashekhargundeti opened #3736 "Splitting Mattermost services"
Hi,

I'm deploying on Azure cloud in AKS and i would like to use Azure Managed Postgres database for database.

How can i configure it?

Thanks,
Rajashekhar

[2020-07-08 04:52] #3215 closed

[2020-07-09 21:16] icelander opened #3741 "Clarify how to generate users.json for SAML ID migration"
Relevant docs page: https://docs.mattermost.com/administration/command-line-tools.html#mattermost-user-migrate-auth

To migrate users to SAML admins have to generate a users.json file and we have code samples in (maybe) Python to generate these JSON files.

We should provide clearer instructions for how to use the code, including the language and a link to how to set up an environment to run them

[2020-07-10 06:57] justinegeffen commented on #3741
Thanks, @icelander! I'm not sure whether this will be migrated to mmctl. I'm tagging @mgdelacroix for that and @faase as he's the technical writer for mmctl.

[2020-07-11 12:20] justinegeffen commented on #3735
Hi @rajashekhargundeti. I'm sorry you're having this issue, and I'd like to recommend posting in our [Kubernetes channel](https://community.mattermost.com/core/channels/kubernetes) on our community server if you haven't already. You can also post in our forum, in the [Troubleshooting section](https://forum.mattermost.org/c/trouble-shoot/16).

You are also welcome to update the documentation with y

[2020-07-11 12:39] justinegeffen commented on #3736
Hi @rajashekhargundeti. Would you be open to posing this question in our [Peer-to-Peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help)? If you could also let me know whether you've consulted [this documentation](https://bitnami.com/stack/mattermost) that would be helpful. Thank you! :)

[2020-07-15 17:31] matterdoc opened #3752 "Request for Documentation: Kubernetes Operator and HA configuration"
Mattermost user `katie.wiersgalla` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/1jhbjqtpbtribxt88krg9f3qur).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-07-16 12:19] #3179 closed

[2020-07-24 11:22] matterdoc opened #3778 "Request for Documentation: Create Forum post: Mattermost GitLab plugin vs. Mattermost integration in GitLab"
Mattermost user `justine.geffen` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/xzfbn84ytjyq3konpe9pysi97w).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-07-24 11:25] matterdoc opened #3779 "Help Wanted: Developer docs: Add content around adding prefix to Mattermost posts using `registerPostTypeComponent` to intercept the messages."
Mattermost user `justine.geffen` from https://community-daily.mattermost.com has requested the following be documented:

[code]
I'm trying to add a prefix to Mattermost posts using `registerPostTypeComponent` to intercept the messages. However, as a result, channel mentions like `@here` are lost and render as normal text

I checked the docs here (https://developers.mattermost.com/extend/plugins/we

[2020-07-25 23:18] philipreimer commented on #3778
@justinegeffen I had also created [an issue in mattemost-plugin-github repository](https://github.com/mattermost/mattermost-plugin-gitlab/issues/187).

[2020-07-27 15:21] matterdoc opened #3784 "Request for Documentation: Update to mmctl local mode docs"
Mattermost user `katie.wiersgalla` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/ij17sekm1pyfixzhqwjrwet9uh).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-07-27 16:12] #3784 closed

[2020-07-28 13:04] dakuhonoo opened #3786 "conversation disappears when emote button is clicked"
After updating to 5.25.0 the entire chat goes blank when using the emote menu.

![image](https://user-images.githubusercontent.com/19496040/88669054-aefa1500-d0e3-11ea-8a0f-ba78d0f555ad.png)

[2020-07-28 13:30] dakuhonoo commented on #3786
After updating the client, which was 4.2.3 the issue has been solved.

[2020-07-28 13:30] #3786 closed

[2020-08-03 09:02] svelle opened #3797 "Have only NGINX with SSL in mattermost setup"
We noticed we still show how to setup Mattermost with NGINX as a reverse proxy without SSL. This can have some serious security implications if people have their instance open to the public internet.

I want to discuss removing the step without SSL from the docs altogether and only leave the final setup with SSL enabled.

[2020-08-03 09:03] svelle opened #3798 "Deprecate Ubuntu 16.04"
Since Ubuntu 16.04 is ending support soon we should move this guide to a deprecated spot and make it clear that mattermost should be setup with newer versions of ubuntu instead.

[2020-08-03 09:03] svelle opened #3799 "Add guide for Ubuntu 20.04"
20.04 is the new LTS, we should have a guide in place to install it on this.

[2020-08-03 09:04] svelle opened #3800 "Add guide for RHEL 8"
RHEL 8 has been out for a while, there should be a guide on how to install Mattermost on it.

[2020-08-03 09:05] #3674 closed

[2020-08-04 10:21] fakela commented on #3729
@justinegeffen I would love to work on this

[2020-08-06 12:17] #3615 closed

[2020-08-14 10:18] matterdoc opened #3845 "Request for Documentation: In environments with separate App and Job servers, the Job server should still be configured to "RunScheduler""
Mattermost user `stu.doherty` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/4w81dfccwin53nmqpimeo8no3h).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-08-14 15:15] justinegeffen commented on #3845
Thanks, @sadohert. Would you be open to sharing some of the doc links for reference and assisting with the changes? :)

[2020-08-15 19:40] fakela commented on #3799
@svelle I am up for this

[2020-08-15 19:54] svelle commented on #3799
@fakela fantastic! Feel free to ping me here or on the community server if you need help at any point or additional info for any of the steps. :)

[2020-08-17 03:49] huyz opened #3847 "Is migrating from Slack idempotent?"
https://github.com/mattermost/docs/blob/master/source/administration/migrating.rst says

However, https://github.com/mattermost/docs/blob/master/source/deployment/bulk-loading-about.rst says:

So I'm not sure what will happen if I run the import twice.  Am I conflating the two steps?  Or is it just that the docs for migrating.rst need to be updated for v5.20?

[2020-08-19 11:06] sadohert commented on #3845
Hi @justinegeffen  - Sorry for the delay.  I just looked at a few of the docs points and it appears we had already done updates related to this 9 months ago:

https://docs.mattermost.com/deployment/cluster.html#job-server
https://docs.mattermost.com/administration/config-settings.html#jobs

"When running Mattermost in High Availablity mode, this setting should always be enabled."

I didn't see thi

[2020-08-19 15:08] matterdoc opened #3857 "Request for Documentation: Adapt our recommendations on the systemD service file"
Mattermost user `stu.doherty` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/umqni58adpbt8prbohpd9qawuo).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-08-19 23:38] matterdoc opened #3859 "Request for Documentation: Improve the instructions in this section to include sample screen shots and detailed steps"
Mattermost user `ahmad.danial` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/h458ywytgfd5mekcwm3wiju8wo).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-08-20 15:40] matterdoc opened #3860 "Request for Documentation: ElasticSearch FAQs"
Mattermost user `katie.wiersgalla` from https://community-daily.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community-daily.mattermost.com/_redirect/pl/h8tugwa18f8p9qy8bm93q8musc).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2020-08-20 17:58] justinegeffen commented on #3845
Docs done.

[2020-08-20 17:58] #3845 closed

[2020-08-27 13:35] matterdoc opened #3872 "Help Wanted: Document how to codesign a build with you own certificates"
# Context

The Mattermost Product Documentation doesn't currently include details on how to code sign a build with a user's own certificates.

Code signing is the process of digitally signing software to verify the author's identity and ensure the code hasn't been altered since it was signed. It involves creating a digital signature using a private key and a hash of the code, then attaching this s

[2020-08-27 21:07] #3799 closed

[2020-09-04 20:07] R8s6 opened #3883 "Request for Documentation: Deploy Mattermost on Docker (regarding "sudo chown -R 2000:2000")"
In the [docker-compose installation doc](https://docs.mattermost.com/install/prod-docker.html#), under "3. Deploy the Mattermost Docker setup by running:", we have:

[code]

Is this assuming the user:group of the user is 2000:2000, or does it have to be 2000:2000?

For example, should people check with this first:
`$ id my_username`, which is usually `1000:1000`, then replace the guide with:
[code

[2020-09-06 17:17] justinegeffen commented on #3847
Hi @huyz. Thanks for picking this up! The docs have been updated. Please let me know if they answer your question. :)

[2020-09-06 22:58] gracion commented on #1295
I successfully set up mattermost alongside my existing apache2 cloud server thanks to your instructions!  I'd suggest two additional notes.

(1) If proxying a new port (e.g., 8443), you may need to add "Listen 8443" on a separate line before the <VirtualHost *:8443> entry in the .conf file.

(2) In the mattermost config.json file, Mattermost docs suggest this: "ListenAddress": ":8065" - which work

[2020-09-07 14:18] jasonblais commented on #1295
@gracion Thank you for the additional notes! Really appreciate it. Would you be open to help with a pull request to add them to the guide?

cc @justinegeffen

[2020-09-07 23:32] gracion commented on #1295
I'd love to!  Good chance to experience my first github pull request (I still live happily in the subversion world). Also my first experience with reStructuredText. Trying to setup for this, but my BBEdit rst previewer script gives an error because Pygments cannot be found because openssl@1.1 is not working with python2.7 on Catalina, etc.  Atom editor has an rst package, but I can't see a way to

[2020-09-08 02:40] gracion commented on #1295
Ok, pull request made!  I used a javascript previewer at http://rst.ninjs.org <http://rst.ninjs.org/>  - Should be no problems, but criticism is welcome.

Thanks,

--Paul

[2020-09-08 07:01] justinegeffen commented on #1295
Thank you, @gracion!

In terms of previewing the content, there is a preview server that spins up with every pull request but I see the deployment failed. I made some changes to your PR and committed them as that usually resolves the problem. In this case it didn't so I will have a chat with the DevOps team. It may be related to the PR being from a fork.

In terms of previewing the content locally

[2020-09-08 11:33] jasonblais commented on #1295
Thank you @gracion! :tada:

[2020-09-08 15:32] gracion commented on #1295
Justine,

I found the rich diff button in the PR, nice!  Plus, I realized the file view shows the rendered document with changes applied.

Thanks for asking. My local environment is adequate for docs updates. I'm configured for macOS and iOS application development, which is my actual job. Later, if I rise to the level of executable code PRs, I'll take another look at my environment, but no need t

[2020-09-08 16:38] justinegeffen commented on #1295
Oh I'm glad that worked! I mainly wanted to find out your local doc environment in case you were having an issue with ``make html``. :D But definitely no need to change anything - especially if the rich diff works. :) Thanks again for the PR!

[2020-09-10 10:58] mspisarev opened #3893 "More Options in Post Formatting"
If i click Enable Post Formatting

"If enabled, posts will be formatted to create links, show emoji, style the text, and add line breaks. By default, this setting is enabled."

But i want only links to be formatted, no smiles  & emojies.
Its no way to do it

[2020-09-12 10:15] huyz commented on #3847
@justinegeffen Great, good to know that mmetl is the way forward now.

[2020-09-12 10:15] #3847 closed

[2020-09-12 11:16] justinegeffen commented on #3847
Glad I could help, @huyz! Please let us know if you have any questions or feedback.

[2020-09-12 11:38] justinegeffen commented on #3893
Hi @mspisarev. Thanks for raising this. From what I understand, you'd like to only be able to format links so they appear as hyperlinks, but have emojis appear in their unformatted form?

I've put together examples of formatting on and formatting off:

With post formatting on, this is what I see when I use Markdown formatting:

<img width="739" alt="Screen Shot 2020-09-12 at 13 21 26" src="https:/

[2020-09-12 11:43] justinegeffen commented on #3883
Hi @R8s6. Thanks for raising this. The documentation for Docker is maintained by our community, and is not yet officially supported by Mattermost. With that in mind, I recommend posting in the [Mattermost forum](forum.mattermost.org). This opens the question up to our community and provides valuable feedback to all Mattermost users. If you're open to updating the docs with the feedback, that would

[2020-09-12 21:03] vinodhrajagopal commented on #2299
I ran into this issue as well. Any workarounds / fixes ?

[2020-09-16 03:31] jfrerich commented on #3288
@justinegeffen, @icelander this is pretty old, but if still applicable, I was wondering if if could be added as HW ticket with the `Up For Grabs` label?

[2020-09-16 04:16] justinegeffen commented on #3288
Thanks @jfrerich. That works for me! Do you need anything from my side?

[2020-09-16 04:22] jfrerich commented on #3288
Unless you want to explicitly write out the text, we could leave this as Help Wanted.  Interestingly, I don't see an `Up For Grabs` label for this repo.  If you feel there are docs improvements that could be done by community members, that would be something to consider.

Do you know why there is no `Up For Grabs` label for this repo?

[2020-09-16 11:19] justinegeffen commented on #3288
We don't currently have ``Up for Grabs`` as we've used ``Help Wanted`` (and referenced that filter in community posts about doc contributions). I don't see any reason not to add ``Up for Grabs`` though. :)

[2020-09-16 11:23] #3705 closed

[2020-09-16 11:24] justinegeffen commented on #3727
Confirmed [issue has been opened in the recommended repo](https://github.com/mattermost/desktop/issues/1336). Closing.

[2020-09-16 11:24] #3727 closed

[2020-09-16 11:26] justinegeffen commented on #3659
@svelle, adding you for visibility/forum post.

[2020-09-16 11:27] justinegeffen commented on #3660
Hi @johnnykoo84. I wanted to check in with you and find out whether you were able to resolve the issue. :)

[2020-09-16 11:28] justinegeffen commented on #3692
Hi @gshmu. I wanted to check in with you and find out whether you were able to resolve the issue. :)

[2020-09-16 11:29] justinegeffen commented on #3735
Hi @rajashekhargundeti. I wanted to follow up on this and find out whether you were able to resolve the issue you were having. :)

[2020-09-16 11:29] justinegeffen commented on #3729
@fakela, apologies for the delay. You are absolutely welcome to take this one. :)

[2020-09-16 11:31] justinegeffen commented on #3736
Hi @rajashekhargundeti. I wanted to check in on this and find out whether you've been able to resolve your question. :)

[2020-09-16 11:34] justinegeffen commented on #829
Confirmed that these instructions have been updated since this issue was opened and the path is no longer mentioned. @jasonblais, screenshot attached for reference.

![Screen Shot 2020-09-16 at 13 33 47](https://user-images.githubusercontent.com/4223530/93331893-4268e000-f821-11ea-901d-75e18c8daa81.png)

[2020-09-16 11:34] #829 closed

[2020-09-16 11:41] justinegeffen commented on #932
Confirmed that https://docs.mattermost.com/install/install-post-deployment-solution.html has the suggested content and the second link redirects to https://docs.mattermost.com/install/install-post-deployment-solution.html.

![Screen Shot 2020-09-16 at 13 41 41](https://user-images.githubusercontent.com/4223530/93332604-5bbe5c00-f822-11ea-85fb-4f13edbe4eaf.png)

[2020-09-16 11:41] #932 closed

[2020-09-16 11:50] justinegeffen commented on #2665
@amyblais, imo this has been addressed and resolved. Wanted to confirm with you before I close the issue though.

[2020-09-16 11:52] justinegeffen commented on #1818
This has been addressed in the [Product Team Handbook](https://handbook.mattermost.com/operations/research-and-development/product/product-management-team-handbook).

[2020-09-16 11:52] #1818 closed

[2020-09-16 11:54] justinegeffen commented on #1591
Hi @seenthattinker. I wanted to follow up on this, and find out whether you'd be open to confirming this has been addressed. :)

[2020-09-16 11:57] justinegeffen commented on #811
This has been added to the Product Management Handbook [here](https://handbook.mattermost.com/operations/research-and-development/product/product-management-team-handbook#how-do-i-create-redirects-for-in-product-documentation). @jasonblais, could you double-check and confirm? Thank you!

[2020-09-16 11:58] #3106 closed

[2020-09-16 12:01] justinegeffen commented on #1595
I've reviewed the documentation and the incorrect version is located in [a fork](https://jeffschering.github.io/mmdocs/upgrade/deployment/deployment.html). The Mattermost content [here](https://docs.mattermost.com/deployment/deployment.html) does not have this typo. Closing as resolved.

[2020-09-16 12:01] #1595 closed

[2020-09-16 12:01] torgeirl commented on #2665
@justinegeffen: the roadmap etc found in [current ESR docs](https://docs.mattermost.com/administration/extended-support-release.html) is exactly what I had in mind when I opened this issue. :heart_eyes:

[2020-09-16 12:02] justinegeffen commented on #2665
Thanks, @torgeirl! May I close this as resolved?

[2020-09-16 12:03] justinegeffen commented on #1015
@DSchalla, is this something you'd be open to helping with? Or, if we already have this let me know and I'll make sure it's in the correct place in the handbook. :)

[2020-09-16 12:06] justinegeffen commented on #1014
1. [Advanced permissions](https://docs.mattermost.com/deployment/advanced-permissions.html) page has been created.
2. [Deployment section](https://docs.mattermost.com/guides/administrator.html#deployment) is quite extensive, and we also have the [Enterprise Rollout Checklist](https://docs.mattermost.com/getting-started/enterprise-roll-out-checklist.html).

Closing.

[2020-09-16 12:06] #1014 closed

[2020-09-16 12:07] torgeirl commented on #2665
@justinegeffen: I assume @amyblais has any future work on this tracked elsewhere, and that this now can be closed. :+1:

[2020-09-16 12:07] #2665 closed

[2020-09-16 12:15] justinegeffen commented on #1581
Hi @seenthattinker. I've reviewed the content and I'm not able to locate the exact location of the missing hyperlinks. The content or structure may have changed since this issue was opened. Please let me know if that is the case and, if so, if the issue has been resolved. :) Thank you!

[2020-09-16 12:16] justinegeffen commented on #3081
Fixed in https://github.com/mattermost/docs/pull/3619. :)

[2020-09-16 12:16] #3081 closed

[2020-09-16 12:19] justinegeffen commented on #3102
Hi @DSchalla. These are the two docs that I could find that potentially matched: https://docs.mattermost.com/administration/prev-config-settings.html?highlight=ciphers#tls-cipher-overwrites and https://docs.mattermost.com/administration/config-settings.html?highlight=ciphers#tls-cipher-overwrites. Let me know if I missed any and if you need any help with the updates. :)

[2020-09-16 12:20] DSchalla commented on #3102
Thanks for the reminder! I think I can make the docs a bit more clear and show one example of limiting it, just for clarity. I'll see if I can find time this week for it.

[2020-09-16 12:22] DSchalla commented on #1015
Hey @justinegeffen,

we have a public documentation for this here: https://mattermost.com/security-vulnerability-report/ and a internal security team document we have in our Shared Google Drive that covers the entire internal workflow, which would cover the second side. We could move this to the public handbook, but may need to give it another pass before doing so.

[2020-09-16 12:25] justinegeffen commented on #3025
@wiersgallak, is [this section](https://docs.mattermost.com/deployment/sso-ldap.html#configure-ad-ldap-deployments-with-multiple-domains) sufficient to resolve this issue or does it need to be expanded?

[2020-09-16 13:01] justinegeffen commented on #3729
Hi @fakela, I've just done this update, my apologies - I had too many tabs open and started the work without double-checking the comments. Sorry about that!

[2020-09-16 13:59] wiersgallak commented on #3025
@justinegeffen Yeah I think this is a great start and we can collect more feedback from Customers if we need to expand more.

[2020-09-16 16:59] #811 closed

[2020-09-16 17:12] justinegeffen commented on #2158
Confirmed with @michaelgamble as completed and to be closed.

[2020-09-16 17:12] #2158 closed

[2020-09-16 17:12] justinegeffen commented on #2326
Confirmed with @michaelgamble as completed and to be closed.

[2020-09-16 17:12] #2326 closed

[2020-09-17 14:24] justinegeffen commented on #1497
This has been addressed in the mmctl documentation, which lists the required and optional parameters per command. This is one example: [mmctl user create](https://docs.mattermost.com/administration/mmctl-cli-tool.html#mmctl-user-create). Closing as resolved.

[2020-09-17 14:24] #1497 closed

[2020-09-18 14:06] gshmu commented on #3692
@justinegeffen what should I do?

[2020-09-18 14:20] justinegeffen commented on #3692
Hi @gshmu, one option is to post your question on the [Mattermost forum](forum.mattermost.org) along with a link to this issue. Someone in our community may have had the same question, or if not, your post could assist others who may have this question in future.

Have you been able to contact your System Admin as @amyblais suggested?

[2020-09-21 10:19] gshmu commented on #3692
I found the message in the notification, and post the message again, but lost some reply

[2020-09-21 10:19] gshmu commented on #3692
@justinegeffen

[2020-09-21 10:19] #3692 closed

[2020-09-21 23:06] matterdoc opened #3927 "Help Wanted: How to use k8s operator with external db/s3"
Mattermost user `joram` from https://community-daily.mattermost.com has requested the following be documented:

[code]

For custom CAs I think we'd need some extra support for that if you didn't want to rebuild the images with it baked in
[code]

[2020-09-25 10:43] fakela commented on #3860
@justinegeffen I will work on this 😊

[2020-09-28 10:45] DavidePrincipi opened #3943 "LATIN1 DB encoding error"
I want to insert an € (euro sign) in a chat message text, but I get an error:

![immagine](https://user-images.githubusercontent.com/2920838/94421627-21d84880-0186-11eb-8790-17a03544e5ad.png)

In `mattermost.log`

[code]

What I did is just running this (weird) command in a CentOS 7 system:

    localectl set-locale LANG=en_US.iso88591

...then installed PostgreSQL 12 and run `CREATE DATABASE matt

[2020-09-29 09:16] Dystharia opened #3944 "No Channels under User Management"
I just started to use Mattermost, but directly run into a problem.
The docs say:
"Configure a channel so that members can post/reply/react but guests can only read and react.
 1.  Navigate to System Console > User Management > Channels."

But under User Management I only got Users. I created 3 Channels already, so there should be something or what is the problem here?

Best regards

[2020-09-30 12:25] amyblais commented on #3944
@Dystharia Which documentation page did you read this in? Are you on Team Edition or Enterprise Edition?

[2020-09-30 13:16] Dystharia commented on #3944
@amyblais I don't know which one this is:
[Link to the Page](https://docs.mattermost.com/deployment/team-channel-management.html)

[2020-09-30 13:20] amyblais commented on #3944
Channel moderation is currently available in Enterprise Edition.

You can check your Edition by going to Main Menu > About Mattermost. It should say whether it's Team or Enterprise.

[2020-09-30 13:50] Dystharia commented on #3944
Oh okay. Thanks for the Information!

[2020-09-30 13:50] #3944 closed

[2020-09-30 23:47] avats-dev commented on #3234
@jespino @justinegeffen I want to work on this, can anyone guide me where i need to make changes. Thanks :+1:

[2020-09-30 23:50] avats-dev commented on #1501
@jespino Willing to work on this, seems easy. Can anyone guide me how to resolve this? Thanks :+1:

[2020-10-01 06:47] jespino commented on #1501
Great! Thanks!

[2020-10-01 06:50] jespino commented on #3234
Great! @justinegeffen can you specify where do you want this clarified in the documentation?

[2020-10-02 01:52] avats-dev commented on #1502
Hi @justinegeffen , I would love to add this to docs. And, yeah this might be better way to get user ID (instead of using CLI) in general. Thanks, will update soon. :+1:

[2020-10-02 08:13] grundleborg opened #3948 "Request for Documentation: Add documentation for the `ElasticsearchSettings.IndexPrefix` setting"
By setting this, all ES indexes created by MM are given the provided prefix. This will make it possible for two MM installs to share an ES cluster by setting different prefixes so the index names don't collide.

[2020-10-03 04:35] avats-dev commented on #625
@jespino what's status on this, as sphinx is now on `3.2.x`?

[2020-10-03 04:38] avats-dev commented on #722
Is this still relevant?

[2020-10-03 05:11] avats-dev commented on #3883
@justinegeffen I want to work on this. UID is different for everyone (along with GID), and so it is user dependent, default being `1000:1000` in most cases. Should I update the docs and open a PR?

[2020-10-03 10:05] jespino commented on #625
@avats-dev let me check.

[2020-10-03 10:09] jespino commented on #625
we are still using Sphinx 1.8.4, probably we should upgrade that.

[2020-10-03 10:17] jespino commented on #625
@esethna @jasonblais what do we want to do here? Do we want to create a new ticket to upgrade this?

[2020-10-03 10:21] justinegeffen commented on #3948
Thanks, @grundleborg!

[2020-10-03 19:41] Malvika18 commented on #3800
Hey i wanna contribute to this can you please guide me.

[2020-10-04 01:40] jasonblais commented on #625
@jespino yes, ticket would be great

cc @justinegeffen

[2020-10-05 09:47] svelle commented on #3800
Hi @Malvika18,
thank you for you interest in contributing.

So basically the basic steps for this would be to setup RHEL 8 on a server or virtual machine and then going through each of the steps in [this guide](https://docs.mattermost.com/install/install-rhel-7.html) fixing every step that doesn't work and/or adding needed steps to get Mattermost running on RHEL 8.

Feel free to post here or on ou

[2020-10-05 12:06] justinegeffen commented on #3800
Hi @Malvika18. To add to @svelle's reply, please let us know if you encounter any blockers in terms of creating the new content. The README of this repo has instructions around how to get started, and links to our style guide. :)

[2020-10-05 12:15] justinegeffen commented on #3234
Hi @avats-dev! My apologies for the delay! Thank you so much for your offer, it's much appreciated. :)

This is the section of the documentation that is being referred to: https://docs.mattermost.com/install/docker-local-machine.html#ubuntu. One issue is that the link to the Docker docs is incorrect, and should be: https://docs.docker.com/engine/install/ubuntu/. I believe that is a recent change t

[2020-10-05 12:16] justinegeffen commented on #3883
Hi @avats-dev! Thank you so much for offering to update the docs. That would be highly appreciated. :) I have also replied to the other ticket, thanks for the reminder.

Please let me know if I can assist with anything! :)

[2020-10-05 21:15] avats-dev commented on #3883
Thanks @justinegeffen , I will get started on this one.

[2020-10-06 14:00] spielers commented on #3269
I would like to work on this issue: looking like beginner-friendly issue

[2020-10-06 14:09] justinegeffen commented on #3269
Hi @spielers! Thank you so much! It is very beginner-friendly in terms of what needs to be done. However, it is quite an extensive body of work so I recommend working section by section, starting here: https://docs.mattermost.com/guides/administrator.html#getting-started. That said, there are likely other ways of approaching the updates so please don't be constrained by that suggestion. :)

One gu

[2020-10-06 14:13] spielers commented on #3269
Definitely, I wipo try to keep it as simple as possible
Thanks

On Tue, 6 Oct, 2020, 7:39 pm Justine Geffen, <notifications@github.com>
wrote:

[2020-10-06 14:19] justinegeffen commented on #3269
Awesome, thank you! Please feel free to post in the [Documentation channel](https://community.mattermost.com/core/channels/documentation) if you'd like to chat further or have any questions. :)

[2020-10-06 19:28] PranoveAB opened #3962 "How to make rst files after making changes in HTML files ?"
Hello,

I was able to build HTML files from the repo after using `make html` . Now that I have made changes, I need to build it back to .rst to push and compare changes. How do I do it??

[2020-10-06 21:22] ModdedGamers commented on #3269
I will also be working on this.

[2020-10-06 21:54] justinegeffen commented on #3269
Thanks, @ModdedGamers! That's great news.

I wanted to clarify which documentation needs to be updated, as the original information isn't very specific:

- https://docs.mattermost.com/guides/user.html
- https://docs.mattermost.com/guides/administrator.html
- https://docs.mattermost.com/guides/integration.html
- https://docs.mattermost.com/guides/education.html

Do you have any plans as to how the

[2020-10-07 19:20] ModdedGamers commented on #3269
If the entire documentation needs to be updated, see my paragraph labeled 2. If not, see 1.

1. We each take 2 sections of the work, so @spielers takes user and administration, and I will take integration and education.

2: I think we should split up the sections, so @spielers gets admininstration through help, and I will take install through samples.

[2020-10-07 19:26] justinegeffen commented on #3269
Thanks, @ModdedGamers. All the docs need to be updated and both of your proposals make sense to me.

The only suggestion I have is to submit the PRs based on each directory, as opposed to a PR with all the file changes from the entire doc set as it's easier to review and merge. Other than that, I look forward to seeing these much-needed changes. :)

[2020-10-07 22:37] ng29 commented on #3859
Heya Jespino,

Can I got more clearly what needs to be achieved here so that I can pick it up 👍

Cheers,

[2020-10-08 04:27] spielers commented on #3269
Cool !

On Thu, 8 Oct, 2020, 12:57 am Justine Geffen, <notifications@github.com>
wrote:

[2020-10-08 05:50] joeyfb opened #3964 "Feature Request: allow for conversation threads to be collapsed"
Searching through open issues and upcoming features I saw no mention of conversation threading. Other services (namely slack), have the ability to reply to a given comment and get those replies hidden within a thread of that comment.

It can help for large teams where lots of discussion happens on main channel, for example a school general chat where lots of announcements occur and replies to anno

[2020-10-08 14:23] justinegeffen commented on #3964
Hi @joeyfb! Thanks for raising this issue. We have a very active channel dedicated to the [Folded Reply Threads](https://community.mattermost.com/core/channels/folded-reply-threads) feature. The PM for the feature, @esethna, has provided the project plan in the channel header and is really responsive to discussions and questions.

If you'd be open to sharing some of the links you used which didn't

[2020-10-08 14:29] justinegeffen commented on #3962
Hi @PranoveAB! Would you be open to sharing the process you followed to edit the docs that you built? For example, are you working locally, and if so, are you using an authoring tool such as Atom?

In most cases, if you're using a local editor you'd write the docs in the editor and running ``make html`` just generates the HTML files. It doesn't change the content that's in the editor to HTML. :)

[2020-10-08 14:30] justinegeffen commented on #3962
You're also welcome to come and discuss this in the [Documentation channel](https://community.mattermost.com/core/channels/documentation) as this type of discussion can be really helpful to the wider community. :)

[2020-10-08 14:49] joeyfb commented on #3964
That's pretty clear! Sorry for looking/asking in the wrong place and thank you so much for taking the time to respond!

[2020-10-08 15:00] justinegeffen commented on #3964
Awesome, that's great news. :)

There's never a wrong place to ask questions - I'm very glad I could help!

[2020-10-08 15:31] #3964 closed

[2020-10-09 08:05] justinegeffen commented on #3893
Hi @mspisarev! I wanted to follow up on this and find out whether you've been able to find the information you needed. :)

[2020-10-09 09:34] mspisarev commented on #3893
Hi!

Yes, it'll be great to set only link or only emos. Separetly from each
other. For me - i want for work to see links, but not emos.

Thank you!

сб, 12 сент. 2020 г., 14:38 Justine Geffen <notifications@github.com>:

[2020-10-10 16:17] RanadeepPolavarapu commented on #3797
Hello,

I can work on this :).

[2020-10-11 04:32] kichloo opened #3974 "Add Hindi documentation to international documentation page"
@jespino I saw an issue regarding the same in another language, so adding the translation for Hindi language would cater to a larger audience. I can work on this issue

[2020-10-11 14:11] Ganzabahl commented on #3800
Hi guys,
I started on this one and are almost in goal on Centos 8.2. The RHEL7 can roughly be used, but there are still a lot of small differences. I just lack the last part, before I am ready to focus on the documentation. I hope this one is still up for grabs?

[2020-10-11 15:15] justinegeffen commented on #3800
Hi @Ganzabahl! As far as I know there hasn't been a PR for this yet! Tagging @Malvika18 for confirmation. :)

[2020-10-11 17:42] Ganzabahl commented on #3800
I think I'm more or less done and only need to review the RHEL 8 addition now (ironically have issues with sphinx with building offline).

[2020-10-11 20:08] Ganzabahl commented on #3800
I finished testing and I'm pretty happy with it. PR https://github.com/mattermost/docs/pull/3976

Sorry @svelle and @Malvika18  if you are still spending time on this. I just figured you left it untouched since there was no updates for 8 days

[2020-10-12 12:15] Ant0wan opened #3979 "Typo(upgrade-script.rst): script filename differences making instructions confusing"
In `administration/upgrade-script.rst`, the last updates changed the script filename `upgrade_mattermost.sh` to `update_mattermost.sh` - for some - resulting in differences in names across sections. This may be confusing to the readers.

[2020-10-12 14:07] Ant0wan opened #3983 "Upgrade_mattermost.sh `find` command fails to delete non-empty directories in opt/mattermost dir"
I am having troubles deploying new mattermost version using the upgrade script.
This issue is not a big deal but would be great to have it fixed.

In cases directories in path `/opt/mattermost` are not empty the folowwing:
[code]
will fail to delete the no-empty directories and then avorting script because of the `set -e` enabled.

If you don't mind, I would suggest we replace `-delete` by the `-e

[2020-10-12 16:14] justinegeffen commented on #3983
Thanks for raising this, @Ant0wan. @JtheBAB is the maintainer of the upgrade script doc, so I have looped them in here.

[2020-10-12 16:50] Ant0wan commented on #3983
Not sure whether this is relevant in general though.
Thanks a lot for the existing script.
We are upgrading mattermost servers at the company , still having some troubles with the script.
I was about making our own version. I do not know whether you would like me to share what worked out for us.
Anyway - if you need - we have time to work on it. Many thanks

[2020-10-12 18:47] justinegeffen commented on #3974
Hi @kichloo! Thanks for opening this issue. We really appreciate you offering to do this. Would you be open to detailing which issue you saw and which guides you plan to translate? We have some other translations pending so it'd be great to know what's coming down the line. :)

[2020-10-12 18:47] justinegeffen commented on #3962
Hi @PranoveAB. Wanted to follow up on this and find out whether you've been able to resolve your question? :)

[2020-10-12 18:49] justinegeffen commented on #3893
Thanks for clarifying, @mspisarev. I recommend posting your suggestion on [uservoice](https://mattermost.uservoice.com/forums/306457-general) so others can see and vote on it. :)

[2020-10-12 18:49] #3893 closed

[2020-10-12 18:51] justinegeffen commented on #3872
Hi @Lorem703! Thank you for your interest in this issue. I have assigned it to you as requested. :) Please let me know if you have any questions.

[2020-10-12 18:53] #3800 closed

[2020-10-13 04:22] kichloo commented on #3974
@justinegeffen Reference issue: #3664
Regarding the type of file, can you paste some links of the files to be translated? I will choose a file and will do it with 100% accuracy and efficiency.

[2020-10-13 15:08] johnnykoo84 commented on #3660
@justinegeffen I was not able to solve the problem and ended up finally installing mattermost server manually with docker on EC2. Thanks

[2020-10-13 15:11] justinegeffen commented on #3660
Thanks for confirming, @johnnykoo84! I'm glad it was resolved to an extent.

[2020-10-13 15:11] #3660 closed

[2020-10-13 18:01] ModdedGamers commented on #3269
I'm so sorry, but I can't work on this. I have a lot that is more important to me personally. I would love to do this, but there are things that are more important in my life right now. I wish best of luck to @spielers doing this project, but I am unable to do this for the foreseeable future.

[2020-10-13 18:08] justinegeffen commented on #3269
That is absolutely no problem, @ModdedGamers. We completely understand and we really appreciate you letting us know. :)

[2020-10-14 21:55] matterdoc opened #3992 "Help Wanted: Elastic Search Docs - Add information about required permissions for Mattermost service account"
Mattermost user `stu.doherty` from https://community-daily.mattermost.com has requested the following be documented:

[code]

Now I think I need to ensure the following things work:
* Index roll-up
* ?

Not sure the easiest way to test this on local dev.  Would our unit tests help?
[code]

[2020-10-14 22:56] ng29 opened #3993 "Adding Table of Content to Readme.md"
The idea for Adding Table of Content to Readme.md to add additional enhancement and readability to the docs file.

I would like to work on this issue.

[2020-10-15 15:16] kichloo commented on #3974
Havent got any reply yet. Kindly reply regarding the same. And if not interested, kindly tell so that I do not work on issue which is not to be considered by the organization.

[2020-10-16 09:31] grundleborg opened #4000 "Request for Documentation: Document that Elasticsearch progress bar can be inaccurate for large post tables"
For installs with large numbers of posts (typically in excess of 1 million but not strictly defined) the progress percentage for Elasticsearch reindexing can be inaccurate, in particular it may stay at 99% for a long time.

[2020-10-16 17:24] puranjaymohan commented on #3857
I want to work on this, please assign it to me and also help me get started.
Thanks

[2020-10-16 17:46] justinegeffen commented on #3974
Hi @kichloo. I apologize for the delay! Here are the two PRs that are currently open https://github.com/mattermost/docs/pull/3457 and https://github.com/mattermost/docs/pull/3664. Both PRs have an extensive collection of files as they've translated the Getting Started Guide.

In terms of your contribution, I recommend joining the [i18n channel](https://community.mattermost.com/core/channels/locali

[2020-10-16 17:48] justinegeffen commented on #3993
Hi @ng29! Thank you for raising this issue. Would you be open to elaborating on the proposed changes? One option is to open a PR with your suggestion, so we can collaborate on it. Let me know if you have any questions around the process to do so. :)

[2020-10-16 17:52] justinegeffen commented on #3943
Hi @DavidePrincipi. Thank you for raising this - I apologize for not having responded sooner. I see the linked bug report has been closed and it looks like the bug is verified. Would you be open to confirming whether the issue has been resolved?

cc: @svelle

[2020-10-16 19:24] ng29 commented on #3993
Hey @justinegeffen , iahve proposed a pr with my idea for table of contents, please review and suggest changes if required.

Cheers

[2020-10-16 20:23] justinegeffen commented on #722
Hi @avats-dev! Apologies for the delay in responding. This content is best suited to our handbook which I have updated. However, please take a look through the rest of the open issues and let me know if you have any questions about any of them. Looking forward to working with you! :)

[2020-10-16 20:23] #722 closed

[2020-10-16 20:59] #3993 closed

[2020-10-17 00:16] yash2189 commented on #4000
Hi I'm new to opensource. Can you please tell me what is to be done for this particular issue?

[2020-10-17 16:17] kichloo commented on #3974
@justinegeffen Thanks for reverting. I searched through the files and found [Readme.md](https://github.com/mattermost/mattermost-developer-documentation/blob/master/README.md) a workable file to start the documentation in Hindi for the organization. Kindly tell so that I can start working on this same.

[2020-10-17 17:23] asha15 commented on #355
Can i get some more information about this issue like what document should need to update and so on..

[2020-10-18 05:28] akshitadixit commented on #3992
Hey could you describe what needs to be done here? I'm a first time contributor. Thank you for the patience :)

[2020-10-18 08:35] yash2189 commented on #4000
@grundleborg can you please tell me what is to be done for this issue?

[2020-10-18 16:16] malakar-swastik commented on #3979
I would like to take this up! Sounds interesting to me.

[2020-10-18 16:18] malakar-swastik commented on #3927
I would like to take this up! Sounds interesting to me.

[2020-10-19 06:45] DavidePrincipi commented on #3943
Hi @justinegeffen thank you for the heads up. I confirm the bug has been fixed in the Mattermost installation script of NethServer by the [linked patch](https://github.com/NethServer/nethserver-mattermost/pull/56/files#diff-5382ec4bbe9fae01c094f3cf6ea8e2ca25def54554ec26c9f25ac50e80efc4f1). As said, I'd expect a similar command to appear in the Mattermost docs, at least saying that UTF-8 is a requi

[2020-10-19 08:39] grundleborg commented on #4000
@justinegeffen I see you added an "up for grabs" label to this - any chance you can assist @yash2189 with getting set up to contribute to the docs?

[2020-10-19 12:27] justinegeffen commented on #3974
Hi, @kichloo! Thanks for getting back to me. One suggestion I can offer is that you post your proposal in the i18n channel if you haven't already. The reason for this is the channel contains all the information you need to get started with translations in terms of the tools and processes we use. In addition, the community members could also assist you in terms of the next steps once you've complet

[2020-10-19 12:30] justinegeffen commented on #4000
Thanks, @grundleborg! I definitely can.

Hi, @yash2189! Thanks for your interest in this issue. The documentation that needs to be updated is the [Elasticsearch page](https://docs.mattermost.com/deployment/elasticsearch.html). From what it looks like, @grundleborg is suggesting adding a disclaimer around the progress bar for large deployments when indexing.

To get started with contributing to the

[2020-10-19 13:08] yash2189 commented on #4000
I would definitely work on this issue! Please tell me if there's anything more to add

[2020-10-19 13:37] justinegeffen commented on #4000
Thanks, @yash2189! From what I understand, the progress bar would be in the Mattermost UI when using Elasticsearch to index. In this instance I'd sync up with @grundleborg and confirm whether this is the case. If so, I'd consider adding a note to the docs along the lines of:

"If your installation has a large number of posts (typically in excess of 1 million but not strictly defined) the reindexin

[2020-10-19 13:42] grundleborg commented on #4000
there's nothing the user can do to mitigate it - it's just a known limitation of the feature as implemented currently which they may run into. I've had questions about it from users, and so would like the docs to note this so that they can see it's "expected behaviour".

[2020-10-19 14:04] justinegeffen commented on #4000
Perfect, thank you!

[2020-10-19 14:15] yash2189 commented on #4000
Can I work on this @justinegeffen ?

[2020-10-19 14:31] kichloo commented on #3974
@justinegeffen Joined the community. And just a question, you want me to translate the whole  `Getting Started guide` or the subsequent links such as

- Light Install Guide

1. Installation
2. Add Users
3. Create a Notifications Hub

[2020-10-19 15:00] justinegeffen commented on #3974
In the example you've provided, those links are sub-headings within a single article so if you open https://docs.mattermost.com/help/getting-started/light-install.html you'll see that it's all on one page. I'd say that that article is a great place to start. :)

[2020-10-19 15:32] kichloo commented on #3974
@justinegeffen Ok. I will start translating this page. Also, since this month is Hacktoberfest, this organization is participating Hacktoberfest? Also, are there any prerequisites to be completed before starting the contribution like DCO,CLA etc.

[2020-10-19 16:14] justinegeffen commented on #4000
You definitely can, thank you! :)